{{#nav-nav}}
<div class="list-group">

  	{{#link-to 'settings.profile' class="list-group-item"}}Your Profile{{/link-to}}
  	{{#link-to 'settings.purchases' class="list-group-item"}}Purchases {{/link-to}}
  	{{#link-to 'settings.sales' class="list-group-item"}}Sales {{/link-to}}
  	{{#link-to 'settings.creditcards' class="list-group-item"}}Cards {{/link-to}}
  	{{#link-to 'settings.seller' class="list-group-item"}}Seller Account {{/link-to}}
  	{{#link-to 'settings.buyer' class="list-group-item"}}Buyer Account {{/link-to}}
  	{{#link-to 'settings.address' class="list-group-item"}}Addresses {{/link-to}}
</div>
{{/nav-nav}}