<div class="list-group">
  	{{#link-to 'settings.profile' class="list-group-item"}}Change Icon{{/link-to}}
  	{{#link-to 'settings.transactions' class="list-group-item"}}Transactions {{/link-to}}
  	{{#link-to 'settings.creditcards' class="list-group-item"}}Cards {{/link-to}}
  	{{#link-to 'settings.seller' class="list-group-item"}}Seller Account {{/link-to}}
  	{{#link-to 'settings.buyer' class="list-group-item"}}Buyer Account {{/link-to}}
  	{{#link-to 'settings.address' class="list-group-item"}}Addresses {{/link-to}}
  	{{#link-to 'settings.username' class="list-group-item"}}Change Username {{/link-to}}
  	{{#link-to 'settings.password' class="list-group-item"}}Change Password {{/link-to}}
</div>