<h1>Change Password
	<br/><small>We'll send you an email with a special link.  Just type your email address.</small>
</h1>






	{{#if emailSent}}
		<p>
			Please check your email inbox.<br/>
			<small>We sent you instructions to reset your password.</small>
		</p>

	{{else}}
  	

		<form> 

		{{#if error409}}
	    	<div class="alert">Oops, that email address was not found.</div>
	  	{{/if}} 

		{{#if error}}
	    	<div class="alert">Oh no! Something went wrong.</div>
	  	{{/if}}   


		  	<div class="form-group"> 
	      		{{input focus-in="focus" type="text" class="form-control" placeholder="Type your email address here" enter='submit'}}
	      	</div> 

			<div class="form-group">
		  		<button class="btn btn-positive btn-right" {{action "submit"}}>Request New Password</button>
		  	</div>

		</form> 
	{{/if}}

