{{hamburger-autoclose}}
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">


		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h1>Edit Your Profile</h1>
				<br/>
				{{icon-maker}}
			</div>
		</div>

			<br/>
		<div class="row">
			<div class="col-md-12 col-sm-142col-xs-12">
			<br/>
				<h1 class="subject">Your Name
				
				<br/>
				<small>Your full name is required.</small></h1>
				{{user-form}}
			</div>
		</div>


		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h1 class="subject">Your Username
				
				    <br/><small>This is your unique "@name" and can be used for signing in and direct messages.</small>
				    </h1>
				
				{{username-form}}
			</div>
		</div>

	</div>
</div>