
<div class="row">
	<div class="col-md-6 col-sm-12 col-xs-12">


		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h1>Change Icon</h1>
				{{icon-maker}}
			</div>
		</div>

			
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h1>Update Your Name
				</h1> 
				{{user-form}}
			</div>
		</div>


		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h1>Change Username
				    <br/><small>Make it cool.</small>
				</h1> 
				{{username-form}}
			</div>
		</div>

	</div>
</div>