<h1>Change Username
    <br/><small>Make it cool.</small>
</h1> 

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
 
        
       
       {{#form-for model}}
        <div >
            {{input username placeholder="" label="false"}}
        </div> 
        {{/form-for}}

        <div {{bind-attr class="showErrorMessage:show:hide :errors"}}>
            <span class="alert">{{{errorMessage}}}</span>
        </div>

        <div>

            {{ladda-btn 
                name='change'
                btnClasses='btn btn-primary ladda-button btn-right'
                btnClick='btnClick'
                spin=isProcessing
            }}

        </div>
		
		
    </div> 
</div>