<div class="box-rigid text-center">
	
  	<div class="profile-circular-mask collection text-center">
	    {{#link-to "collection" collection class="pull-left"}}
        <img {{bind-attr src=collection.icon }}>
      {{/link-to}}
    </div>
    <div>
      {{#link-to "collection" collection}}
        {{collection.name}}
      {{/link-to}}
    </div>

  {{#if showFollows}}
  	{{ follow-btn 
  		item=collection
  		session = session
  		targetObject = targetObject
      ref_type = "collection"
  	}} 
  {{/if}}
	
</div>