<button {{action 'toggleGrid'}} {{bind-attr class=":fade renderIsDone:in :btn :btn-default :btn-list-grid"}}>
	<span {{bind-attr class=":glyphicon galleryView:glyphicon-th-list:glyphicon-th"}}></span>	
</button>

