
<button {{action 'toggleGrid'}} {{bind-attr class=":fade showGridBtn:in :btn :btn-default :btn-list-grid"}}>
	<span {{bind-attr class=":glyphicon showGridView:glyphicon-th-list:glyphicon-th"}}></span>	
</button>