<nav>

	<div class="logo">
		{{#link-to "home"}}Haul{{/link-to}}
	</logo>

	<home></home>

	<sell></sell>

	<settings></settings>

	<auth></auth>

</nav>


{{!-- 	
	<div class="navbar-header">
				
		<div class="logo-outer">
			{{#link-to "home"}}Haul{{/link-to}}
		</div>

		<div class="navbar-right">

		{{#link-to 'seller.new-product' this.slug }}	

			{{ profile-btn clickTransition="clickTransition"}}
		 
		</div> 	
	</div>

 	<div class="navbar-center navbar-collapse collapse">
		<form class="" role="search">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</form>
	</div>
</div> --}}