<div class="selected-image">
	<img class="img-responsive thumbnail" {{bind-attr src=image.small}}>
	<button {{action 'imageDelete' image}} type="button" class="btn btn-default btn-sm btn-delete">
		<span class="glyphicon glyphicon-trash"></span>
	</button>
</div>