
<div class="poop"> 
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<button id="haul-dropzone-browse" class="btn btn-default">
				<span class="glyphicon glyphicon-picture"></span>
				Browse Your Photos
				<small>or drop them here</small>
			</button>
		</div>	
	</div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="upload-images dropzone-preview">
				{{yield}}
			</div> 
		</div>
	</div>
</div> 