
<div class="poop"> 

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="upload-images dropzone-preview">
				{{yield}}
			</div> 
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 dashed">

			<div id="haul-dropzone-filebutton"></div> 

			<div id='haul-dropzone-browse' class="image-drop">
				<i class="fa fa-plus"></i>
				<i class="fa fa-camera fa-1x"></i>

				{{#if selectedImages}}
				<span>ADD MORE</span>
				{{else}}
				<div>UPLOAD ONE OR MORE PHOTOS</div>
				{{/if}}
			</div>
		</div>	
	</div>
</div> 