<div id='haul-dropzone'>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 text-center"> 
			
			<button id="haul-dropzone-browse" class="btn btn-primary">
				<span class="glyphicon glyphicon-picture"></span>
				Browse Your Photos
				<br/>
				<small>or drop them here</small>
			</button> 
		
		</div>
	</div>
	 
	<div class="row">
		<div class="col-md-3 col-sm-2 col-xs-12"></div>
		<div class="col-md-6 col-sm-8 col-xs-12 text-center">
			<div class="selected-images dropzone-preview"> 
				
				{{#each selectedImages}}
					<div class="selected-image">
						<img class="img-responsive thumbnail" {{bind-attr src=small}}>
						<button {{action 'deleteImage'}} type="button" class="btn btn-default btn-sm btn-delete">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</div>
				{{/each}}
				
			</div>
		</div>
		<div class="col-md-3 col-sm-2 col-xs-12"></div>
	</div>
</div>