<button {{action "btnClick" btnClickObj}} {{bind-attr class=btnClasses}} 
{{bind-attr data-spinner-color="dataSpinnerColor"}}
data-style="expand-right"><span class="ladda-label">{{name}}</span></button>
