{{#if product.getLikes }}
	<h4 class="top-border padding-top">Liked By</h4>
{{/if}}


{{#with session as session}}
	{{#each item in product.getLikes.users}}
		{{profile-badge user=item session=session}}
	{{/each}}				
{{/with}}