<div class="haul-loading-bar">
	<div class="progress">
	  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
	    <span class="sr-only">0% Complete</span>
	  </div>
	</div>
</div>