{{#if iconOnly}}
	
	<i {{action 'btnClick'}} class="fa fa-camera fa-2x"></i>

{{else}}

	<button {{action 'btnClick'}} class="nav-add-post"> <i class="fa fa-plus"></i>&nbsp;  {{btn-text}}</button>

{{/if}}