<div {{bind-attr class=":notification dismiss:dismiss"}}>
	<div class="notification-box">


		{{#link-to 'settings.seller'}}
			<strong>Whoop, setup your seller account.</strong>  Your items can't be purchased until you do! 
			<i class="fa fa-arrow-right"></i>
		{{/link-to}}

				<button {{action 'dismiss'}} type="button" class="close"><span aria-hidden="true">&times;</span></button>
	</div>
</div>