{{#if usersReady }}
<div class="onboarding-pod">
	<h1>People To Follow</h1>

	{{#each user in users}}
		{{#if user}}
			<div class="user">
				
				{{#link-to 'profile' user.username }}
					{{make-icon icon=user.icon class="display-inline-block"}}
					<div>@{{user.username}}</div>
				{{/link-to}}

				
				
				{{ follow-btn followUser=user openModal='openModal' class="display-inline-block" }}
				
				

			</div>
		{{/if}}
	{{/each}}
</div>
{{/if}}
