{{#if usersReady }}
<div class="onboarding-pod">
	<h1>People To Follow</h1>

	{{#each user in users}}
		{{#if user}}
			<div class="user">
				
				<div class="user-wrap">
				{{#link-to 'profile' user.username }}
					{{make-icon icon=user.icon class="display-inline-block"}}
					<div class="name">{{user.get_display_name}}</div>
					{{!-- <div class="username">{{user.username}}</div> --}}
				{{/link-to}}
				</div>

				
				
				{{ follow-btn followUser=user openModal='openModal' class="display-inline-block" }}
				
				

			</div>
		{{/if}}
	{{/each}}
</div>
{{/if}}
