<div class="onboarding-pod">
	{{!-- //CONTENT --}}
	{{#each item in sortedResults}}

			<div class="user">
				
				<div class="user-wrap">
				{{#link-to 'profile' item.user.username }}
					{{make-icon icon=item.user.icon class="display-inline-block"}}
					<div class="name">{{item.user.get_display_name}}</div>
					{{!-- <div class="username">{{user.username}}</div> --}}
				{{/link-to}}
				</div>

				
				
				{{ follow-btn followUser=item.user openModal='openModal' class="display-inline-block" }}
				
				

			</div>

		
	{{/each}}
	{{#infinite-scroll content=pagedContent hasMore=paginateHasMore }}
		<i class="fa fa-circle-o-notch fa-spin"></i>
	{{/infinite-scroll}}



	{{!-- //NO CONTENT CTA --}}
	{{#unless pagedContent }}
		<div class="padding-top text-center font-weak">
			No likes, yet be the first!
		</div>

		<p class="text-center padding-top">
			<span class="glyphicon glyphicon-bookmark sad-heart"></span>
		</p>
	{{/unless}}
</div>