	{{!-- //CONTENT --}}
	{{#each item in sortedResults}}
		{{profile-badge profile=item.user}} 
	{{/each}}
	{{#infinite-scroll content=pagedContent hasMore=paginateHasMore }}
		<i class="fa fa-circle-o-notch fa-spin"></i>
	{{/infinite-scroll}}



	{{!-- //NO CONTENT CTA --}}
	{{#unless pagedContent }}
		<div class="padding-top text-center font-weak">
			No likes, yet be the first!
		</div>

		<p class="text-center padding-top">
			<span class="glyphicon glyphicon-bookmark sad-heart"></span>
		</p>
	{{/unless}}