<div class="sort-item-wrapper">
	{{#if view.content.image.small}}<img data-id="{{unbound view.content.product_id}}" class="thumbnail haul-thumb item" {{bind-attr src=view.content.image.small}}  draggable="true">{{/if}}
	<span class="glyphicon glyphicon-move"></span> 
</div>