{{#if product.getCollections.collections }}
	<h4 class="top-border padding-top">Featured In</h4>
{{/if}}


{{#with session as session}}
	{{#each product.getCollections.collections}}
		{{collection-badge collection=this session=session}}
	{{/each}}				
{{/with}}