{{#if  session.isAuthenticated }}

    <div class="btn-group navbar-profile">

        {{#link-to 'product-new' }}
        <button class=" btn btn-default btn-cta">
            <span class="glyphicon glyphicon-camera"></span>
            Sell
        </button> 
        {{/link-to}}

        <button type="button" class="btn btn-default">
        {{#link-to 'seller' session.currentUser.slug }}
            {{ make-icon icon=session.currentUser.icon isSmall=false}} 
        {{/link-to}}
        </button>

      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="glyphicon glyphicon-cog"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>{{#link-to 'seller' session.currentUser.slug }}Profile{{/link-to}}</li>

            <li class="divider"></li>
            <li>{{#link-to 'settings'}}Settings{{/link-to}}</li>

            <li class="divider"></li>
            <li>{{#link-to 'logout'}}Logout{{/link-to}}</li>
        </ul>
      </div>
    </div>

    {{else}}


    <div class="navbar-profile">
        {{#link-to 'signup'}}<button type="button" class="btn btn-default signup">SIGNUP</button>{{/link-to}}
        {{#link-to 'login'}}<button type="button" class="btn btn-default">LOGIN</button>{{/link-to}}
    </div>

{{/if}}
