<div class="box-rigid text-center">
  	<div>
      {{#link-to "profile" profile.username class="pull-left"}}  
        {{make-icon icon=profile.icon isSmall=isSmall}}
      {{/link-to}}
    </div>
    <div>
      {{#link-to "profile" profile}}  
        {{profile.username}}
      {{/link-to}}
    </div>
</div>