<div class="profile-badge">
  	
      {{#link-to "profile" profile.username  }}  
        {{make-icon icon=profile.icon isSmall=isSmall}}
      {{/link-to}}
    
    <div class="profile-badge-name">
      {{#link-to "profile" profile.username}}
        {{profile.get_display_name}}
      {{/link-to}}
    </div>
</div>