 
	<div class="editorWrapper">
		


	{{#if hasGallery}}
		<div id="gallery" class="editor-gallery">   		
			{{#each image in selectedImages}}
				{{#if image.thumb}}<img
					{{bind-attr src=image.thumb}} 
					{{bind-attr id=image.id}} 
					draggable='true'  />{{/if}}
			{{/each}}
		</div>
		<div class="editor-gallery-label"><small>Drag and drop images into your post</small></div>	

	{{/if}}


		<div id="toolbar" class="ql-toolbar ql-snow">
			<div class="toolbar-btns">
				<span class="ql-format-group">
					<i title="Bold" class="ql-format-button ql-bold fa fa-bold"></i>
					<span class="ql-format-separator"></span>
					<span title="Italic" class="ql-format-button ql-italic fa fa-italic"></span>
					<span class="ql-format-separator"></span>
					<span title="Underline" class="ql-format-button ql-underline fa fa-underline"></span>
					<span class="ql-format-separator"></span>
					<span title="Strikethrough" class="ql-format-button ql-strike fa fa-strikethrough"></span>
				</span>

				<span class="ql-format-group">
					<span title="List" class="ql-format-button ql-list fa fa-list"></span>
					<span class="ql-format-separator"></span>
					<span title="Bullet" class="ql-format-button ql-bullet fa fa-list-ul"></span>
					<span class="ql-format-separator"></span>
				</span>

				<span class="ql-format-group">
					<span title="Link" class="ql-format-button ql-link fa  fa-link"></span> 
				</span>
			</div>
		</div>




	 
		<div id="editor">{{sanitize-html content "editorial" ENV}}</div>
	</div>
 