<span {{action 'btnClick'}} class="haul-btn"><span class="fa fa-retweet"></span> rehaul</span>

{{!-- <button {{action 'btnClick'}} class="btn btn-default"><span class="fa fa-retweet"></span></button> --}}