
<div class="pull-left padding-right">
{{pinterest-btn
	
	image=post.image.large
	description=post.subject
	data-pin-do="buttonPin"
    data-pin-config="beside"
}}
</div> 

<div class="pull-left padding-right">
{{facebook-btn
	
	data-layout="button_count"
}}
</div> 

<div class="pull-left padding-right">
{{twitter-btn
	
	data-text=post.subject
	data-size=large
	data-hashtags="haul"
	data-count="right"
}}
</div>
	
