<div class="pull-left padding-right">
{{facebook-btn
	data-href=url
	data-layout="button_count"
}}
</div>
	

<div class="pull-left padding-right">
{{pinterest-btn
	url=url
	image=product.image.large
	description=product.name
	data-pin-do="buttonPin"
    data-pin-config="beside"
}}
</div>  

<div class="pull-left padding-right">
{{twitter-btn
	data-url=url
	data-text=product.name
	data-size=large
	data-hashtags="haul"
	data-count="right"
}}
</div>