<div id="remote" class="btn-group btn-search">
	<input type="text" class="form-control typeahead tt-query" autocomplete="off" spellcheck="false" placeholder="search for users and things">
	<button type="button" class="btn btn-default">
  		<span class="glyphicon glyphicon-search"></span>
  	</button>
</div>

<button type="button" class="btn btn-default btn-go-search">
  	<span class="glyphicon glyphicon-search"></span>
</button>