{{!-- SELLER PROFILE  --}}
<header class="profile">

	{{ make-icon icon=user.icon isSmall=false isCollection=true}}

	<button class="btn btn-primary btn-follow">follow</button>

	<div class="info-block">
		<h1>{{user.name}}</h1>
		<div class="name">@{{user.name}}</div> 
	</div>

	<div class="stats-block">

		<div class="stats">
			
			<span>following</span><br/>
			<a>2399</a>

		</div>

		<div class="stats">
			
			<span>followers</span><br/>
			<a>2399</a>
			
		</div>

		<div class="stats">
			
			<span>likes</span><br/>
			<a>17</a>
			
		</div>

		<div class="stats">
			
			<span>hauls</span><br/>
			<a>170</a>
			<div class="highlight-wrap">
			<div class="highlight"></div>
			</div>
		</div> 

		<div class="clearfix"></div>
	</div> 

</header>