<div class="container-fluid">

	<div class="haul-wrapper ">

		<div class="haul-content">

			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">

				<h1>Direct Message</h1>

				{{#if canDM }}
					<div class="comments-section">
						{{direct-message toUser=user }}
					</div>
				{{/if}}
				</div> 

			</div>
		</div>
	</div>
</div>