{{what-page currentPage=currentPage page=thisPage }}

<div class="container haul-content">  
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">

			{{#unless users }}
				<div class="padding-top text-center font-weak">
				{{#unless isProfileOwner}}
					{{username}}  has no followers :(
				{{else}}
					You have no followers :(
				{{/unless}} 
				</div>

				<p class="text-center padding-top">
					<span class="glyphicon glyphicon-bookmark sad-heart"></span>
				</p>
			{{/unless}}

			{{!-- SELLER PRODUCTS --}}
			{{#each users}} 
		    	 {{profile-badge profile=this}} 
			{{/each}}  
		</div> 
	</div>
</div>