

<div class="container">  
	<div class="haul-content">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 padding-top">


				{{!-- //CONTENT --}}
				{{#each item in sortedContent}}
					{{profile-badge profile=item.user}} 
				{{/each}}
				{{#infinite-scroll content=pagedContent hasMore=paginateHasMore }}
					<i class="fa fa-circle-o-notch fa-spin"></i>
				{{/infinite-scroll}}


				{{!-- //NO CONTENT CTA --}}
				{{#unless pagedContent }}
					<div class="padding-top text-center font-weak">
					{{#unless isProfileOwner}}
						{{user.username}}  has no followers :(
					{{else}}
						You have no followers :(
					{{/unless}} 
					</div>

					<p class="text-center padding-top">
						<span class="glyphicon glyphicon-bookmark sad-heart"></span>
					</p>
				{{/unless}}
			</div> 

		</div>
	</div>
</div>