{{preserve-scroll currentScrollPos=currentScrollPos}}


{{!-- BIO --}}
{{!-- BIO --}}
{{!-- BIO --}}
{{!-- BIO --}}
<div class="container">  
	
	<div class="haul-content"> 

		<div class="row">
			
			<div class="col-md-12 col-sm-12 col-xs-12">

				<div class="padding-top margin-right text-center">
					
					

				</div>
			</div>
		</div>
	</div>
</div>


<div class="container">  
	
	<div class="haul-content"> 

		<div class="row">
			
			<div class="col-md-12 col-sm-12 col-xs-12 padding-top text-center">

		


				{{!-- EMPTY --}}
				{{!-- EMPTY --}}
				{{!-- EMPTY --}}
				{{!-- EMPTY --}}
				{{#unless pagedContent }}
					<div class="padding-top text-center">
					{{#if isProfileOwner}} 
						<h4 class="prompt-text">You haven't posted anything yet.</h4>
					{{else}}
						<h4 class="prompt-text">{{user.get_display_name}} has not posted anything yet.</h4>
					{{/if}}
						<p class="text-center" style="margin:0;">
							<!--<span class="glyphicon glyphicon-flash sad-heart"></span>-->
						</p>
					</div>
				{{/unless}}



				{{!-- MY POSTS --}}
				{{!-- MY POSTS --}}
				{{!-- MY POSTS --}}
				{{!-- MY POSTS --}}
				{{!-- MY POSTS --}}
				{{!-- MY POSTS --}} 
				{{#each post in sortedContent}}
					{{partial 'grid_post'}}	
				{{/each}}  
				{{#infinite-scroll content=pagedContent hasMore=paginateHasMore }}
					<i class="fa fa-circle-o-notch fa-spin"></i>
				{{/infinite-scroll}}

			</div>
		</div>
	</div>
</div>