

<div class="container">  
	<div class="haul-content"> 
		<div class="row">
			<div class="col-md-2 col-sm-2 col-xs-12"></div>
			<div class="col-md-8 col-sm-8 col-xs-12 padding-top">


				{{!-- //CONTENT --}}
				<div {{bind-attr class=":galleryView showGridView:in"}}>
				{{#each like in sortedContent}}
					{{#with like.post as post }}
						
						{{render '_feed_post' post}}
					
					{{/with}}
				{{/each}}
				</div>
				{{#infinite-scroll content=pagedContent hasMore=paginateHasMore }}
					<i class="fa fa-circle-o-notch fa-spin"></i>
				{{/infinite-scroll}}


				{{!-- //NO CONTENT CTA --}}
				{{#unless pagedContent }} 
					<div class="padding-top text-center font-weak">
					{{#unless isProfileOwner}}
						{{user.username}} hasn't liked anything yet.
					{{else}}
						You haven't liked anything yet.
					{{/unless}}
					</div>

					<p class="text-center">
						<span class="glyphicon glyphicon-heart-empty sad-heart"></span>
					</p>
				{{/unless}}


			</div> 
			<div class="col-md-2 col-sm-2 col-xs-12"></div>	
		</div>
	</div>
</div>