{{!-- STORE TEMPLATE --}}
<div class="seller-nav ">
	<div class="container content-fixed-nav">

		<div class="row ">
			<div class="col-md-12 col-sm-12 col-xs-12 text-center haul-font">
				   	
		     	<h1>
		     		{{ make-icon icon=user.icon isSmall=false  }}
		     		<strong>Just My Items</strong> 
		     	</h1>
		     	<small>{{#link-to "seller" user}}by {{user.name}}{{/link-to}}</small>
				 
			</div>
	 	</div>
	</div>	
</div>	


<div class="toolbar"><span></span></div>
 
<div class="container"> 

	
	{{!-- INFORMATION POD --}}
	{{#link-to "seller" user }}
	<div class="haul-grid-li ">	
		<div class="sell">  
			<div class="sell-button text-center">
				<div class="sell-text text-center haul-font">
					<span class="glyphicon glyphicon-chevron-left"></span>
					Back to Collections
				</div>
			</div> 
		</div>
	</div>
	{{/link-to}}


	{{!-- SELLER PRODUCTS --}}
    {{#each this}}
    	{{#link-to 'product' this.id }}
    	<div class="haul-grid-li"> 
			<img class="thumbnail" {{bind-attr src=image.small}}>

			{{#if sold}}
				<div class="sold">Sold</div>
			{{/if}}
			
			<div class="info">		
		 	  	<div class="price"> ${{price}}</div>   
			</div>			
	 	</div>
	 	{{/link-to}}	
	{{/each}} 
</div>