{{!-- SELLER PROFILE  --}}

{{seller-nav
	user=user
	currentUser=currentUser
	isProfileOwner=isProfileOwner
	pageItems=true
}}

<div class="toolbar"><span></span></div>
 
<div class="container"> 

	
	{{!-- INFORMATION POD --}}
	<div class="haul-grid-li ">	
		<div class="sell">  
			<div class="sell-button text-center">
				<div class="sell-text text-center haul-font">
					Your items.  
				</div>
			</div> 
		</div>
	</div>



	{{!-- SELLER PRODUCTS --}}
    {{#each this}}
    	{{#link-to 'product' this.id }}
    	<div class="haul-grid-li"> 
			<img class="thumbnail" {{bind-attr src=image.small}}>

			{{#if sold}}
				<div class="sold">Sold</div>
			{{/if}}
			
			<div class="info">		
		 	  	<div class="price"> ${{price}}</div>   
			</div>			
	 	</div>
	 	{{/link-to}}	
	{{/each}} 
</div>