
.profile-image {
	width:50px;
	height:50px;
	border-radius: 50%;

	&.default-user{
		border:1px solid #eee;
		overflow:hidden;
	}	
	.glyphicon-user{
		font-size:50px;
	}
}


.cta-welcome {
	padding-top:100px;
}



.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
	background-color: $primary-color;	
}

.profile-badge {
	img{
		float:left;
		display:inline-block;
	}
	a {
		padding-left:10px;
		padding-top:15px;
		float:left;
		display:inline-block;
	}
	.thumbnail{
		margin-bottom:0;
	}
}