.grid-post {

	width: 33%;
	border: 1px solid #eee;

	display:inline-block;

	border-bottom: 1px solid #eee;
	padding: 0px;
	padding-bottom: 50px;
	margin-bottom: 50px;
	transition: all 0.2s ease;


	.post-title {
		font-family: $primary-font;
		font-weight: 100;
		color: #333;
		padding-top: -20px;

		height: 15px;
		overflow:hidden;

		:hover {
			color: $primary-color;
			text-decoration: none;
		}
	}

	.post-owner-details {
		margin-bottom: -12px;
	}

	.post-owner {
		margin-bottom: 20px;


		.profile-image{
			padding:0;
			margin:0;
			float: left;
			border-radius: 50%;
			width: 40px;
			height: 40px;
			margin-right: 15px;

			.glyphicon-user{
				font-size:40px;
			}
		}

		.post-owner-details {
			float:none;  
			overflow:hidden;
			display:block;
			transition: all 0.2s ease;


			.name a{
				font-family: $primary-font;
				font-weight: 600;
				font-size: 12px;
				color: #333;
				transition: all 0.2s ease;
				//text-transform: uppercase;
			}
			.name a:hover {
				color: $primary-color;
				text-decoration: none;
			}
			.username a{
				font-family: $primary-font;
				font-size: 11px;
				font-weight: 100;
				color: #999;
				font-style: italic;
				text-transform: lowercase;
				transition: all 0.2s ease;

				a:hover {
					font-weight: 800;
				color: $primary-color;
				text-decoration: none;
				}
			}
			.moment{ 
				font-family: $primary-font;
				font-weight: 100;
				font-size: 9px;
				color: #cccccc;
				text-transform: lowercase;
			}
			.comment{ 
				margin-top: 10px;
				font-family: $primary-font;
				font-size: 13px;
				color: #333333;
			}
		}
	}

	
	.post-image {
		position:relative;
		display: block; 
		font-family: $primary-font;
		font-weight: 300;
		font-size: 14px;
		color: #555555;
		line-height: 1.4;
		margin-bottom: 20px;
		
		margin-left: 0px;
		margin-right: 0px;
		margin-top: -10px;

		width:100%;
		padding-bottom:100%;
		

		overflow:hidden;
		vertical-align: top;

		img {
			width: 100%;
			max-width:100%;
			padding:0px;
			margin:0;
			// margin-left:auto;
			// margin-right:auto;
			display:block;
			margin-bottom: 0px;
			
			background-color: #fff;
			//border: 8px solid #fff;
			//box-shadow: 1px 1px 1px 0px rgba(204,204,204,1);
			transition: all 0.4s ease;


			position:absolute;
		   	width:auto;
		    min-width:100%;
		    min-height:100%;

		}

		img:hover {
			-webkit-filter:  brightness(120%);
			cursor: pointer; cursor: hand;
		}

		a {
			color: $primary-color;
			text-decoration: none;
			transition: all 0.4s ease;
		}

		a:hover {
				border-bottom: 1px dashed $primary-color;
				text-decoration: none;
		}
	}


	.post-image-overlay{

		position: absolute;
		left:0;
		bottom:0;
		padding-left:15px;
		padding-right:15px;
		padding-bottom:5px;
		width:100%;

		background-color: rgba(0,0,0,.6);
		color:white;

		.product-status{
			display:inline-block;
			background-color: rgba(0,0,0,0.5);
			padding:10px;
			margin-bottom:4px;
			font-family: 'Arvo';
			font-weight: 800;
			font-size: 0.750em;
			transition: all 0.4s ease;
			cursor:pointer;
		}
		.product-status:hover{
			display:inline-block;
			background-color: rgba(247,92,97,0.8);
		}

		.product-price {
			font-family: 'Arvo';
			font-size: 1.1em;
			font-weight: 800;
			padding-bottom: 0px;
		}

		.product-title {
			font-family: $primary-font;
			color: #fff;
			font-weight: 300;
			font-size: 1em;
			line-height: 1.4;

			height: 18px;
			overflow:hidden;
		}

		.product-owner{ 
			font-size: 0.688em;
			font-weight: 600;
			margin-bottom: 12px;
			padding-top: 4px;

			.pre-text {
				font-weight: 300;
				color: rgba(255,255,255,.7);
			}
		}
	}

	.post-bottom-cap{

		padding-left:15px;
		padding-right:15px;

	}


	.post-owner {
		margin-bottom: 0px;


		.profile-image{
			padding:0;
			margin:0;
			float: left;
			border-radius: 50%;
			width: 28px;
			height: 28px;
			margin-right: 10px;

			.glyphicon-user{
				font-size:28px;
			}
		}

		.post-owner-details {
			float:none;  
			overflow:hidden;
			display:block;
			transition: all 0.2s ease;


			.name a{
				font-family: $primary-font;
				font-weight: 600;
				font-size: 12px;
				color: #333;
				transition: all 0.2s ease;
				//text-transform: uppercase;
			}
			.name a:hover {
				color: $primary-color;
				text-decoration: none;
			}
			.username a{
				font-family: $primary-font;
				font-size: 11px;
				font-weight: 100;
				color: #999;
				font-style: italic;
				text-transform: lowercase;
			}
			.moment{ 
				font-family: $primary-font;
				font-size: 10px;
				color: #cccccc;
				text-transform: lowercase;
			}
			.comment{ 
				margin-top: 10px;
				font-family: $primary-font;
				font-size: 11px;
				color: #ccc;
			}
		}
	}
}