
.haul-wrapper {
	width: 100%;  
	margin:0;
	padding: 0;
	margin-left: auto;
	margin-right: auto; 
	text-align: center;
}

.container {
	position:relative;

	width: $haul-max-width;

	@media (max-width: 810px) {
		max-width: 100%;
		&.no-margins{
			padding-left:0;
			padding-right:0;
		}
	}
}

.haul-content {
	margin:0;
	margin-left:auto;
	margin-right:auto;
	padding:0;
	//display: inline-block;
	width: 100%;
	max-width: $haul-max-width;
	@media (max-width: 400px) {
		max-width: 100%;
	}
	

	text-align: left;
	//border:1px solid teal;

	.col-left {
		margin:0;
		padding:0;		
		padding-top: 30px;
		width: 65%;
		max-width: 690px;
		float:left;
		display:inline-block;

		@media (max-width: 990px) {
			padding-right: 20px;
		}

		//Collapse Right Col
		@media (max-width: 750px) {
			width: 100%;
		}
	}

	.col-right { 
		margin:0;
		padding:0; 
		padding-top: 30px;
		width: 35%;
		min-height: 200px;
		max-width: 310px;
		float:right;
		display:block;
		overflow: none !important;
		//border:1px solid green;

		//Collapse Right Col
		@media (max-width: 750px) {
			padding-top:50px;
			width: 100%;
			float:none;
			display:table;
			margin:auto; 
		}
	}

}





.haul-wrapper2 {
	width: 100%;  
	margin:0;
	padding: 0;
	margin-left: auto;
	margin-right: auto; 
	text-align: center;
	//background-color: #EDEEE8;
}

.haul-content2 {

	position:relative;
	
	margin:0;
	padding:0;

	display: inline-block;
	width: 100%;
	max-width: $haul-max-width;
	text-align: left;	

	.col-left2 {
		//background-color: #F5F6F1;
		margin:0;
		padding:0;		
		padding-top: 30px;
		width: 65%;
		max-width: 690px;
		float:left;
		display:inline-block;

		@media (max-width: 990px) {
			padding-right: 20px;
		}

		//Collapse Right Col
		@media (max-width: 750px) {
			width: 100%;
			margin-bottom: 30px;
		} 

		//iphone
		@media (max-width: 400px) {
			margin-bottom: 30px;
		}

		&.no-margin{
			margin-left:0;
			margin-right:0;
			padding-left:0;
			padding-right:0;
		}
	}



	.col-right2 {
		top:160;
		right:0;
		position: fixed;
		z-index: $z-index-fixed-column;


		margin:0;
		padding:0; 
		width: 31%;
		min-height: 200px;
		//max-width: 310px; 

		height: 100%;

		// float:right;
		// display:block;
		overflow: none !important;
		//border:1px solid green;

		//background-color: #EDEEE8;

		//Collapse Right Col
		@media (max-width: 750px) {
			padding-top:50px;
			width: 100%;
			float:none;
			display:table;
			margin:auto; 
			z-index: 0;
			height: auto;
			position: relative;
		}

		//iphone
		@media (max-width: 400px) {
			margin-top: 30px;
		}
	}

	.col-right2-container {
		width: 300px;
		height: 90%;
		overflow: scroll;
		padding-bottom:160px;
		margin-bottom:30px;
	}
}



//Left Menu, Rigt content.
//Menu colapses on small browser, and opens with hamburger

.haul-col-menu { 

	width: 300px;
	position:relative;
	display:inline;
	float:left;
	padding-top:30px;

	.haul-menu-content {
		padding-left: 15px;
		padding-right: 15px;
		width:300px;
	}

	@media (max-width: 810px) {
		width: 100%;
		height: 100%;
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 0;
		float:none;
		display:block;
		
		top: 80px;
	}
	@media (max-width: 810px) {
		&.with-page-header {
			top: 130px;
		}
	}

	.list-group {
		margin-top:30px;
		@media (max-width: 810px) {
			margin-top:0px;
		}
	}


	.list-group-item:first-child, .list-group-item:last-child {
		border-radius: 0;
	}

	a {
  		width: 200px;
	}	 
}

.haul-col-content {
	padding: 15px;
	padding-left: 30px;
	padding-top:30px;
  	min-height: 10000px;
	background-color: $primary-background-color;
  	position: relative;
  	margin:0;
  	z-index: 1;

	overflow: hidden;

	@media (max-width: 810px) {
  		top: 0;
  		bottom: 100%;
  		left: 0;
		float:none;
		display:block;
  		min-width: 100%;
  		max-width: 100%;
  		height:100%;
  		border-left: 1px solid #eee;
  		padding-left: 75px;
  	}
}


.nav-trigger {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  	//@media (max-width: 810px) {
	  	position: fixed;
	  	left: 15px; 
	  	z-index: 2;
	  	
	  	/* non-critical apperance styles */
	  	height: 30px;
	  	width: 30px;
	  	cursor: pointer;
	  	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
	  	background-size: contain;


		top: 80px;
	//}
	&.with-page-header {
		@media (max-width: 810px) {
			top: 130px;
		}
	}
	
}

label:empty[for="nav-trigger"] {
	@media (max-width: 810px) {
		display:block !important;
	}
}

/* Make the Magic Happen */
.nav-trigger + label, .haul-col-content {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 315px;
}

.nav-trigger:checked ~ .haul-col-content {
  left: 300px;
}







