
.haul-wrapper {
	width: 100%;  
	margin:0;
	padding: 0;
	margin-left: auto;
	margin-right: auto; 
	text-align: center;
}

.container-fluid {
	position:relative;

	@media (max-width: 700px) {

		&.no-margins{
			padding-left: 0px;
			padding-right: 0px;
		}
	}
}

.container {
	position:relative;
	width: $haul-max-width;
	max-width: 100%;
}




.haul-content {
	padding:0;
	padding-top: 30px;
	margin:0;
	margin-left:auto;
	margin-right:auto;
	text-align: left;	
	
	width: 100%;
	max-width: $haul-max-width;
	
	

	.col-content {
		
		margin:0;
		padding:0;				
		float:left;
		//sdisplay:inline-block;
		overflow: none !important;

		width: 100%;
		max-width: 650px;

		//Collapse Right Col
		@media (max-width: 990px) {
			width: 100%;
			margin-left:auto;
			margin-right: auto;
			float: none;
			display:block;
		}
	}

	.col-rail { 
		margin:0;
		padding:0; 
		float:right;
		display:block;
		overflow: none !important;

		width: 35%;
		max-width: 310px;
		min-height: 200px;
		
		//Collapse Right Col
		@media (max-width: 990px) {
			padding-top:50px;
			width: 100%;
			float:none;
			display:table;
			margin:auto; 
		}

		
	}


	.col-content.lg{
		max-width: 100%;
		margin-right: -204px;
		float:left;

		.grid-post {
			width: 31%;
			@media (max-width: 729px) {
				margin-right: auto;
				width: 45%;
			}
			@media (max-width: 575px) {
				width:100%;
				margin-top:20px;
				margin-bottom:20px;
			}
		}



		@media (max-width: 990px) {
			margin-right: auto;
			margin-left: auto;
		}

		.col-content-inner {
			margin-right: 200px;
			
			@media (max-width: 990px) {
				margin-right: auto;
				margin-left: auto;
			}
		}
	}

	.col-rail.sm {
		width: 204px;
		float:right;

		@media (max-width: 990px) {
			width: 100%;
			float: none;
		}
	}

}









