// .comment-box{

// 	.mentions {
// 		color: black;
// 		background-color: white;
// 		z-index:2;
// 	}

// 	.mentions-input-box .mentions > div {
// 		color:black;
// 	}
// }




// MENTIONS
.mentions {
	width:100%;
	display:inline-block;
	text-align: left;
	border: none;
	transition: all 0.2s ease;
	
	.comment{
		width:100%;
		margin: 0;
		padding: 0;
		padding-top:20px;
		padding-bottom:20px;
		//border-bottom: 1px solid #ccc;
		border:none;
		background-color: #ffffff;

	}

	.comment.read {
		background-color: #ebebeb;
	}

	a {
		transition: all 0.2s ease;
		text-decoration: none;
	}

	a:hover {
		border-bottom: 1px dashed $primary-color;
		text-decoration: none;
	}
}

.mention-alert {
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	border-bottom: 1px dashed #cdcdcd;;

}

.more a{
	color: $primary-color;
	font-size: 10px;
	font-family: $primary-font;
	transition: all 0.2s ease;
}

.more a:hover {
	text-decoration: none;
	border-bottom: 1px dashed $primary-color;
}
 
.reply a{
	color: $primary-color;
	font-size: 10px;
	font-family: $primary-font;
	transition: all 0.2s ease;
}

.reply a:hover {
	text-decoration: none;
	border-bottom: 1px dashed $primary-color;	
}

.mention-owner {
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	border-bottom: 1px dashed #cdcdcd;
	transition: all 0.2s ease;

	.profile-image{
		padding:0;
		margin:0;
		float: left;
		border-radius: 50%;
		width: 22px;
		height: 22px;
		margin-right: 10px;
	}

	.haul-icon {
		 background-size: 22px 22px;
	}

	.post-owner-details {
		float:none;  
		overflow:hidden;
		display:block;

		.name, .name a{
			font-family: $primary-font;
			font-weight: 600;
			font-size: 11px;
			color: #333;
			transition: all 0.2s ease;
			text-decoration: none;
			//text-transform: uppercase;
		}

		.name a:hover {color: $primary-color;}
		.username, .username a{
			font-family: $primary-font;
			font-style: italic;
			font-weight: 300;
			font-size: 11px;
			color: #999;
			text-transform: lowercase;
			transition: all 0.2s ease;
			text-decoration: none;
		}
		.username a:hover {color: $primary-color;}
		.moment{ 
			font-family: $primary-font;
			font-size: 10px;
			color: #ccc;
			//text-transform: lowercase;
		}
		.comment{ 
			font-family: $primary-font;
			margin-top: 10px;
			font-weight: 400;
			font-size: 12px;
			color: #333;
		}
	}
}