.message-center{

	padding-top: 30px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom:60px;
	margin-bottom:30px;

	//position:absolute;

	overflow: scroll;

	
	min-width: 130px;

	height: 90%;

	h2 {
		padding-bottom: 8px;
		font-size: 14px;
		font-weight: 800;
		border-bottom: 1px solid #cdcdcd;
	}

}