.message-center{

	padding-top: 30px;
	padding-right: 15px;
	padding-left: 15px;

	//position:absolute;


	
	min-width: 130px;

	height: 5000px;

	h2 {
		padding-bottom: 15px;
		font-size: 14px;
		border-bottom: 1px solid #cccccc;
	}

}