	.nav-add-post {
		margin-top: 13px; 
		background-color: inherit;
		border: 1px solid #dfdfdf;
		padding: 10px 15px 10px 15px;
		font-size: 12px;
	}

//HAUL MAIN NAVIGATION
nav {
	top:0;
	left:0;
	position: fixed;
	z-index: $z-index-nav;

	width: 100%;
	height: 60px;

	margin:0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;

	background-color: #ffffff; 
	border-bottom: 1px solid #EAEAEA; 

	text-align: center;

	font-size: $nav-font-size;
	color: $nav-color;

	.collapse{
		@media (max-width: 750px) {
			display:none;
		}
	}

	.nav {
		margin:0;
		padding:0;
		display: inline-block;
		width: 100%;
		max-width: $haul-max-width;
		text-align: left;
	}

	.logo { 
		float:left;
		padding-top: 10px; 
		width: $logo-width; 
		font-size: 28px;
		font-family: Arvo, "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-align: center;
		background-color: $logo-background-color; 
		a {
			color: $logo-color;
			&:hover{
				text-decoration: none;	
			}
		}
	}
	.nav-link-wrapper {
		margin-top: 23px;
		float:left;
		display:inline;
		@media (max-width: 750px) {
			display:none;
		}
	}

	.nav-link-wrapper-collapse {
		display:none;
		margin-top: 20px;
		padding-left: 15px;
		float:left;

		i {
			padding-left: 15px;
		}

		.nav-link-badge {

		}

		@media (max-width: 750px) {
			display:inline;
		}
	}

	.nav-link {
		display:inline;
		padding:0;
		margin:0;
		margin-top: -50px;
		margin-right: 20px;
		cursor:pointer;

		a, a:hover{
			text-decoration: none;
			color: $nav-color;
		}

		.nav-link-badge {
			min-width: 20px;
			padding:2px 7px 2px 7px;
			background-color: $primary-color;
			color: #ffffff;
		}
	}

	.nav-link.home {
		margin-left: 35px;
	}

	.nav-add-post {
		margin-top: 13px;
		float: right;
		background-color: inherit;
		border: 1px solid #dfdfdf;
		padding: 10px 15px 10px 15px;
		font-size: 12px;
	}

	.nav-profile {
		float: right;
		margin-top: 18px;
		padding-left: 20px;
		position:relative;

		@media (max-width: 750px) {
			padding-right: 20px;
		}

		img {
			width:30px;
			border-radius: 50%;
		}

		&:hover{
			.dropdown-menu{
				margin-top:-5px;
				z-index: $z-index-profile-dropdown;
				display:inline;
				top:35px;
				//right: 10px;
				max-width: 300px;
			}
		}
	}
}

nav.anon {
	button {
		float: right;
		margin-right:20px;
		margin-top:10px;
	}

	.nav-link-wrapper {
		padding-left: 100px;
	}
}