

.nav-add-post {
	color: $primary-color;
	margin-top: 13px; 
	background-color: inherit;
	border: 0px solid #dfdfdf;
	padding: 10px 15px 10px 15px;
	font-size: 12px;
	transition: all 0.2s ease;

	@media (max-width: 400px) {
		padding: 5px 7px;
		margin-top:6px;
	}
}

.nav-add-post:hover {
	border: 0px solid $primary-color;
	color: $primary-color;
	background-color: #fce6e7;
}


.nav-cancel-post {
	margin-top: 13px; 
	background-color: inherit;
	border: 0px solid #dfdfdf;
	padding: 10px 15px 10px 15px;
	font-size: 11px;
	transition: all 0.2s ease;

	@media (max-width: 400px) {
		padding: 5px 7px;
		margin-top:6px;
	}
}

.nav-cancel-post:hover {
	border: 0px solid $primary-color;
	color: $primary-color;
}

//HAUL MAIN NAVIGATION
nav {
	top:0;
	left:0;
	position: fixed;
	z-index: $z-index-nav;

	width: 100%;
	min-height: 60px;

	margin:0;
	padding: 0;

	margin-left: auto;
	margin-right: auto;

	background-color: #ffffff; 
	border-bottom: 1px solid #EAEAEA; 

	text-align: center;

	font-family: $primary-font;
	font-size: $nav-font-size;
	color: $nav-color;

	@media (max-width: 999px) {
		padding-left:  15px;
		padding-right: 5px;
	}

	@media (max-width: 400px) {
		
		height: 47px;
		min-height: 47px;

		padding-left: 0;

		.btn {
			padding: 3px 6px;
			font-size: 1em;
		}

		button {
			margin-right: 5px;
			margin-top:5px;
		}
	
	}

	.collapse{
		@media (max-width: 810px) {
			display:none;
		}
	}

	.nav {
		margin:0;
		padding:0;
		display: inline-block;
		width: 100%;
		max-width: $haul-max-width;
		text-align: left;

		@media (max-width: 400px) {
			max-width: 100%;
		}
	}

	.logo { 
		float:left;
		padding-top: 22px;
		width: 90px;
		font-size: 18px;
		font-family: 'Arvo', "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: 800;
		text-align: center;
		background-color: $logo-background-color; 
		color: $logo-color;
		a {
			color: $logo-color;
			&:hover{
				text-decoration: none;	
			}
		}

		&.rehaul {
			width: 140px;

			@media (max-width: 400px) {
				padding-top:8px;
				width: 100px;
				font-size: 18px;
			}
		}

		@media (max-width: 400px) {
			padding-top:15px;
			width: 60px;
			font-size: 18px;
		}
	}
	.nav-link-wrapper {
		font-family: $primary-font;
		margin-top: 23px;
		float:left;
		display:inline;
		@media (max-width: 750px) {
			display:none;
		}
	}

	.nav-link-wrapper.right {
		font-family: $primary-font;
		margin-top: 23px;
		float:right;
		display:inline;
		@media (max-width: 750px) {
			display:none;
		}

		.btn, .btn-login, .btn-signin {
			padding-top:0;
			margin-top:0;
		}
	}


	.nav-link-wrapper-collapse {
		display:none;
		margin-top: 20px;
		margin-left:30px;
		padding-left: 20px;
		float:left;
		width: auto;

		.nav-item {
			margin-left: auto;
			margin-right: auto;
		}

		i {
			margin-left: 7px;
			margin-right: 7px;
		}

		.nav-link-badge {

		}


		a.active {
			border-bottom: 2px solid $primary-color;
			padding-bottom: 18px;
		}

		@media (max-width: 750px) {
			display:inline;
		}

		@media (max-width: 400px) {
			margin-top: 10px;
			padding-left: 0;
			.fa-2x {
				font-size: 1.3em;
			} 
		}
	}

	.nav-link {
		font-family: $primary-font;
		font-size: 11px;
		font-weight: 400;
		letter-spacing: 1.0;
		color: #555;
		display:inline;
		padding:0;
		margin:0;
		margin-top: -50px;
		margin-right: 20px;
		cursor:pointer;
		transition: all 0.2s ease;

		a {
			text-decoration: none;
			color: $nav-color;
			transition: all 0.2s ease;
		}

		a:hover {
			color: $primary-color;
		}

		a.active {
			border-bottom: 2px solid $primary-color;
			padding-bottom: 18px;
		}

		.nav-link-badge {
			min-width: 20px;
			padding:1px 4px 1px 4px;
			background-color: $primary-color;
			color: #ffffff;
		}
	}

	.nav-link.home {
		margin-left: 35px;
	}

	.nav-add-post {
		font-family: $primary-font;
		font-size: 11px;
		//color: #7e7e7e;
		color: $primary-color;
		font-weight: 600;
		float:right;
	}

	.nav-cancel-post {
		font-family: $primary-font;
		font-size: 11px;
		color: #7e7e7e;
		float:right;
	}
 
	.nav-profile {
		float: right;
		margin-top: 18px;
		padding-left: 20px;
		position:relative;

		@media (max-width: 750px) {
			padding-right: 20px;
		}

		.profile-image {
			width:30px;
			height:30px;
			border-radius: 50%;

			&.default-user{
				border:1px solid #eee;
				overflow:hidden;
			}	
			.glyphicon-user{
				font-size:30px;
			}
		}

		&:hover{
			.dropdown-menu{
				z-index: $z-index-profile-dropdown;
				display:inline;
				top:20px;
				//right: 10px;
				max-width: 300px;
			}
		}
	}

	@media (max-width: 400px) {
		.nav-profile {
			padding-left: 10px;
			margin-top:8px;

			.profile-image {
				width: 25px;
				height: 25px;	
				.glyphicon-user{
					font-size:25px;
				}
			}
		}
	}

}

nav.anon {
	button {
		float: right;
		margin-right:20px;
		margin-top:10px;
		border: 0px;
		background-color: #fff;
		text-transform: uppercase;
		font-size: 12px;
		color:#333;
		transition: all 0.2s ease;
	}

	.btn-about {
		font-size: 11px;
		color: #333;
		margin-top: 18px;
		transition: all 0.2s ease;
	}

	.btn-about:hover {
		background-color: #fff;
		color: $primary-color;
		border-bottom: 0px;
	}

	.btn-signin {
		font-size: 11px;
		color: $primary-color;
		margin-top: 18px;
		transition: all 0.2s ease;
		font-weight: 600;
	}

	.btn-signin:hover {
		background-color: #fce6e7;
		border-bottom: 0px;
	}

	.btn-login {
		font-size: 11px;
		color: #333;
		margin-top: 18px;
		transition: all 0.2s ease;
	}

	.btn-login:hover {
		background-color: #fff;
		color: $primary-color;
		border-bottom: 0px;
	}

	
	@media (max-width: 400px) {
		button {
			margin-right: 5px;
			margin-top:5px;
		}
	}


	.nav-link-wrapper {
		padding-left: 100px;
	}

	.nav-link-wrapper-collapse {
		display:inline;
		float:right;
		padding:0;
		margin:0;
		margin-top:18px;
		margin-right:10px;

		.btn, .btn-login, .btn-signin {
			padding:0;
			margin:0;
			margin-right: 20px;
		}

		.fa-search{
			margin-right: 20px;
		}
	}
}

.modal-dialog {
	nav {
		position: relative;
		padding-left:15px;
		padding-right: 15px;
	}

	&.lg{
		nav {
			padding:0;
			@media (max-width: 999px) {
				padding-left:15px;
				padding-right: 15px;
			}
		}
	}


}



