
.onboarding-pod {
	margin-bottom: 30px;
	display:inline-block;



	.user {
		width:130px;

		overflow: hidden;

		display:inline-block;
		padding:0px;
		padding-bottom:20px;

		margin-bottom:10px;
		margin:0px; 
		text-align:center;
		vertical-align: top;

		.user-wrap{
			padding-bottom: 5px;

			.profile-image {
				width:60px;
				height:60px;
				border-radius: 50%;
				.glyphicon-user{
					font-size:60px;
				}
			}

			.name{
				font-family: 'Open Sans', sans-serif;
				font-size: 12px;
				// /font-weight: 600;
			}


			.username{
				font-family: 'Open Sans', sans-serif;
				font-size: 12px;
			}
		}
	}

	.btn-follow{
		font-family: 'Open Sans', sans-serif;
	  	color: #7e7e7e;
	  	margin-top: 0px;
	  	background-color: inherit;
	  	border: 1px solid #dfdfdf;
	  	padding: 10px 20px 10px 20px;
	  	font-size: 11px;
	  	transition: all 0.2s ease;
	  	text-transform: uppercase;
	}


}