header.basic {
	width: 100%;
	text-align: center;
	background-color: #ffffff;
	z-index: 3000;
	margin:0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px dashed #eee;


	.header-basic{
		padding:0px;
		margin:0px; 
		padding-top:14px;
		width:100%;
		max-width: $haul-max-width;
		display: inline-block;

		h1 {
			float:left;
			margin-top:0;
		}

		h2 {
			float:left;
			margin-top:0;
			font-weight: 800;
			text-transform: none;
			letter-spacing: -0.03em;
		}
		
	}
}




//Header Nav For Profile.
/* Basic header for a user. */
header.profile{
	width: 100%;
	text-align: center;
	background-color: #ffffff;
	z-index: 3000;

	margin:0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	min-height:80px;
	border-bottom: 1px dashed #eee;
}

.profile-container{
	padding:0px;
	margin:0px; 

	padding-top: 20px;
	padding-bottom: 20px;
	@media (max-width: 700px) {
		padding-top: 10px;
	}

	width:100%;
	max-width: $haul-max-width;
	display: inline-block;
		
	h1 {
		float:left;
		margin-top:0;
	}

	.profile-image {
		padding:0;
		margin:0;
		float: left;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		.glyphicon-user{
			font-size:40px;
		}

		// @media (max-width: 400px) {
		// 	width:30px;
		// 	height:30px;
		// 	.glyphicon-user{
		// 		font-size:30px;
		// 	}
		// }
	}

	.profile-name {

		float:left;
		font-family: $primary-font;
		text-align: left;
		padding-left: 10px;
		padding-top: 0px;
		transition: all 0.2s ease;

		.name{
			font-size: 20px;
			font-weight: 800;
			//text-transform: uppercase;
			display:block;
			color: #333;
			letter-spacing: -0.05em;
		}

		a { 
			text-decoration: none;
			transition: all 0.2s ease;
			color:#333;
		}

		a:hover {
			color: $primary-color;
			text-decoration: none;

		}

		.username{
			font-size: 11px;
			font-weight: 300;
			font-style: italic;
			text-transform: lowercase;
			display:block;
			color: #999;
			margin-top: -2px;
		}

		.bio {
			margin-top: 8px;

			max-width: 600px;
			@media (max-width: 700px) {
				max-width: 300px;
			}
			@media (max-width: 400px) {
				max-width: 200px;
			}

			font-family: $primary-font;
			font-size: 11px;
			font-style: italic;
			
			height: 17px;
			max-height:17px;
			width:600px;
			overflow: hidden;
			transition: max-height 0.2s ease;
			cursor: pointer;
			color: #999;

			a.tag-cloud {
					font-family: $primary-font;
					color: $primary-color;
					margin-top: 4px; 
					background-color: #ffebeb;
					border: 0px solid #ffdddd;
					border-radius: 10px;
					padding: 6px 8px 6px 8px;
					font-size: 11px;
					font-weight: 500;
					transition: all 0.2s ease;
					text-transform: none;

					@media (max-width: 100px) {
						padding: 5px 10px;
						margin-top:0px;
					}
			}

			a.tag-cloud:hover {
						background-color: $primary-color;
						color: #fff;
			}
		}

		.bio:hover{
			max-height:200px;
			height:100%;
			overflow:none;
		}
	}

	.btn-follow {
		font-family: $primary-font;
		color: #7e7e7e;
		margin-top: 0px; 
		background-color: inherit;
		border: 1px solid #dfdfdf;
		padding: 10px 20px 10px 20px;
		font-size: 11px;
		transition: all 0.2s ease;
		text-transform: uppercase;

		@media (max-width: 700px) {
			padding: 5px 10px;
			margin-top:0px;
		}

	}

	.btn-dm {
		font-family: $primary-font;
		color: #7e7e7e;
		margin-top: 0px; 
		background-color: inherit;
		border: 1px solid #dfdfdf;
		padding: 10px;
		font-size: 11px;
		transition: all 0.2s ease;
		text-transform: uppercase;

		@media (max-width: 700px) {
			padding: 5px 10px;
			margin-top:0px;
		}

	}

	.btn-follow:hover {
	border: 1px solid $primary-color;
	color: $primary-color;
}



	.stats {
		text-align: center;
		@media (max-width: 700px) {
			float:left;
			width:100%;
			text-align: center;
			//margin-left:50px;
		}
		.counts{
			@media (max-width: 700px) {
				display:inline-block;
			}
		}
		.follow{
			@media (max-width: 700px) {
				display:inline-block;
				
			}
		}
	}

	.stat-btn {
		padding-left: 24px;
		padding-top: 10px;
		float:right;
		//text-transform: uppercase;
		text-align: center;
		color:#999;

		font-family: $primary-font;
		font-weight: 300;
		transition: all 0.2s ease;

		&:hover {
			color: $primary-color;
		}

		.total{ 
			font-size:14px;
			display:block;
		}
 

		.title {
			font-size: 10px;
			display:block;
		}
 

		a {
		//	text-decoration: none;
		}

		@media (max-width: 700px) {

			float:left;
			display: inline-block;
			padding-left:0;
			padding-right:10px;

			.total{
				min-height: 0;
				font-size: .7em;
			}
			.title{
				font-size: .7em;
			}

		}
	}

}










