
//QUILL EDITOR
.ql-format-group{
	.ql-format-button{
		margin:4px;

		&:hover{
			color:#333;
			border: 1px solid #ddd;
		}
	}
}

#toolbar.fixed{
	z-index: 4000;
	background-color: white;
	position:fixed;
	max-width:671px;
	border-bottom: 1px solid #ccc;
	transition: top 0.2s ease-in-out;
}


.ql-editor-col {
	padding-bottom: 100px;
}

	.editor-gallery-label {
		border-bottom: 1px solid #ccc;
	}
 
	
	.editor-gallery {
		width:100%;
		min-height: 140px;
		display:inline-block; 
		overflow: scroll;
		border: 0;
		padding-left: 10px;
		padding-top: 15px;
		text-align: left;
 
		img {
			width:60px;
			height:60px;
			padding: 2px;
			border: 1px solid #ccc;
			margin-bottom:4px;
			cursor:pointer;
			opacity: .8;

			&:hover{
				opacity: 1;
			}
		}  
	}

 
 #editor{
	-moz-transition: height 0.2s ease-in-out;
	-o-transition: height 0.2s ease-in-out;
	-webkit-transition: height 0.2s ease-in-out;
	transition: height 0.2s ease-in-out;

	min-height: 100px; 
}



	.editorWrapper {
		width:100%;
		//border: 1px solid #e3e3e3;
		font-weight: normal;

		// .ql-toolbar {
		// 	background-color: rgba(248, 248, 248, 1);
		// 	border-bottom: 1px solid #ccc;
		// }

		.ql-container {
			padding: 4px;
		}

		.ql-editor{
			img{
				border: 1px solid #eee;
				width: 40%;
				height: 40%;
				margin: auto;
				display: table;
			}
		}
	 
	}