.transactions{
	.header {
		font-weight: bold;
		padding:10px;
		margin-bottom:15px;
		border-bottom: 1px solid #eee;
	}	
}

.transaction-list{

	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
	margin-bottom: 15px;

	.cancel {
		color: red;
		text-decoration: bold;
	}

	img {
		width: 30px;
		height: 30px;
	}
}

.transaction-detail {

	a {
		color: $primary-color;
		text-decoration: underline;
	}

	.header {
		background-color: #eee;

		font-weight: bold;
		padding:10px;
		margin-bottom:15px;
	}

	img {
		width: 75px;
		height: 75px;
		float:left;
		margin: 10px;
	}

	.block {
		display:inline-block;
	}

	.profile-image {
		width: 50px;
		height: 50px;
		.glyphicon-user{
			font-size:50px;
		}
	}
}