.modal{
	display:none;
	z-index: 3000;
	//padding-top: 100px;
	background-color: rgba(51, 51, 51, 0.8);
	overflow: scroll;
}

.modal.in {
	display: inline;
}

.modal.out {
	display: none;
}



a {
	color: #66757f;
	cursor: pointer;
}

.btn-primary {
	border-color: #5B89A8;
	background-color: #66757f;
}

.btn-buy {
	border-color: #333333;
	background-color: #5bb75b;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	font-weight: bold;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.btn-buy:hover{
	background-color: #51a351;
	color: #ffffff;
}

h1, h2, h3, h4, h5 {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #3a4457;
}

h4 a {
	color: #3a4457;
}

div.inline img {
	float: left;
}

h2.inline {
	float: left;
	display: inline;
	img {
		float: left;
		display: inline;
	}
}



label {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.haul-header {
	padding-top: 10px;
}

.haul-font {
	font-family: Arvo, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}


.haul-font-weak {
	font-family: Arvo, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
}

.font-weak {
	font-weight: normal;
}

html {
	height: 100%;
	width: 100%;
}

body {
	background-color: #ffffff;
	background-image: none;
	position: relative;
	padding-top: 50px;
	
}

.text-regular {
	font-weight: normal;
	font-family: arial;
}

.truncate {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.glyphicon.red {
	color: red;
}

.sad-heart {
	font-size: 200px;
	color: #F6F6F6;
}

.clearfix:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.display-inline {
	display: inline;
}

.profile-image {
	width: 100px;
	height: 100px;
	//background-color: #ddd;
	border-radius: 50%;
	display: inline-block;
	&.sm {
		width: 50px;
		height: 50px;
	}
	&.collection {
		border-radius: 20%;
	}
}

.show {
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

nav {
	top:0;
	left:0;
	width: 100%;
	position: fixed;
	z-index: 3000;
	background-color: #fff;
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent; 
	border-bottom: 1px solid #ccc;
	box-shadow: 0px 1px 1px #eee; 

	.logo {
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		z-index: 2000;
		position: absolute;
		top: 0;
		left: 0;
		margin-left: 20px;
		padding-top: 20px;
		padding-left: 10px;
		width: 100px;
		height: 60px;
		font-size: 30px; 
		background-color: #3a4457;
		box-shadow: 0px 2px 2px #000; 
		font-family: Arvo, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: bold;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		a {
			color: #fff;
		}
	}

	.active .btn-default{
		background-color: #eee;
	}

	.container-fluid {
		margin-top: 8px;
	}

	.btn-home {
		float: left;
		margin-left: 110px
	}

	.btn-search {
		margin-left: 5px;
		input {

			-moz-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			-webkit-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			float: left; 
			width: 300px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			border-right: none;
		}
	}

	.btn-go-search{
		float:left;
		display:none;
	} 

	.btn-sell {
		float: left;  
		margin-left:5px
	}

	.btn-profile {
		float: right;
		margin-left:5px;

		> a {
			float:left;
			
			.btn:first-child{
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
	} 

	.btn-signup {
		float: right;
		margin-left:5px
	} 

	.btn-login {
		float: right;
		margin-left:5px
	} 

	.input-group input{
		width: 100px;
	}

	.profile-image.sm{
		width: 20px;
		height: 20px;
		padding:1px;
	}

	@media (max-width: 768px) {
		.logo {
			margin-left: 10px;
			padding-left: 10px;
			padding-top: 25px;
			width: 75px;
			height: 55px;
			background-color: #3a4457;
			box-shadow: 0px 2px 2px #000;
			font-size: 20px;
		}

		.container-fluid {
			padding-right: 8px;
		}

		.btn-home {
			margin-left: 80px;
		}

		.btn-go-search{
			display:inline;
			margin-left: 5px;
		}

		.btn-search {
			display:none;
			margin-left: 5px;
		}

	} 
}



/* Basic header for a user. */
header.profile{
	padding:0px;
	margin:0px;
	position:relative;
	background-color: #f5f5f5;
	padding-top:30px;  
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

	.btn-follow {
		float: right;
		margin-top:15px;
		margin-right: 20px;
	}

	.profile-image {
		position:absolute;
		top: 30px;
		left: 20px;
		width: 100px;
		height: 100px;
	}
 
	.info-block{
		padding-left:130px;
		padding-top:15px;
		height: 40px;

		h1 {
			margin:0px;
			padding: 0px;  
			font-size: 24px;
		}
		
		.name {
			font-size: 12px;
			margin-top: 0px;

			a:hover{
				cursor:pointer;
				text-decoration: none;
			}
		}
	}

	.stats-block { 
		padding: 10px 0px 0px 130px;
		background-color: white;
		margin-top: 25px; 
		border-top: 1px solid #ddd;
		border-bottom: 2px solid #E1E8ED;

		.active ~ .active {
			color: red;
		}

		.activehack{
			color: red;
		}

		.stats {
			transition: all 0.5s ease-out-in;
			border-bottom: 4px solid transparent;
			float: left;
			padding-left: 0px;
			padding-right: 25px;
			font-size: 14px;

			a span {
				font-weight: bold;
			}


			a:hover{
				cursor:pointer;
				text-decoration: none;
			}
		}

		.stats:hover{
			transition: all 0.5s ease-in-out;
			border-bottom: 4px solid red;
			text-decoration: none; 
			cursor:pointer;
		}
	}
}
@media (max-width: 768px) {
	header.profile{
		.stats-block{
			.stats {
				display: inline;
				font-size: 11px;
				padding-right: 15px;
			}
		}
	}
}


.haul-content {
	width: 100%;
	min-height: 1000px;
	margin:0px;
	padding: 20px 30px 30px 30px;
	background-color: #fafafa;
	border-bottom: 1px solid #ccc;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

	p {
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	}
	
	

	.citation {
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		display:inline-block;
		padding:0px;
		margin:0px;
		margin-bottom:10px;
		width: 100%;
		
		.glyphicon-retweet {
			padding:0;
			margin:0;
			float:left;
			padding-right: 10px;
		}

		.name {
			padding:0;
			margin:0;
			float:left;
			font-size: 11px;
			padding-right: 8px;

			.rehauled {
				font-color: #3a4457;
				font-style: italic;
			}
		}

		.image{
			float:left;
			position: relative;
			margin-right: 4px;
			width:40px;
			height:3px;
			.profile-image{
				position:absolute;
				margin:0;
				margin-top: -15px;
				margin-right: 6px;
				margin-bottom:0; 
				width: 40px;
				height: 40px;
				padding:2px;
			}
		}

	}



	.post {
		position: relative;
		background-color: #ffffff;
		border: 1px solid #ccc;
		padding: 15px;
		margin-top:15px;

		max-width: 540px;
		display:inline-block;
		text-align: left;

		.btn-edit-post {
			position:absolute;
			right:-15px;
			top:-15px;
		}
		
		.article { 	
			display:table;
			margin:auto;
			max-width: 500px;
	
			h2 { 
				display:block;
				margin:0px;
				padding:0px;

				a{
					text-decoration: none;
					color: #3a4457;
				}
			}

			.moment {
				color: #bbb;
				font-size: 12px;
				padding-bottom: 3px;
				display:block;
			}

			.carousel {
				margin-top: 20px;
				margin-bottom: 20px;
				border-radius: 0px;	
			}

			.product-image {
				position:relative;

				.price {
					min-width: 70px;
					position:absolute;
					padding: 3px 5px 3px 5px;
					top:50px;
					left:-15px;
					font-size: 20px;
					color: white;
					background-color: #3a4457;
					border-right: 1px solid #333;
					border-bottom: 1px solid #333;
					z-index:2000;
				}

				.thumbnail{
					margin-bottom: 10px;
					border-radius: 0px;
				}
				img {
					// width: 50%;
					// height: 50%;
					min-width: 320px;
					min-height: 320px;
				}
			}


			.editorial{
				padding-top: 0px;
				width: 100%;
				display:inline;
				float:left;
				img{
					margin:auto;
					display: table;
					padding:10px;		
				}
			}

			.btn-original-post{
				position: absolute;
				border-radius: 20%;
				top:-20px;
				right:-30px;
				background-color: #efefef;
				padding:5px;
			}

			.btn-wrapper{
				width:100%;
				position:absolute;
				display:block;
				bottom:0;
				text-align: right;
				padding-top:1px;
				padding-bottom:1px;
				padding-right:2px;
				background-color: rgba(255, 255, 255, 0.7);
				border-top: 1px solid #ccc;

				.glyphicon{
					padding-left: 2px;
				}
			}

			.btn-default {
				display: inline;
			}
		}	
	}


	.sidebar {
		border: 1px solid #ccc;
		padding:15px;
		margin-top:45px;
		.seller{
			background-color: #f9f9f9;

			.profile-image {
				position:absolute;
				padding:2px;
				width: 60px;
				height: 60px;
			}

			h5{
				margin:0;
				margin-bottom:10px;
				border-bottom: 1px solid #eee;
			}

			.price{
				margin-top:50px;
				font-size: 20px;
				display: inline-block;
			}
			.btn-buy{
				display: inline-block;
			}
			.name{
				padding-top: 5px;
				font-size: 18px;
			}
		 
			.info-block{
				padding-left:65px;
				padding-top:15px;
				margin-bottom: 35px;
				height: 40px;


				h1 {
					margin:0px;
					padding: 0px;  
					font-size: 18px;
				}
				
				.name {
					font-size: 12px;
					margin-top: 0px;

					a:hover{
						cursor:pointer;
						text-decoration: none;
					}
					border-bottom: 1px solid #eee;
				}
			}

			.product-image {
				position:relative;
				padding-bottom:10px;
				.thumbnail{
					margin-bottom: 10px;
					border-radius: 0px;
				}
			}
		}
	}
	@media (max-width: 768px) {
		.sidebar{
			margin-top:0px;
			border-top: none;
		}
	}

	.comments{
		.citation {
			margin-top: 10px;

			.small {

			padding:0;
			margin:0;
			float:left;
			font-size: 11px;
			padding-right: 8px;
			}
		}
		.single-comment {
			padding-left: 30px;
		}


	}
	
}

@media (max-width: 768px) {
	.haul-content {
		margin:0;
		padding: 20px 20px 30px 20px;
	}
}





@media (max-width: 768px) {
	.form-fields {
		padding-left: 40px;
		padding-right: 40px;
	}
}
.haul-edit {
	padding-top: 30px;
	padding-bottom: 180px;
	height: 100%;
	position:relative;

	.btn.show{
		display:inline !important;
	}

	.toolbar-footer {
		max-height: 50px;
		left:0;
		bottom: 0px;
		position: fixed;
		display: inline;
		padding-top: 20px;
		padding-bottom: 5px;
		z-index: 1029;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
		padding-left: 10px;
		min-height: 5px;
		border-top: #333;
		background: #000;
		border-top: 1px solid white;
		box-shadow: inset 0 1px 1px #000;

		.btn-primary {
			border-color: #ec6952;
			background-color: #ec6952;
			color: #fff;
		}

		.btn-default {
			border-color: #ec6952;
			background-color: #ec6952;
			color: #fff;
		}
	}

	textarea.form-control{
		height: 100px;
	}

	.slide {
		position: absolute;
		width: 100%;
		z-index: 100;
		left: -3000px;
	    -moz-transition: left 0.5s ease-in-out;
	    -o-transition: left 0.5s ease-in-out;
	    -webkit-transition: left 0.5s ease-in-out;
	    transition: left 0.5s ease-in-out;
	}

	.in {
		left:0px;
	}

	.outleft {
		left: -3000px;
	}

	.outright {
		left:3000px;
	}
	 

	.gallery-col {
		margin:0;
		padding:0;
	
		 
		.gallery-wrapper{
			background-color: #f8f8f8;
			.gallery {
				width: 100%;
				max-width:600px;
				border: 1px solid #eee;
				height:120px;
				overflow: scroll;
				overflow-y: hidden;
				.gallery-inside{
					padding:0px;
					width: 8000px;

					img{
						float:left;
						margin:auto;
					 	padding: 2px;
					 	line-height: 1.42857143;
						background-color: #fff;
						border: 1px solid #ddd;
						border-radius: 4px;
						width: 100px;
						height: 100px; 
					}
				}
			}
			&.fixed {
				-moz-transition: position 0.2s ease-in-out;
				-o-transition: position 0.2s ease-in-out;
				-webkit-transition: position 0.2s ease-in-out;
				transition: position 0.2s ease-in-out;
				position: fixed;
				top: 50px; 
				left:0;
				z-index: 1029;
				width:100%;
				text-align:center;
				& > .gallery{
					margin:auto;
				}
			}
		}
	}

	/* SORTABLE */
	.selected-images{
		padding-top:20px;

		.selected-image{
			width:20%;
			height: 20%;
			max-width: 100px;
			max-height: 100px; 
			display:inline-block;
			position:relative;

			.thumbnail {
				margin:0px;
				padding:2px;
			}

			img{
				&:hover{
					cursor: move;
				}
			}

			&:hover .btn-delete {
				opacity: 1;
			}
			.btn-delete {
				position: absolute;
				right: 4px;
				top: 4px;
				opacity: 0;
			}

			.alert-wrapper {
				position: absolute;
				display: block;
				top: 0px;
				width: 100%;
				left: 0px;
				.alert {
					border-radius: 0px;
					background-color: rgba(242, 222, 222, 0.9);
					padding: 5px 0px 5px 5px;
				}
			}

			.progress-wrapper {
				position: absolute;
				//display: block;
				bottom: -20px;
				width: 100%;
				margin-left: 0px;
				.progress {
					border-radius: 0px;
					border-bottom-right-radius: 4px;
					border-bottom-left-radius: 4px;
				}
			}
		}
	}

	.upload-images{
		padding-top:20px;

		.selected-image{
			width: 100px;
			height: 100px; 
			margin:2px;
			display:inline-block;
			position:relative;

			.thumbnail {
				margin:0px;
				padding:2px;
			}

			img{
				&:hover{
					cursor: move;
				}
			}

			&:hover .btn-delete {
				opacity: 1;
			}
			.btn-delete {
				position: absolute;
				right: 4px;
				top: 4px;
				opacity: 0;
			}

			.alert-wrapper {
				position: absolute;
				display: block;
				top: 0px;
				width: 106px;
				left: 0px;
				.alert {
					border-radius: 0px;
					background-color: rgba(242, 222, 222, 0.9);
					padding: 5px 0px 5px 5px;
				}
			}

			.progress-wrapper {
				position: absolute;
				display: block;
				bottom: -26px;
				width: 106px;
				margin-left: 0px;
				.progress {
					border-radius: 0px;
					border-bottom-right-radius: 4px;
					border-bottom-left-radius: 4px;
				}
			}
		}
	}

	
	.ql-editor-col{
		margin:0;
		padding:0;
		
		.editorWrapper {
			width:100%;
			border: 1px solid #e3e3e3;
			font-weight: normal;
	
			.ql-toolbar {
				background-color: rgba(248, 248, 248, 1);
				border-bottom: 1px solid #ccc;
			}

			.ql-container {
				padding: 4px;
			}

			#toolbar.fixed {
				-moz-transition: position 0.2s ease-in-out;
				-o-transition: position 0.2s ease-in-out;
				-webkit-transition: position 0.2s ease-in-out;
				transition: position 0.2s ease-in-out;
				
				position: fixed;
				left:0;
				width: 100%;
				top: 170px;
				z-index: 1029;
				border: 1px solid #e3e3e3;
				text-align:center;
			}

			.ql-editor{
				img{
					border: 1px solid #eee;
					width: 50%;
					height: 50%;
					margin: auto;
					display: table;
				}
			}
		}
	}
}

.input-group-btn .btn, .btn-group .btn {
	height: 34px;
}




/* INSIDE REPOST MODAL */
.modal{

	#editor {
		border: 1px solid #eee;
	}

	#toolbar{
		margin-top:10px;
		border:1px solid #eee;
	}

	.ql-editor{
		img{
			width:50%;
			height:50%;
			margin:auto;
			display: table;
			padding:10px;	
		}
	}

	.gallery-wrapper{
		background-color: #f8f8f8;
		.gallery {
			width: 100%;
			max-width:600px;
			border: 1px solid #eee;
			height:120px;
			overflow: scroll;
			overflow-y: hidden;
			.gallery-inside{
				padding:0px;
				width: 8000px;

				img{
					float:left;
					margin:auto;
				 	padding: 2px;
				 	line-height: 1.42857143;
					background-color: #fff;
					border: 1px solid #ddd;
					border-radius: 4px;
					width: 100px;
					height: 100px; 
					min-height: 0;
					min-width: 0;
				}
			}
		}
	}
}
















































// .profile-circular-mask {
// 	-moz-transition: all 0.2s ease-in-out;
// 	-o-transition: all 0.2s ease-in-out;
// 	-webkit-transition: all 0.2s ease-in-out;
// 	transition: all 0.2s ease-in-out;
// 	display: inline-block;
// 	width: 75px;
// 	height: 75px;
// 	border-radius: 50%;
// 	overflow: hidden;
// 	margin-bottom: 10px;
// 	margin-right: 10px;
// 	margin-left: 10px;
// 	background-color: #ddd;
// 	&.collection {
// 		border-radius: 20%;
// 	}
// 	img {
// 		max-width: 100%;
// 	}
// 	span {
// 		-moz-transition: all 0.2s ease-in-out;
// 		-o-transition: all 0.2s ease-in-out;
// 		-webkit-transition: all 0.2s ease-in-out;
// 		transition: all 0.2s ease-in-out;
// 		position: absolute;
// 		top: 30px;
// 		left: 35px;
// 	}
// 	&.sm {
// 		width: 50px;
// 		height: 50px;
// 		vertical-align: middle;
// 	}
// }

// .heading .profile-circular-mask {
// 	margin-top: -10px;
// }

// .toolbar.fixed {
// 	-moz-transition: position 0.2s ease-in-out;
// 	-o-transition: position 0.2s ease-in-out;
// 	-webkit-transition: position 0.2s ease-in-out;
// 	transition: position 0.2s ease-in-out;
// 	position: fixed;
// 	width: 100%;
// 	display: inline-block;
// 	top: 50px;
// 	z-index: 1029;
// }



// @media (max-width: 768px) {
// 	.toolbar.fixed {
// 		top: 48px;
// 	}
// }

// .navbar-profile .profile-circular-mask {
// 	width: 25px;
// 	height: 25px;
// }


// .media-body {
// 	padding-left: 10px;
// }

.haul-grid {
	margin: 0;
	margin-top: 30px;
}

.haul-grid-li {
	float: left;
	padding: 10px;
	position: relative;
	width: 50%;
	img {
		width: 100%;
		max-width: 320px;
		max-height: 320px;
	}
	.sell {
		width: 100%;
		margin: 0px;
		padding: 0px;
		padding-bottom: 100%;
		position: relative;
		max-height: 320px;
	}
	.sell-button {
		border: 1px dashed grey;
		border-radius: 4px;
		position: absolute;
		width: 100%;
		height: 100%;
		max-width: 320px;
		max-height: 320px;
		min-width: 100px;
		font-color: #000;
	}
	.sell-text {
		position: absolute;
		top: 30%;
		width: 100%;
	}
}

@media (min-width: 768px) {
	.haul-grid-li {
		width: 33%;
	}
}

@media (min-width: 992px) {
	.haul-grid-li {
		width: 25%;
	}
}

@media (min-width: 1200px) { 
	.haul-grid-li {
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		width: 25%;
	}
}

.sell-text .glyphicon {
	padding-bottom: 10px;
}

.box-rigid {
	float: left;
	position: relative;
}

.box-vert-align {
	margin-top: 25%;
}

.haul-grid-li {
	.info {
		-moz-transition: opacity 0.15s linear;
		-o-transition: opacity 0.15s linear;
		-webkit-transition: opacity 0.15s linear;
		transition: opacity 0.15s linear;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: bold;
		color: #000;
		opacity: 1;
		&:hover {
			opacity: 1;
		}
	}
	.price {
		/*  border: 1px solid red;*/
		position: absolute;
		width: auto;
		padding: 5px 5px 5px 15px;
		bottom: 20%;
		background-color: #eee;
		/*border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;*/
		box-shadow: 0px 2px 1px #ccc;
	}
}

.haul-grid {
	.price, .control {
		float: right;
		padding-left: 20px;
	}
	.sold {
		position: absolute;
		right: 0px;
		top: 50px;
		background-color: orange;
		font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: bold;
		font-size: 140%;
		color: #000;
		padding: 10px;
		padding-left: 20px;
		padding-right: 5px;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}
}


.haul-grid-thumbs {
	list-style: none;
	float: left;
	position: relative;
	display: inline-block;
	//width: 20%;
}


.margin-top {
	margin-top: 20px;
}

.padding-right {
	padding-right: 10px;
}

.padding-top {
	padding-top: 20px;
}

.padding-bottom {
	padding-bottom: 20px;
}

.btn-xs.margin-top {
	margin-top: 5px;
}

.btn-fit-select {
	padding-bottom: 12px;
}

.btn-no-radius {
	border-radius: 0;
}

.btn-facebook {
	color: #fff;
	background-color: #3B5998;
	border: none;
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	&:hover {
		background-color: #879ac0;
		border: none;
	}
}


.ember-view .selected {
	img {
		border-left: 4px solid #428bca;
		border-right: 4px solid #428bca;
		border-top: 4px solid #428bca;
		border-bottom: 4px solid #428bca;
		opacity: .7;
	}
	.delete {
		opacity: 0;
	}
}

.modal .danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.carousel-control {
	&.left, &.right {
		background-image: none;
	}
}


.carousel-inner > .item > {
	img, a > img {
		width: 100%;
	}
}





.input-sm {
	width: 100px;
}

.input-xs {
	width: 75px;
}

.input-group .input-sm {
	width: 100px;
}

label {
	padding-top: 10px;
}

.border {
	border: 1px solid pink;
}

textarea.form-control {
	height: 200px;
}



.content-fixed-nav {
	margin-top: 20px;
}

.trucate-text {
	.hide, .show {
		-moz-transition: opacity 0.15s linear;
		-o-transition: opacity 0.15s linear;
		-webkit-transition: opacity 0.15s linear;
		transition: opacity 0.15s linear;
	}
}

.badge-success {
	background-color: green;
}

.badge-danger {
	background-color: red;
}

.alert-sm {
	padding: 3px;
	margin-top: 3px;
}

.content-fixed-nav.home {
	margin-top: 50px;
}

.home {
	.price {
		bottom: 40%;
	}
	.thumbnail {
		margin-bottom: 0px;
	}
	.description {
		display: block;
		padding: 10px;
		background-color: #eee;
		width: 100%;
		min-height: 60px;
		max-height: 60px;
		overflow: hidden;
	}
}

.btn-left {
	float: left !important;
	margin-right: 10px;
}

.btn-right {
	float: right !important;
	margin-left: 10px;
}




.seller-nav {
	background-color: #d7d8d8;
	padding-top: 10px;
	padding-bottom: 5px;
	h1 {
		margin-top: 10px;
		color: white;
	}
	h2 {
		margin-top: -3px;
		color: white;
	}
	h3 {
		margin-top: 10px;
		color: white;
	}
	h1 a, h2 a {
		color: white;
	}
	.follow {
		position: absolute;
		right: 40px;
		margin-left: 10px;
		text-align: left;
	}
}

.seller-nav-footer {
	border-bottom: 1px solid #e3e3e3;
	margin-bottom: 20px;
}
 
#leaveComment textarea {
	height: 80px;
}

.top-border {
	border-top: 1px solid #e3e3e3;
}

.bottom-border {
	border-bottom: 1px solid #e3e3e3;
}

.left-border {
	border-left: 1px solid #e3e3e3;
}

.image-scroll {
	overflow: auto;
	height: 300px;
	padding: 10px;
	img {
		width: 50%;
		float: left !important;
	}
	&.fixed {
		position: fixed;
		display: inline;
		top: 125px;
		width: 300px;
	}
}







body.anon{
	padding:0;
	margin:0;

	display:block;
	background-attachment: scroll;
	background-image: url(/assets/images/header-bg.jpg);
	background-position: center center;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	overflow-x: hidden;
}

.anon {

	header {

		h1, h2, h3, h4, h5, a {
			font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
			color: #ffffff;
		}

		padding-top: 100px;
		text-align: center;
		color: #fff;
		
		min-height: 100%;
		min-width: 100%;
	}
	.form-box {
		background-color: rgba(0, 0, 0, 0.4);
		border-radius: 4px;
		padding-bottom: 10px;
	}
	.alert{
		color: yellow;
		a {
			text-decoration: underline;
		}
	}

	.or-login{
		margin-top:50px;
		padding-top: 15px;
		padding-bottom: 15px;
		border-top: 1px solid #333;
	}
}
