//box-shadow: 0 0 15px 5px #ffffff;
$primary-color: #3a4457;
$secondary-color: #596885;
$terthiary-color: #7a869d;
$radius: 2px;

//Dev Helper:
.border {
	border: 1px solid pink;
}

html {
	height: 100%;
	width: 100%;
}

body {
	background-color: #ffffff;
	background-image: none;
	position: relative;
	padding-top: 50px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;	
}
body.modal-open {
    overflow: hidden;
}

.fa-spinner{
	color: #ccc;
	font-size: 100px;
}
.loading{
	padding-top:150px;
}

.alert {
	color: red;
}

.fade-slide-wrapper { 
	position:relative;
	width: 175px;
	margin-right:auto;
	margin-left:auto;
	text-align: center;
	min-height: 50px;
}

.fade-slide {
	-webkit-transition: all .5s ease-in-out;
       -o-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
	position:absolute;
	
	opacity:0;
	top:300px;	
}

.fade-slide.in {
	opacity:1;
	top:0px;
}

.imageRemove {
	border: 1px solid red;
}



//MODAL 
.modal{
	display:inline;
	z-index: 3000;
	background-color: rgba(51, 51, 51, 0.8);
	overflow: scroll;

	.modal-dialog{

		-webkit-transition: opacity .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;

		width:90%;
		margin-top: -200px;
	  	opacity: 0;


	  	&.sm { 
	  		width:400px;
	  	}
   	}
}


.modal.in { 
	.modal-dialog{
		margin-top: 0px;
		opacity: 1; 


	  	&.sm {
	  		margin-top:10%; 
	  	}
	}
} 





//GENERAL BUTTONS
.btn {
	border-radius: $radius;
}


.btn-primary {
	border-color: #ccc;
	background-color: $primary-color;
}

.btn-primary:hover{
	background-color: #445066;
}

.btn-buy {
	//border-color: #333333;
	background-color: #eee;//$secondary-color;
	//color: blue;
	//text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	font-weight: bold;
	//border-color: $primary-color;
}

.btn-buy:hover{
	background-color: #fff;
	color: green;
	//border-color: $secondary-color;
}
.btn-left {
	float: left !important;
	margin-right: 10px;
}

.btn-right {
	float: right !important;
	margin-left: 10px;
}

.btn-facebook {
	color: #fff;
	background-color: #3B5998;
	border: none;
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	&:hover {
		background-color: #879ac0;
		border: none;
	}
}
 
.btn-xs.margin-top {
	margin-top: 5px;
}


.btn-no-radius {
	border-radius: 0;
}

.btn-list-grid{
	float:right;
	margin-right:15px;
	margin-top:30px;
	@media (max-width: 768px) {
		margin-top: 29px;
	}
}
.fixed {
	.btn-list-grid{
		margin-top:0px;
	}
}


//Bootstrap
.badge-success {
	background-color: green;
}

.badge-danger {
	background-color: red;
}

.alert-sm {
	padding: 3px;
	margin-top: 3px;
}





.product-status{
	display:inline;
	margin-right:10px;

	.ember-view{
		display:inline;
	}

	.product-sold{
		color: #fa4b2a;
		font-weight: bold
	}

	.product-not-for-sale{
		color: #fab32a;
		font-size:12px;
	}
}






//FONTS & GENERAL TEXT MARKUP
h1, h2, h3, h4, h5, label {
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #444e55;
	font-weight: normal;
}

a {
	color: #444e55;
	cursor: pointer;
}

a:hover{
	color: #66757f;
}

 

.font-weak {
	font-weight: normal;
}

.strikethrough{ 
    text-decoration: line-through;
}

.glyphicon.red {
	color: red;
}

.sad-heart {
	font-size: 200px;
	color: #ededed;
}

.clearfix:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.display-inline {
	display: inline;
}

.profile-image {
	padding:1px;
	width: 100px;
	height: 100px;
	border-radius: 20%;
	//display: inline-block;
	overflow: hidden;
	.glyphicon-user{
		font-size:95px;
		left: -2px;
	}
	&.sm {
		width: 50px;
		height: 50px;
		.glyphicon-user{
			font-size:27px;
			left:-1px;
		}
	}
}

.show {
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}






//HAUL BUILDING BLOCKS:
.moment {
	color: #bbb;
	font-size: 12px;
	padding-bottom: 3px;
	display:block; 
	float:right; 
}














//HAUL MAIN NAVIGATION
nav {
	top:0;
	left:0;
	width: 100%;
	position: fixed;
	z-index: 3000;
	background-color: #fff;
	min-height: 51px;
	margin-bottom: 20px;
	border: 1px solid transparent; 
	border-bottom: 1px solid #ccc;
	//box-shadow: 0px 1px 1px #eee; 

	.logo {
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		z-index: 2000;
		position: absolute;
		top: 0;
		left: 0;
		margin-left: 20px;
		padding-top: 20px;
		padding-left: 10px;
		width: 100px;
		height: 60px;
		font-size: 30px; 
		background-color: $primary-color;
		box-shadow: 0px 2px 2px #000; 
		font-family: Arvo, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: bold;
		border-bottom-right-radius: $radius;
		border-bottom-left-radius: $radius;
		a {
			color: #fff;
		}
	}

	.active .btn-default{
		background-color: #eee;
	}

	.container-fluid {
		margin-top: 8px;
	}

	// .btn-home {
	// 	float: left;
	// 	margin-left: 110px
	// }

	.search-wrapper {
		display:inline;
	}

	.twitter-typeahead {
	  width: 100%;
	}
	.input-group .twitter-typeahead {
	  display: table-cell !important;
	  float: left;
	}


	.btn-search {
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;

		margin-left: 5px;
		display: inline-block;	
		width:200px; 

		cursor: pointer;	
		
		.input-group-addon {
			background-color: #fff;
			max-height:20px;
			font-size: 22px;
			padding:0 10px 0 5px;
			margin:0;

			.glyphicon-search {
				font-size: 18px; 
			}
		}

		.dropdown-menu { 
			.symbol{
				font-size: 20px;
			}
		}
		
		input {
			display:inline;
			padding-left:0px;
			//float: left; 
			//width: 100%;
			border-radius: 0px; 
			border-left: none;
			border-top-right-radius: $radius;
			border-bottom-right-radius:  $radius;
			&:focus{
				border: 1px solid #ccc;
				border-left: none; 
				border-top-right-radius: $radius;
				border-bottom-right-radius:  $radius;
			}
		}

		.form-control {
			box-shadow: none;
		}

		.form-control:focus {
			box-shadow: none;
		}


		li {
			padding: 4px;
			cursor: pointer;
			&:hover{
				background-color: #ccc;
			}

		}

		.tt-more-results{
			text-align: center;
			//background-color: #eee;
			color: #333;
			font-size: 16px;
			padding:5px;

			&:hover{
				color: white;
			}
		}

		.tt-query,
		.tt-hint {
			width:300px;
		    outline: none;
		}

		.twitter-typeahead {
			//height:50px;
		}

		.tt-hint {
		    color: #999;
		    left: -30px;
		}

		.tt-dropdown-menu {
			padding:0;
			margin:0;
		  	width:339px; 
		  	border-radius: none;
		  	background-color: #fff;
		  	border: 1px solid #ccc;
		  	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
		     	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
		          box-shadow: 0 5px 10px rgba(0,0,0,.2);
		}

		.tt-dataset-search { 
			border-radius: none;
		  	width:339px;
			text-align: left;
			//border: 1px solid pink;
			display:inline-block;
			margin:0;
			padding:0;

			.tt-dataset-row {
				//border: 1px solid pink;
				position:relative;
				//display:inline;
				min-height: 30px;
			
				.tt-search-image {
					position: relative;
					display:inline-block;
					
					height: 50px;
					width:50px;
					margin:0;
					padding:0;
					//border: 1px solid pink;
					img { 				
						position:absolute;
						top:10px;
						left:5px;
						margin:0;
						padding:0;
						width: 40px;
						height: 40px;
					}	
				}
				.tt-search-result {		
					position:absolute;
					top:5px;
					//left:55px;
					//border: 1px solid pink;	
					width:190px; 
					margin:0;
					padding:5px 5px 5px 5px;
					display:inline-block;
				}

				.tt-search-meta {		
					position:absolute;
					top:5px;
					left:250px;
					//border: 1px solid pink;
					width:80px;
					margin:0;
					padding:5px 5px 5px 5px;
					display:inline-block;
					//float:right;
					color: #ccc;
				}
			}
		}

		.tt-suggestion {
			margin:0;
			padding:0;  
		    cursor: pointer;
		    border-bottom: 1px solid #eee;
		}

		.tt-suggestion:last-child {
			border:none;
		}

		.tt-suggestion.tt-cursor {
			margin:0;
			padding:0;
			color: #fff;
		 	background-color: $secondary-color;

			.tt-more-results {
				color: white;
			}
		}
	}

	.btn-go-search{
		float:left;
		display:none;
	} 

	.btn-sell {
		float: left;  
		//margin-left:5px;
		margin-left: 120px;
	}
	
	.mask{
		display:none;
	}

	.btn-profile {
		float: right;
		margin-left:5px;

		> a {
			float:left;
			
			.btn:first-child{
				min-width:40px;
				padding:1px 5px 1px 5px;
				//border-top-right-radius: 0;
				//border-bottom-right-radius: 0;
			}
		}
		.divider{
			margin:0;
		}
		.dropdown-menu > li > a {
			display:inline-block;
			width:100%;
			margin:0;
			padding:15px;
		}
	} 

	.btn-icon {
		//border: none;
		margin-left: 10px;
		border-right: none;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		background-color: white;
	}
 

	.btn-home {
		float: left;
		margin-left:10px;
		background-color: white;
	}

	.btn-messages {
		margin-left:10px;
		
		.badge {
			margin-left:5px;
			background-color: red;
			color: white;
		}
	}

	.active {
		.btn-icon, .btn-home, .btn-messages {
			background-color: white;		
		}
	}

	.btn-signup {
		float: right;
		margin-left:5px
	} 

	.btn-login {
		float: right;
		margin-left:5px
	} 

	.input-group input{
		width: 100px;
	}

	.profile-image.sm{
		width: 30px;
		height: 30px;
		padding:1px;
	}

	@media (max-width: 768px) {
		.logo {
			margin-left: 10px;
			padding-left: 10px;
			padding-top: 25px;
			width: 75px;
			height: 55px;
			background-color: #3a4457;
			box-shadow: 0px 2px 2px #000;
			font-size: 20px;
		}

		.container-fluid {
			padding-right: 8px;
		}

		.btn-sell {
			margin-left: 90px;
		}

		.btn-home {
			display:none;
		}

		.btn-go-search{
			display:inline;
			margin-left: 5px;
		}

		.search-wrapper {
			width: 100%;
			display:hidden;
			position: fixed;
			margin-left: 5px;
			left:-10px;
			width:110%;
			top:-50px;
			opacity:1;
			z-index: -2;
			background-color: #eee;
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			text-align: center;
		}

		.btn-search {
			border:0px;
			padding: 10px;
			text-align: center; 
			width: auto;

			.input-group{
				margin-left:auto;
				margin-right:auto;
				width:250px;  
			} 


			.tt-query,
			.tt-hint {
				//width:200px;
			    outline: none;
			}

		  	-webkit-transition: all .15s linear;
		       -o-transition: all .15s linear;
		          transition: all .15s linear;
		}

		.mask{
			display:inline;
			background-color: #fff;
			width:100%;
			height:50px;
			position:fixed;
			top:0;
			left:0;
			z-index:-1;
		}
		.search-wrapper.expand{

	  		-webkit-transition: top .15s linear;
	       	-o-transition: top .15s linear;
          	transition: top .15s linear;

			opacity:1;
			display:inline;
			top:50px;
		}

	} 

	.logo.shrink {
		padding-top: 10px;
		height: 50px;
	}

	@media (max-width: 768px) {
		.logo.shrink {
			padding-top: 20px;
			height: 50px;
		}
	}
}


//Header Nav For Profile.
/* Basic header for a user. */
header.profile{
	width: 100%;
}
.profile-container{
	padding:0px;
	margin:0px;
	position:relative;
	background-color: #f5f5f5;
	padding-top:30px;  
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;

	.btn-follow {
		float: right;
		margin-top:0px;
		margin-right: 20px;
	}
	@media (max-width: 768px) {
		.btn-follow {
			font-size: 10px;
			padding:4px;
			margin-top:5px;
			margin-right:10px;
		}
	}

	.profile-image {
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		
		position:absolute;
		top: 30px;
		left: 20px;
		width: 100px;
		height: 100px;

		.glyphicon-user{
			-moz-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			-webkit-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			font-size:95px;
		}
	}
 
	.info-block{
		padding-left:130px;
		padding-top:15px;
		height: 40px;

		h1 {
			margin:0px;
			padding: 0px;  
			font-size: 24px;
		}
		
		.name {
			font-size: 12px;
			margin-top: 0px;

			a:hover{
				cursor:pointer;
				text-decoration: none;
			}
		}
	}

	.stats-block { 
		padding: 5px 0px 0px 130px;
		//background-color: white;
		margin-top: 25px; 
		border-top: 1px solid #ddd;
		//border-bottom: 2px solid #E1E8ED;

		.active ~ .active {
			color: red;
		}

		.activehack{
			color: red;
		}

		.stats {
			transition: all 0.5s ease-out-in;
			border-bottom: 4px solid transparent;
			float: left;
			padding-left: 0px;
			padding-right: 15px;
			font-size: 12px;

			a span {
				font-weight: bold;
			}


			a:hover{
				cursor:pointer;
				text-decoration: none;
			}
		}

		@media (max-width: 768px) {
			.stats {
				display: inline;
				font-size: 11px;
				padding-right: 15px;
			}
		}

		.stats:hover{
			transition: all 0.5s ease-in-out;
			border-bottom: 4px solid red;
			text-decoration: none; 
			cursor:pointer;
		}
	}
}


header.profile.shrink{
	min-height:55px;
}

@media (max-width: 768px) {
	header.profile.shrink{
		min-height:55px;
	}
}
.profile-container.fixed{
	position:fixed;
	top:50px;
	z-index: 2001;
	padding: 10px 0px 0px 0px;
	margin:0px;
	width: 100%;
	background-color: #fff;
	background-color: rgba(255,255,255,0.96);
	box-shadow: 0 0 15px 5px #e9e9e9;

	.post-back-button{ 
		float:left; 
		position:relative;
		left:20px;
		padding:10px 0px 0px 0px;
	}

	.profile-image {  
		margin:0;
		margin-top:-3px;
		padding:1px;
		float:left; 
		position:relative;
		top: 1px;
		left: 47px;
		width: 40px;
		height: 40px;

		.glyphicon-user{
			font-size:38px;
			left:-1px;
		}
	}

	.info-block{
		display:none;
	}

	.stats-block{
		float:left;
		position:relative;
		left:54px;
		padding:6px 0px 0px 0px;
		margin:0;
		border:none;
	}
	@media (max-width: 768px) {
		.profile-image { 
			left: 37px; 
		}
		.stats-block{
			left:44px;
			padding:8px 0px 0px 0px;
		}
	}
}














.haul-content {
	width: 100%;
	min-height: 1000px;
	.haul-content-row {
		max-width: 1000px;
	}
	margin:0px;
	padding: 10px 30px 30px 30px;
	//background-color: #f8f8f8;
	background-color: #e9e9e9;
	border-bottom: 1px solid #ccc;
	//font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

	p {
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	}

	.citation {
		// border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		display:inline-block;
		padding:0px;
		margin:0px;
		padding-bottom:10px; 
		margin-bottom:20px; 
		margin-top:10px;
		width: 100%;
		
		.glyphicon-retweet {
			padding:0;
			margin:0;
			//float:left;
			display:inline-block;
			//padding-right: 10px;
		}

		.name {
			padding:0;
			margin:0;
			font-size: 14px;
			display:inline-block;

			.rehauled {
				font-color: #3a4457;
				font-style: italic;
			}
		}

		.image{
			display:inline-block;
			position: relative;
			width:40px;
			height:3px;
			.profile-image{
				margin:0;
				margin-top: -25px;
				margin-right: 6px;
				margin-bottom:0; 
				width: 40px;
				height: 40px;
				padding:2px;

				.glyphicon-user{
					font-size:36px;
					left:-1px;
				}
			}
		}

	}



	.post {
		width:100%;
		display:inline-block;
		background-color: #ffffff;
		margin: 0px 0px 10px 0px;
		padding:0px;
		text-align: left;

		border: 1px solid #ccc;
		border-bottom-left-radius: $radius;
		border-bottom-right-radius: $radius;

		.citation {
			margin:20px 0px 0px 0px;
			padding:0px 15px 0px 15px;
			border:none;
		}

		.citation.no-top-margin {
			margin-top:0px;
		}



		.btn-wrapper{

			margin:0px 0px 0px 0px;
			padding:10px 15px 10px 15px;
			width:100%; 
			display:block; 
			text-align: right;
			background-color: #fff;
			border-top:1px solid #ccc;
			
			.glyphicon{
				padding-left: 2px;
			}

			.price {
				//width: 70px;
				float: left;
				display:inline-block;
				//min-width: 70px;
				margin:0;
				padding: 3px 5px 3px 5px;
				font-size: 20px;
				font-weight: bold;
				color: #333; 
				text-align: left;
			} 

			.product-not-for-sale {
				padding-top:10px;
			} 
			.product-sold{
				padding-top:3px;
				font-size: 20px;
			}

			.product-not-for-sale, .product-sold, .btn-buy{
				float:left;	
			}	
		}

		.article { 	
			//display:table;
			margin:auto;
	
			h2 { 
				padding:0px 15px 0px 15px;
				display:block;
				a{
					text-decoration: none;
				}
			}
			
			.product-image {
				position:relative;
				transition: all 0.2s ease-in-out;
				padding:0;
				margin:0px;

	
				.thumbnail{
					margin-bottom: 10px;
					border-radius: 0px;
				}
				img {
					border-top:1px solid #ccc;
					transition: all 0.2s ease-in-out;
					//min-width: 320px;
					//min-height: 320px;
					width:100%;
				}
			}
		}	
	}


	.col-collapse {
		display:none;
	}

	.col-wide{
		width:100%;
	}

	.galleryView{
		//display:table;
		margin:0;
		padding:0;
		&.in{
			.post{
				border: 0;
				margin:0;
				display:inline-block;
				width: 25%;
				background: transparent;
		
				.btn-edit-post, .citation, .moment, .editorial, .btn-wrapper, h2{
					display:none;
				}

				.product-image{
					border: 1px solid #ccc;
					padding:1px;
					img{
						margin-right:auto;
						margin-left:auto;
						min-width:0;
						min-height:0;
					}	
				}
			}
		}
	}


	.post-detail-citation{
		padding: 20px 15px 15px 15px;
		background-color: #eee;
		border-radius: $radius;
		border: 1px solid #b7b7b7;
		height:500px;
		width:90%;
		display:inline;
		position:absolute;
		top:5px;
		left: -0px;
		opacity:1 ;
		box-shadow: 2px 3px 8px #ccc;

		.glyphicon-retweet {
			display:inline;
			padding:0;
			margin:0;
			padding-right: 10px;
		}

		.name {
			padding:0;
			margin:0;
			display:inline;
			font-size: 14px;
			padding-right: 8px;

			.rehauled {
				font-color: #3a4457;
				font-style: italic;
			}
		}

		.image{
			display:inline-block;
			position: relative;
			margin-right: 4px;
			width:40px;
			height:3px;
			.profile-image{
				margin:0;
				margin-top: -25px;
				margin-right: 6px;
				margin-bottom:0; 
				width: 40px;
				height: 40px;
				padding:2px;

				.glyphicon-user{
					font-size:36px;
					left:-1px;
				}
			}
		}

	}

	.post-detail {
		width:100%;
		position: relative;
		background-color: #ffffff;
		border: 1px solid #ccc;
		padding: 5px 15px 10px 15px;
		margin-top:15px;
		text-align: left;
		border-top-left-radius: $radius;
		border-top-right-radius: $radius;

		&.is-repost {
			margin-top:60px;
		}

		.btn-edit-post {
			position:absolute;
			right:-1px;
			top:-20px;
			border-bottom: none;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		.citation.no-top-margin {
			margin-top:0px;
			margin-bottom: 5px;
		}


		
		.article { 	
	
			h2 { 
				display:inline-block;
				margin:0px;
				margin-bottom: 10px;
				margin-top: 0px;
				padding:0px;
				a{
					text-decoration: none;
				}
			}
 
			.btn-wrapper{
				margin:0px;
				width:100%; 
				display:inline-block; 
				text-align: right;
				padding-top:2px;
				padding-bottom:2px;
				padding-right:2px;

				.glyphicon{
					padding-left: 2px;
				}

				.price {
					//width: 70px;
					//float: left;
					display:inline-block;
					//min-width: 70px;
					margin:0;
					padding: 3px 5px 3px 5px;
					font-size: 20px;
					color: #333; 
					z-index:2000;
				} 

				&.bottom {
					margin-top:0;
					border-top-left-radius: 0px;
					border-top-right-radius: 0px;


					margin-bottom:0px;
					border-bottom-left-radius: $radius;
					border-bottom-right-radius: $radius;
				}
			}
			
			.product-image {
				display:block;
				position:relative;
				width:100%;
				margin:auto;
				padding-bottom:10px;

				.thumbnail{
					margin-bottom: 10px;
					border-radius: 0px;
				}
				img {
					padding:10px;	
					margin:auto;
					width:100%;
				}
			}


			.editorial{
				padding-top: 0px;
				width: 100%;
				display:inline;
				float:left;
				img{
					width: 100%;
					margin:auto;
					display: table;
					padding:10px;		
				}

				a{
					color: #fa4b2a;
				}
			}

			.btn-default {
				display: inline;
			}
		}	
	}





	.sidebar-header{
		text-align: center;
		padding:0;
		margin:0;
		margin-top:15px;
		padding-top:10px;
		padding-bottom:5px;
		border: 1px solid #ccc;
		border-bottom:none;
		background-color: #f7f8fa;
		border-top-right-radius: $radius;
		border-top-left-radius: $radius;
		box-shadow: 2px 3px 8px #ccc;
	}

	.sidebar {
		border: 1px solid #ccc;
		border-bottom-left-radius: $radius;
		border-bottom-right-radius: $radius;
		padding:15px;
		background-color: #ebedf2;//#f3f3f4;

		box-shadow: 2px 3px 8px #ccc;

		.seller{

			.profile-image {
				position:absolute;
				padding:2px;
				width: 60px;
				height: 60px;

				.glyphicon-user{
					font-size:57px;
				}
			}

			h3{
				//margin:0;
				margin-bottom:10px;
				border-bottom: 1px solid #ddd;
			}

			.price{
				margin-top:10px;
				font-size: 24px;
				font-weight: bold;
				//	color: #fa4b2a;
				display: inline-block;
			}
				.price:after{
					content:"\A"; 
					white-space:pre; 
				}
			.btn-buy{
				display: inline-block;
			}
			.name{
				a{
					text-decoration: none;
					color: #3a4457;	
				}
				
				padding-top: 5px;
				margin-bottom: 10px;
				font-size: 18px;
				border-bottom: 1px solid #eee;
			}
		 

			.info-block{
				padding-left:65px;
				padding-top:15px;
				margin-bottom: 35px;
				height: 40px;


				h1 {
					margin:0px;
					padding: 0px;  
					font-size: 18px;
				}
				
				.username {
					font-size: 12px;
					margin-top: 0px;

					a:hover{
						cursor:pointer;
						text-decoration: none;
					}
					border-bottom: 1px solid #eee;
				}
			}
			
			.description-label {
				border-bottom: 1px solid #ddd;
				padding-top:10px;
				margin-bottom:5px; 
			}
			
			.product-image {
				position:relative;
				padding-bottom:10px;
				.thumbnail{
					margin-bottom: 10px;
					border-radius: 0px;
				}
			}
		}
	}
	@media (max-width: 768px) {
		.sidebar-header{
			margin-top: 20px;
		}
	}
}











@media (max-width: 768px) {
	.haul-content {
		margin:0;
		padding: 20px 20px 30px 20px;
	}
}





@media (max-width: 768px) {
	.form-fields {
		padding-left: 40px;
		padding-right: 40px;
	}
}
.haul-edit {
	padding-top: 30px;
	padding-bottom: 15px;
	height: 100%;
	position:relative;

	.collapse {
		display:none;
		visibility: hidden;
		@media (max-width: 768px) {
		  display: block;
		  visibility: visible;
		}
	}

	.collapse-when-small {
		display:block;
		visibility: visible;
		@media (max-width: 768px) {
		  display: none;
		  visibility: hidden;
		}
	}

	.btn.show{
		display:inline !important;
	}

	textarea.form-control{
		height: 100px;
	}

	.slide {
		position: absolute;
		width: 100%;
		z-index: 100;
		left: -3000px;
	    -moz-transition: left 0.5s ease-in-out;
	    -o-transition: left 0.5s ease-in-out;
	    -webkit-transition: left 0.5s ease-in-out;
	    transition: left 0.5s ease-in-out;
	}

	.in {
		left:0px;
	}

	.outleft {
		left: -3000px;
	}

	.outright {
		left:3000px;
	}
	 


	.gallery{
		padding:0;
		margin:auto;
		margin-bottom: 10px;
		max-height: 65px;
		overflow: hidden;
		width: 80%;

		-webkit-box-shadow: inset 0px -1px 35px -10px rgba(204,204,204,1);
		-moz-box-shadow: inset 0px -1px 35px -10px rgba(204,204,204,1);
		box-shadow: inset 0px -1px 35px -10px rgba(204,204,204,1);

		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;

		&:hover{
			height:100%;
			max-height:500px;
			overflow: scroll;
			cursor: pointer;
		}
				
		img, button{
			//float:left;
			display:inline-block;
			margin:auto;
		 	padding: 2px;
			background-color: #fff;
			border: 1px solid #ddd;
			border-radius: $radius;
			width: 50px;
			height: 50px; 
		} 
	}
	 

	

	.drawer {
		padding:10px;

		.btn-drawer{
			display:none;
		}

		.nav-tabs{
			a {
				border: 1px solid #ccc;
			}

			li{
				background-color: #fff;
			}

			li.active a{
				background-color: #eee;
				border-bottom: none;
			}
		}
		.tab-pane {
			padding: 15px;
			background-color: #eee;
			border:1px solid #ccc;
			border-top:none;
			border-top-right-radius: $radius;
			border-bottom-right-radius: $radius;
			border-bottom-left-radius: $radius;
		}


		@media (max-width: 768px) {

			.btn-drawer {
				display:inline;
			}

		    -moz-transition: width 0.15s ease-in-out;
		    -o-transition: width 0.15s ease-in-out;
		    -webkit-transition: width 0.15s ease-in-out;
		    transition: width 0.15s ease-in-out;

		    background-color: #f9f9f9;
		    border-left: 1px solid #eee;
		    border-bottom: 1px solid #eee;
		    border-bottom-left-radius: $radius;
		    box-shadow: -6px 5px 20px 0px rgba(238,238,238,1);

			width:65px;
			height: 400px;
			overflow: hidden;
			padding-top:20px;
			top:-10px;
			position:absolute;
			right: -10px;
			z-index: 3000;
			
			.drawer-content {
				margin-top:50px;
				opacity:0;
				&.open{
					opacity:1;
				}
			}

			&.open{
				height:auto;
				width:300px;
			}
			&.animate{
				right:0px;
			}
		}
	}

	.photo-tab {
		padding-top:20px;
	}
 
	.editorWrapper {
		width:100%;
		border: 1px solid #e3e3e3;
		font-weight: normal;

		.ql-toolbar {
			background-color: rgba(248, 248, 248, 1);
			border-bottom: 1px solid #ccc;
		}

		.ql-container {
			padding: 4px;
		}

		.ql-editor{
			img{
				border: 1px solid #eee;
				width: 40%;
				height: 40%;
				margin: auto;
				display: table;
			}
		}
	 
	}
}


.input-group-btn .btn, .btn-group .btn {
	height: 34px;
}





.box-rigid {
	float: left;
	position: relative;
	padding-right:10px;
}

.box-vert-align {
	margin-top: 25%;
}




//Padding and Margin Helpers
.margin-top {
	margin-top: 20px;
}

.padding-right {
	padding-right: 10px;
}

.padding-left {
	padding-left: 10px;
}

.padding-top {
	padding-top: 20px;
}

.padding-bottom {
	padding-bottom: 20px;
}

.top-border {
	border-top: 1px solid #e3e3e3;
}

.bottom-border {
	border-bottom: 1px solid #e3e3e3;
}

.left-border {
	border-left: 1px solid #e3e3e3;
}




.ember-view .selected {
	img {
		border-left: 4px solid #428bca;
		border-right: 4px solid #428bca;
		border-top: 4px solid #428bca;
		border-bottom: 4px solid #428bca;
		opacity: .7;
	}
	.delete {
		opacity: 0;
	}
}

.modal .danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}





//Carousel
.carousel {
	margin-top:10px;
	margin-left:-15px;
	margin-right:-15px;
}

.carousel-control {
	&.left, &.right {
		background-image: none;
	}
}


.carousel-inner > .item > {
	img, a > img {
		width: 100%;
	}
}




//FORM HELPERS
.input-sm {
	width: 100px;
}

.input-xs {
	width: 75px;
}

.input-group .input-sm {
	width: 100px;
}

label {
	padding-top: 10px;
	font-size: 12px;	
	font-weight: bold;
	&:empty{
  		display:none !important;
  	}
}
 

textarea.form-control {
	height: 200px;
}


.content-fixed-nav {
	margin-top: 20px;
}

.content-fixed-nav.home {
	margin-top: 50px;
}

.home {
	.price {
		bottom: 40%;
	}
	.thumbnail {
		margin-bottom: 0px;
	}
	.description {
		display: block;
		padding: 10px;
		background-color: #eee;
		width: 100%;
		min-height: 60px;
		max-height: 60px;
		overflow: hidden;
	}
}












body.anon{
	padding:0;
	margin:0;

	display:block;
	background-attachment: scroll;
	background-image: url(/assets/images/slide1.jpg);
	background-position: center center;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	overflow-x: hidden;
}

.anon {
	nav {
		background-color: transparent;
		border: none;
		box-shadow: none;

		.btn {
			background-color: rgba(255,255,255,0.2);
			color: #fff;
			border: 1px solid #fff;
			&:hover{
				background-color: #fff;
				color: #000;
			}
		}
	}
	header {

		h1, h2, h3, h4, h5, a {
			font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
			color: #ffffff;
		}

		padding-top: 100px;
		text-align: center;
		color: #fff;
		
		min-height: 100%;
		min-width: 100%;
	}
	.form-box	 {
		background-color: rgba(0, 0, 0, 0.8);
		border-radius: $radius;
		padding-bottom: 10px;

		.toc {
			padding-top: 20px;
			font-size: 10px;
			a {
				font-weight: normal;
				text-decoration: underline;
			}
		}

		.btn-primary{
			border-color:#337ab7;
			background-color:#2e6da4;
		}
	}
	.alert, .error{
		background: none;
		color: yellow;
		a {
			text-decoration: underline;
		}
	}

	.or-login{
		//margin-top:50px;
		padding-top: 15px;
		padding-bottom: 15px;
		border-top: 1px solid #333;
	}
}





.modal.auth {
	text-align:center;
	
	.modal-content{
		background-color: rgba(0, 0, 0, 0.8);	
	}

	.modal-header{
		border: none;
	}

	.or {
		color: yellow;
		font-size:20px;
	}
	
	h1, h2, h3, h4, a {
		color:white;
	}
	
	a {
		text-decoration: underline;
	}
	
	.alert{
		color: yellow;
		a {
			text-decoration: underline;
		}
	}
}

.cta-welcome {
	padding-top:100px;
}


.haul-jargon{
	margin-top:50px;

	.nav-column-control {
		&.in{
			display:none;
			visibility:hidden;
		}
	}

	@media (max-width: 768px) {
		.nav-column-control {

			&.collapse{
				display: inline;
				visibility: visible;
			}

			&.in { 
				visibility: hidden;
			}

			&.out { 
			
			}
		}

		.nav-column {
			top:90px;
			padding-top:10px;
			border: 1px solid #eee;
			position:absolute;
			height: 1000px;
			z-index: 2000;
			background: #fff;
			width:300px;
		    box-shadow: 6px 5px 20px 0px rgba(238,238,238,1);

			.nav-column-control{
				float:right;
				visibility: visible;
			}

			&.in { 
				left:0px;
			}

			&.out { 
				left: -300px;
			}

			.list-group{
				padding-top:40px;
			}

			-webkit-transition: left .5s ease-in-out;
	       	-o-transition: left .5s ease-in-out;
	          transition: left .5s ease-in-out;
		}
	}
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
	background-color: $primary-color;	
}

.profile-badge {
	img{
		float:left;
		display:inline-block;
	}
	a {
		padding-left:10px;
		padding-top:15px;
		float:left;
		display:inline-block;
	}
	.thumbnail{
		margin-bottom:0;
	}
}

.ql-editor-col {
	padding-bottom: 100px;
}

.upload-images{
	padding-top:20px;
	padding-left:15px;

	ul.sortable{
		margin:0;
		padding:0;
		list-style: none;
		display:inline;

		li{
			position:relative;
			display:inline-block;
			cursor: hand;

			&:hover .btn-delete {
				opacity: 1;
			}
			.btn-delete {
				position: absolute;
				right: 4px;
				top: 4px;
				opacity: 0;
			}
		}
	} 
		
	.image-wrapper {

		&:hover .btn-delete {
			opacity: 1;
		}
		.btn-delete {
			position: absolute;
			right: 4px;
			top: 4px;
			opacity: 0;
		}
	}


	.alert-wrapper {
		position: absolute;
		display: block;
		top: 0px;
		width: 100%;
		left: 0px;
		.alert {
			border-radius: 0px;
			background-color: rgba(242, 222, 222, 0.9);
			padding: 5px 0px 5px 5px;
		}
	}

	.progress-wrapper {
		position: absolute;
		bottom: -20px;
		width: 100%;
		margin-left: 0px;
		.progress {
			border-radius: 0px;
			border-bottom-right-radius: $radius;
			border-bottom-left-radius: $radius;
		}
	}

	.image-wrapper {
		display:inline-block;
		position:relative;
		width: 100px;
		height: 100px;
	}
	img{
		padding:2px; 
		width: 100px;
		height: 100px;
		background-color: #fff;
		border: 1px solid #ddd;
		border-radius: $radius;

		&:hover{
			cursor: pointer;
		}
	}
}






//IMAGE LIGHTBOX
.lb-prev:before {
	content: "\e079";
	float:left;
	margin-left: -40px;
}

.lb-nav a.lb-prev {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	text-decoration: none;
	background: none; 
	padding-top: 50%; 
	font-size: 40px;
	width:50%; 
	color:white;
}

.lb-next:before{
	content: "\e080";
	float:right;
	margin-right: -40px;
}

.lb-nav a.lb-next {
	
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	text-decoration: none;
	background: none;
	padding-top: 50%; 
	font-size: 40px;
	width:50%;
	color:white; 
}

.lb-data .lb-caption {
	display:none;
	visibility: hidden;
}




//QUILL EDITOR
.ql-format-group{
	.fa-bold, .fa-italic, .fa-underline, .fa-strikethrough, .fa-list, .fa-list-ul{
		margin:4px;

		&:hover{
			color:#333;
			border: 1px solid #ddd;
		}
	}
}




//SEARCH PAGE
.search-hashtag { 
	list-style: none; 
	margin:0;
	padding:0;

	li {
		margin: 0;
		padding: 20px;
		background-color: $secondary-color;
		color: white;
		font-weight: normal;
		cursor: pointer;
		border-bottom: 1px solid #ccc;
		font-size: 16px;
		&:hover{
			background-color: $terthiary-color;
		}	

		.search-hashtag-tag {

			font-size: 26px;

		}

		.search-hashtag-total {
			font-size: 20px;
			float:right;
			color: #ccc;
		}	 
	} 
}















// COMMENTS
#leaveComment textarea {
	height: 80px;
}
.comments{

	.form-group{
		margin-bottom:0px;
	}

	.ladda-button{
		margin-bottom:20px;
	}

	.comment{
		margin-top:10px;
		width: 100%;
		display:inline-block;
		
		.btn-delete {
			display:none !important;
			position:absolute;
			right: 10px;
		}

		&:hover .btn-delete{
			display:inline !important;
		}

		.image {
			float:left;
			display:inline;
			width: 55px;
			.thumbnail{
				padding:1px;
			}
		}
		.single-comment {
			width:80%;
			float:left;
			display:inline;
			
			a {
				color: #fa4b2a;
			}

			.comment-string {
				a {
					color: $secondary-color;
				}
			}

			.moment {
				float:none;
			}
		}
	}
}


//Add margin top if the page does not have a section navigation under the main nav.
.haul-content.no-section-nav {
	padding-top: 30px;
}


// MENTIONS
.mentions {
	width:100%;
	display:inline-block;
	text-align: left;
	border: 1px solid #ccc;
	
	.comment{
		width:100%;
		margin: 0;
		padding: 0;
		padding-top:20px;
		padding-bottom:20px;
		border-bottom: 1px solid #ccc;
		background-color: #ffffff;

	}

	.comment.read {
		background-color: #ebebeb;
	}
}

.footer {
	padding: 15px;
}


// NEW POST STYLES
.haul-new-post {

	width:100%;
	margin:0;
	padding-right: 0;
	padding-left: 0;

	pre{
		margin-right: 10px;
	}

	.number {
		font-size: 100px;
		position:absolute;
		z-index:1;
		color: #ccc;
		text-align: center;
		width:100%;
		@media (max-width: 768px) {
			display:none;
		}
	}

	.describe {
		padding:30px 0 0 15px;
	}

	.new-post-uploads {  
		padding: 0 0 20px 0;
	}

	.new-post-product {
		padding: 15px 0 20px 0;
		background-color: #fafafa;
	}

	.new-post-post {
		padding: 15px 0 20px 0;
		background-color: #f1f1f1;
		#editor {
			background-color: #ffffff;
		}
	}

	.new-post-product.disable, .new-post-post.disable {
		opacity: .3;
		//display:none;
	}

	.footer {
		padding: 15px 0 15px 0;
		border-top: 1px solid #eee;
	}

}



.editor-and-gallery{
	width:100%;
	display:inline;
	float:left;
	margin:0;
	padding:1px;
	padding-top: 15px;
	.editor-gallery {

		width:10%;
		float:left;
		display:inline-block;
		max-height: none;
		height: 400px;
		overflow: scroll;
		background-color: #f8f8f8;
		border-top: 1px solid #ddd;
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		text-align:center;

		.fa-picture-o { 
			margin-top:10px;
			margin-bottom:9px;
			margin-left:auto;
			margin-right:auto;
		}
		.editor-gallery-icon{
			border-bottom: 1px solid #ccc;
		}

		img {
			width:100%;
			padding: 2px;
			border: 1px solid #ccc;
			margin-bottom:4px;
			cursor:pointer;
			opacity: .8;

			&:hover{
				opacity: 1;
			}
		}

		img:first-child{
		}

		.invisible {
			visibility: hidden;
		}
	}

	.editorWrapper {
		width:90%;
		float:left;
		display:inline-block;
		border-left:none;
	}
	#toolbar{
		border-left: none;
		border-right: none;
	}
	#editor {
		padding-left: 15px;
	}
}

.error{
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  display:inline;

  &:empty{
  	display:none;
  }
}


.haul-social-block {
	padding-top: 20px;
}