{{#nav-nav}}
<div class="list-group">
  {{#link-to 'details.faq' class="list-group-item"}}FAQ{{/link-to}}
  {{#link-to 'details.tips' class="list-group-item"}}Tips &amp; Tricks{{/link-to}}
  {{#link-to 'details.tos' class="list-group-item"}}TOS{{/link-to}}
  {{#link-to 'details.privacy' class="list-group-item"}}Privacy{{/link-to}}		
</div>
{{/nav-nav}}