


/*.tall {
    background: #2d3647;
}*/
core-header-panel{
    background: #2d3647;
}

core-scaffold::shadow core-toolbar {
    background: #2d3647;
    color: #FFF
}
div#bottomBar.toolbar-tools {
    background: #2d3647;
}

#coreMenu {
    color: #FFF
    position:absolute;
    top: 160px;
}
.content-area{
    color: #000;
}
#container {
    background-color: #fff;
    height: 5000px;
    padding: 20px;
}
.content {
  padding: 10px 30px;
}
.title {
    -webkit-transform-origin: 0;
    transform-origin: 0;
    font-size: 40px;
}

.middle, .top {
    color: #fff;
}

core-toolbar {
  color: #fff;
  fill: #2d3647;
  background-color: transparent;
}


/* background for toolbar when it is at its full size */
core-scroll-header-panel::shadow #headerBg {
    background: #2d3647;
    /*background-image: url(images/mcqueen.png);*/
    /*background-image: url(bower_components/core-scroll-header-panel/demos/images/bg9.jpg);*/
}

/* background for toolbar when it is condensed */
core-scroll-header-panel::shadow #condensedHeaderBg {
    background: #2d3647;
  /*background-color: #2d3647;*/
}



/* drawer is always visible on a wide screen
   so menu button isn't required */
core-drawer-panel:not([narrow]) #openDrawerButton {
  display: none;
}

core-menu::shadow ::content > core-item.core-selected{
        color:silver;
}

core-menu::shadow ::content > core-submenu > core-item.core-selected{
        color:silver;
}


body {
  margin: 0;
  font-family: helvetica;
  color: #fff;
}

:host /deep/ core-header-panel[navigation] .logo-inner {
  padding-left: 22px;
  width: 100px;
  height: 128px;
  font-size: 30px;
  font-family: Arvo, serif;
  font-weight: bold;
  display: table-cell;
  vertical-align: bottom;
  color: #fff;
  background-color:#3a4457;
}

:host /deep/ core-header-panel[navigation] .logo-outer {
    display:block;
    top:0px;
    left:0px
    margin-left: 10px;
    width: 125px;
    height: 135px;
    background-color: #3a4457;
    margin-bottom: 40px;
    box-shadow: 0px 2px 2px #333;
}

:host /deep/ core-header-panel[navigation] .shim {
    margin-top: 50px;
}


:host /deep/ core-drawer-panel {
    font-family: helvetica;
    color: #fff;
}

:host /deep/ core-drawer-panel .content {
    color: #000;
}

:host /deep/ core-header-panel[navigation] a:not(:first-of-type) core-item {

}
:host /deep/ core-header-panel[navigation] a {
  color: #fff;
  text-decoration: none;
}
:host /deep/ core-header-panel[navigation] a:hover core-item,
:host /deep/ core-header-panel[navigation] a:focus core-item {

  color: #ccc;
}
:host /deep/ core-header-panel[navigation] a[active] core-item {
    color: #fff;
    text-decoration: bold;
}
