.haul-container {
  margin-top: 50px;
  margin-right: 100px;
}

.haul-font {
  font-family: Arvo, serif;
  font-weight: bold;
}

.logo-center{ 
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto; 
}

.logo-center-outer{  
    position: block;
    margin:auto;
    padding-left: 10px;
    padding-right: 10px;    
    padding-top:60px;
    width: 160px;
    height: 120px;
    background-color: #3a4457;
    box-shadow: 0px 2px 2px #000;
    font-size: 50px;
    font-family: Arvo, serif;
    font-weight: bold;
}

.logo-center-outer a {
  color: #fff;
}
 


.logo-outer {
    -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;

    z-index:2000;
    position:absolute;
    margin-left: 55px;
    padding-left: 10px;    
    padding-top:20px;

    width: 100px;
    height: 60px;
    background-color: #3a4457;
    box-shadow: 0px 2px 2px #000;
    font-size: 30px;
    font-family: Arvo, serif;
    font-weight: bold;

}

@media (min-width: 768px){
  .logo-outer {
    position:absolute;
    margin-left:20px;
    padding-left: 10px;    
    padding-top:40px;
    width: 100px;
    height: 80px;
    background-color: #3a4457;
    box-shadow: 0px 2px 2px #000;
    font-size: 30px;
    font-family: Arvo, serif;
    font-weight: bold;
  }
}

.logo-outer a {
  color: #fff;
}
 
.navbar-toggle {
  float: left;
}
 
@media (min-width: 768px){
  .navbar-search {
      position: absolute;
      width: 100%;
      left: 0;
      text-align: center;
      margin: auto;
  }
}

.navbar-form {
  border-top: none;
  border-bottom: none;
}

.navbar {
  margin-bottom: 40px;
}

.navbar-anon {
  margin-bottom: 80px;
}


.profile-circular-mask {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ddd;
}
.profile-small-circular-mask { 
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ddd;
}

.profile-circular-mask img {
  max-width: 100%;
}

.profile-small-circular-mask img {
  max-width: 100%;
}

.haul-buy-card{
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  /*background-color: #f5f5f5;*/
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);

}

.haul-buy-card .profile-circular-mask {
  width: 50px;
  height: 50px;
}

.haul-buy-card .media:first-child{
  margin-top: 15px;
}

.haul-buy-card .haul-price {
  font-family: Arvo, serif;
  font-weight: bold;
  font-size: 200%;
  padding-right: 10px;
}


.haul-buy-card .button-bar {
  margin-bottom: 15px; 
  vertical-align: middle;
}
.haul-buy-card .haul-counts {
  display: inline-block;
  vertical-align: middle;
}

.haul-icon-support .profile-small-circular-mask {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.haul-icon-support .profile-small-circular-mask{
  margin-right: 10px;
}



.haul-profile-header span{
  color: #000;
}



.haul-grid {
  margin:0;
  margin-top: 30px;
  padding:20px;  
}

.haul-grid-li{
  list-style: none; 
  float:left;
  
  position:relative;
  display: inline-block;
  width: 100%;   
}

.haul-grid-li:before{
  content:"";
  display:block;
  margin-top:75%;
}

@media (min-width: 768px) {
  .haul-grid-li{
    width:33%; 
  }
}


@media (min-width: 992px) {
  .haul-grid-li{
    width:25%; 
  }
}
@media (min-width: 1200px) {
  .haul-grid-li{ 
    width:25%; 
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
   
  }
}


.dummy {
  margin-top:75%;
}

.photo-wrapper {
  width: 95%;
  height: 95%;
  overflow: hidden; 
  top:0px;
  left:0px;
  bottom:0;
  right:0;
  position:absolute;
}

.photo-wrapper img {
    width:100%;
    max-height: 100%;
    min-height: 100%;
} 






.haul-grid .info { 
/*  border: 1px solid green;*/
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  font-family: Arvo, serif;
  font-weight: bold;
  color: #000;  

  opacity: 0;
  -webkit-transition: opacity .15s linear;
       -o-transition: opacity .15s linear;
          transition: opacity .15s linear;
}

.haul-grid .info:hover {
  opacity:.7;
}
.haul-grid .title {
/*  border: 1px solid red;*/
  position:absolute;
  width:auto;
  padding: 5px 5px 5px 15px;
  bottom: 5%;
  background-color: #eee;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.haul-grid .price {
  float:right; 
  padding-left: 20px;
}

.haul-grid .control {
  float:right; 
  padding-left: 20px;
}

.haul-grid .sold {
  position:absolute;
  right: 0px;
  top: 50px;
  background-color: orange;
  font-family: Arvo, serif;
  font-weight: bold;
  font-size: 140%;
  color: #000; 

  padding: 10px;
  padding-left: 20px;
  padding-right: 5px;

  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.padding-top {
  padding-top: 20px;
}

.vcenter {
  float:none;
  display:inline-block;
  vertical-align:middle;
  margin-right:-4px;
}

#haul-dropzone {
  text-align: center;
  font-weight: bold;
}

.selected {
  border: 1px solid pink;
}