$font-stack-primary:  Arvo, "Helvetica Neue",Helvetica,Arial,sans-serif;
$font-stack-secondary: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

$font-color: #000;
$bg-color: #ffffff;
$bg-color-primary: #f7f7f7; //#3c4454;//#ededed;
$bg-color-secondary: #fafafa;
$border-color-secondary: #e3e3e3;

$bg-color-toolbar: #f7f7f7; 
$border-color-toolbar: #ddd;

$bg-color-toolbar-footer: #333333; 
$border-color-toolbar-footer: #000000;

$border-color-pod: #eee; 

@import "compass/css3/transition";

//#CC0000


h1, h2, h3, h4, h5{
  font-family: $font-stack-secondary; 
}

h4 a{
  color: $font-color;
}

div.inline img{ 
  float: left;
}

h2.inline{ 
  float: left;
  display: inline;
}

h2.inline img{ 
  float: left;
  display: inline;
}

label {
  font-family: $font-stack-secondary; 
}

.haul-header {
  padding-top: 10px;
}

.haul-font {
  font-family: $font-stack-primary; 
  font-weight: bold;
}

.haul-font-weak {
  font-family: $font-stack-primary;   
  font-weight: normal;
}

.font-weak { 
  font-weight: normal;
}

// .haul-header .profile-circular-mask {
//   margin-top: -10px;
// }


body {
  background-color: $bg-color;
  position: relative;
  padding-top:31px;
  padding-bottom: 80px;
}


.text-regular {
  font-weight: normal;
  font-family: arial;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.glyphicon.red {
  color: red;
}

.media a:hover {
  text-decoration: none;
}

.media-divider {
  padding-top: 8px;
  border-top: 1px solid #e9e9e9;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
 

.display-inline {
  display: inline;
}



.show {
  @include transition(all .2s ease-in-out);
}

.logo-outer {
  
  @include transition(all .2s ease-in-out);

  z-index:2000;
  position:absolute;
  margin-left: 55px;
  padding-left: 10px; 
  padding-top:20px; 

  width: 100px;
  height: 60px;
  background-color: #3a4457;
  box-shadow: 0px 2px 2px #000;
  font-size: 30px;
  font-family: $font-stack-primary;
  font-weight: bold;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

@media (min-width: 768px){
  .logo-outer {
    position:absolute;
    margin-left:20px; 
    padding-top:30px;
    width: 100px;
    height: 70px;    
  }
}




.logo-outer a {
  color: #fff;
}
 
.navbar-toggle {
  float: left;
  margin-left:5px;
}

.thumbnail.center {
  display:inline;
}

.thumbnail.small{
  width: 100px;
  height: 100px;
}

.thumbnail.profile {
  border-radius:4px;
}

.navbar-profile { 
  /*width: 100%;*/
  left: 0;
  margin-right: 5px;
  margin-top: 8px;
  margin-bottom: 5px;
  padding:0px;
}

.navbar-profile img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  float:left;
}

.navbar-profile a {
   color:inherit;
  padding-bottom: 10px;
  padding-top: 10px;
}

.navbar-profile a:hover {
  text-decoration: none;
}

.navbar-profile .profile-name {
  padding-left: 4px;
}

.navbar-right .btn-cta {
  float: left;
  margin-right: 10px;
}


.navbar-center {
  @include transition(all .2s ease-in-out);
  
  position: relative;
  width: 50%;
  padding-top:9px;
  /*margin: auto; */
  margin-left: 150px;
  text-align: center; 
}  
  


@media (max-width: 768px) {
  .navbar-center {
    width: 100%;
    margin-left: 0px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 60px;
  } 
}




@media (max-width: 768px) {
  .dropdown-menu{
    right:0;
    left: auto;
  }
}


.haul-navbar{
  background-color: $bg-color-primary; 
  border-bottom: 1px solid #ccc; 
  box-shadow: 0px 1px 10px #ddd;
}

.haul-navbar .navbar-right{
  float: right; 
  position:absolute;
  right: 10px;
}

.haul-navbar .navbar-right.in{
  overflow-y:visible;
}

.haul-navbar .signup{
  border: 1px solid #0192B5;
  color: #0192B5;
}


.input-group-btn .btn{
  height: 34px;
}

.btn-group .btn{
  height: 34px;
}

.navbar {
  margin-bottom: 40px;
}

.navbar-anon {
  margin-bottom: 80px;
}


.profile-circular-mask {
  @include transition(all .2s ease-in-out);
  
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #ddd;
}

.profile-circular-mask.collection{
  border-radius: 20%;
}

.profile-circular-mask img {
  max-width: 100%;

}

.profile-circular-mask span {
  @include transition(all .2s ease-in-out);

  position:absolute;
  top: 30px;
  left: 35px;
}

.profile-circular-mask.sm{
  width: 50px;
  height: 50px;
  vertical-align: middle; 
}

.heading .profile-circular-mask {
  margin-top: -10px;
}
 

//.toolbar {
  // position: fixed;
  // // display:inline;
  // top:50px;
  //width: 100%;
  // margin-bottom: 10px;
  // padding-top:10px;
  // padding-bottom:10px;
  // padding-right: 10px;
  // padding-left: 10px;
  // /*background-color: ##F9F9F9;*/
  // border-top: 1px solid #ccc;
  // border-bottom: 1px dashed #ddd;
  // background: rgba(248, 248, 248, .90);
  // min-height:5px;
  //z-index: 1029;
  //box-shadow: 2px 1px 3px #ccc;


  // background-image:
  //     -moz-linear-gradient(45deg, #000 25%, transparent 25%), 
  //     -moz-linear-gradient(-45deg, #000 25%, transparent 25%),
  //     -moz-linear-gradient(45deg, transparent 75%, #000 75%),
  //     -moz-linear-gradient(-45deg, transparent 75%, #000 75%);
  //   background-image:
  //     -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #f7f4f4), color-stop(.25, transparent)), 
  //     -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #f7f4f4), color-stop(.25, transparent)),
  //     -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #f7f4f4)),
  //     -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #f7f4f4  ));

  //   -moz-background-size:100px 100px;
  //   background-size:100px 100px;
  //   -webkit-background-size:10px 11px; /* override value for shitty webkit */
    
  //   background-position:0 0, 25px 0, 25px -50px, 0px 50px;
//}



// .toolbar:empty {
//   display:none;
// }

// .toolbar-hide {
//   position: inherit;
//   top: -100px; 
// }

.toolbar.fixed {
  @include transition(position .2s ease-in-out);
  position: fixed;
  width: 100%;
  display:inline-block;
  top:50px;
  z-index: 1029;
}

.toolbar-footer{
  top: inherit;
  bottom:0px;
  position: fixed;
  display:inline;
  padding-top:20px;
  padding-bottom:5px;
  z-index: 1029;
  width: 100%; 
  padding-top:10px;
  padding-bottom:10px;
  padding-right: 10px;
  padding-left: 10px;
  min-height:5px;  
  border-top: $border-color-toolbar-footer;
  background: $bg-color-toolbar-footer;
}



@media (max-width: 768px) {
  .toolbar.fixed {
    top:48px;
  }
}

// .toolbar h1 {
//   margin-top:0px;
//   margin-bottom:0px;
// }

.navbar-profile .profile-circular-mask {
  width:25px;
  height:25px;
}

.haul-buy-card{
  min-height: 20px;
  padding: 10px;
  /*background-color: #f5f5f5;*/
  //border: 1px solid #e3e3e3;
  border: 1px solid $border-color-pod;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);

}

.haul-buy-card .title {
  font-family: inherit;
  font-weight: 500;
  
  color: inherit;
  font-size:24px;
  padding-bottom: 10px;
}

.haul-buy-card .profile-circular-mask {
  width: 50px;
  height: 50px;
}



.haul-buy-card .media:first-child{
  margin-top: 15px;
}

.haul-buy-card .haul-price {
  font-family: $font-stack-secondary;
  font-weight: normal;
  font-size: 200%;
  padding-top: 0px;
}


.haul-buy-card .button-bar {
  margin-bottom: 15px; 
  vertical-align: middle;
}
.haul-buy-card .haul-counts {
  display: inline-block;
  vertical-align: middle;
}



.media-body {
  padding-left: 10px;
}


.haul-profile-header{
  color: #000;
}

.haul-media-left {
  float: left;
  max-width: 40%;
}

.haul-media-left-end {
  float: left;
  padding: 20px 10px 10px 40px;
  text-align: center;
}
@media (max-width: 450px) {
  .haul-media-left {
    @include transition(all .2s ease-in-out);

    width: 300px;
    max-width:300px;
  }
}

.haul-grid {
  margin:0;
  margin-top: 30px;
}

.haul-grid-li{ 
  float:left;
  padding:10px;
  position:relative;
  width: 50%;
}

@media (min-width: 768px) {
  .haul-grid-li{
  width:33%; 
  }
}


@media (min-width: 992px) {
  .haul-grid-li{
  width:25%; 
  }
}
@media (min-width: 1200px) {
  .haul-grid-li{ 
    @include transition(all .2s ease-in-out);

    width:25%;
  }
} 




.haul-grid-li img {
  width: 100%;
  max-width: 320px;
  max-height: 320px;
} 


.haul-grid-li .sell {
  width: 100%;
  margin:0px;
  padding:0px;
  padding-bottom:100%;
  position: relative;
  max-height: 320px;
}


.haul-grid-li .sell-button {
  border: 1px dashed grey; 
  border-radius: 4px; 
  position:absolute;
  width: 100%;
  height: 100%;
  max-width: 320px;
  max-height: 320px;
  min-width: 100px;
  font-color: #000;
}

.haul-grid-li .sell-text {
  position:absolute;
  top: 30%;
  width:100%;
}





.sell-text .glyphicon {
  padding-bottom: 10px;
}

.box-rigid {
  float: left;
  //padding-right: 10px;
  position:relative;
}

.box-vert-align {
  margin-top: 25%;
}


.box {
  /*border: 1px dashed grey;*/
  float: left;
  width:50%;
  margin:0px;
  padding-left:10px;
  max-height: 320px;
}

.box-soft {
  background-color: #f9f9f9;
  padding: 2px;
  border-radius: 4px;
}

.box-inside {
  max-height: 320px;
}

@media (min-width: 768px) {
  .box{
    width:66%; 
    padding-top:20px;
  }
}

@media (min-width: 992px) {
  .box{
    width:75%; 
    padding-top:20px;
  }
}
@media (min-width: 1200px) {
  .box{ 
    
    @include transition(all .2s ease-in-out);

    width:75%; 
    padding-top:20%;
  }
} 
 

.haul-image-picker-well {
  margin-top:10px;
  padding-top: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}


.haul-grid-li .info { 
  @include transition(opacity .15s linear);

  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  font-family: $font-stack-secondary;
  font-weight: bold;
  color: #000;  
  opacity: 1;
}

.haul-grid-li .info:hover {
  opacity:1;
}

.haul-grid-li .price {
/*  border: 1px solid red;*/
  position:absolute;
  width:auto;
  padding: 5px 5px 5px 15px;
  bottom: 20%;
  background-color: #eee;
  /*border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;*/
  box-shadow: 0px 2px 1px #ccc;
}

.haul-grid .price {
  float:right; 
  padding-left: 20px;
}

.haul-grid .control {
  float:right; 
  padding-left: 20px;
}

.haul-grid .sold {
  position:absolute;
  right: 0px;
  top: 50px;
  background-color: orange;
  font-family: $font-stack-secondary;
  font-weight: bold;
  font-size: 140%;
  color: #000; 

  padding: 10px;
  padding-left: 20px;
  padding-right: 5px;

  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}


.vcenter {
  float:none;
  display:inline-block;
  vertical-align:middle;
  margin-right:-4px;
}


.margin-top {
  margin-top: 20px;
}

.padding-right {
  padding-right: 10px;
}

.padding-top {
  padding-top: 20px;
}

.padding-bottom {
  padding-bottom: 20px;
}


.btn-xs.margin-top {
  margin-top: 5px;
}

.btn-fit-select {
  padding-bottom: 12px;
}
 
.btn-no-radius {
  border-radius: 0;
}

.btn-facebook {
  color: #fff;
  background-color: #3B5998;
  border: none;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

.btn-facebook:hover{
  background-color: #879ac0;
  border: none;
}






.haul-grid-thumbs {
  list-style: none; 
  float:left;
  position:relative;
  display: inline-block;
  width:20%;  
}

.alert-wrapper {
  position: absolute;
  display: block;
  top: 50px;
  width: 100%;
  left: 0px;

}

.alert-wrapper .alert {
  border-radius: 0px;
  background-color: rgba(242, 222, 222, .90);
  padding: 5px 0px 5px 5px;
  /*text-align:center;*/
}

.progress-wrapper {
  position: absolute;
  display: block;
  bottom: -20px;
  width: 100%;
  margin-left:0px;
}

.progress-wrapper .progress{
  border-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}


.haul-grid-thumbs:hover .delete {
  opacity:1;
}

.haul-grid-thumbs .delete {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity:0;
}




#haul-dropzone{
  /*border: 1px solid blue;*/
  min-height: 300px;
}

.dropzone-preview{
 /* border: 1px solid pink;*/
}

.ember-view .selected img{
  border-left: 4px solid #428bca;
  border-right: 4px solid #428bca;
  border-top: 4px solid #428bca;
  border-bottom: 4px solid #428bca;
}

.ember-view .selected .delete {
  opacity: 0;
}





.modal .danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}


.carousel-control.left {
  background-image: none;
}
.carousel-control.right {
  background-image: none;
}

.slide {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img{
  width:100%; 
}


.haul-thumb {
  cursor: hand;
  margin-bottom:0px;
  width: 100%;
}

.sortable {
  list-style: none;
}

.ui-sortable {
  padding:0px;
  position:relative;
}

.sortable li{
  float: left;
  width: 20%;
  cursor: hand;
}

.sort-item-wrapper {
  position: relative;
}
.sortable li .glyphicon {
  display: none;
}
.sortable li:hover .glyphicon {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  width:20%;
  height:20%;
  margin-left:-20px;
  margin-top:-20px;
  font-size: 3em;
}



.sortable li:hover img {
  opacity: .5;
}


.input-sm {
  width:100px;
}

.input-xs {
  width:75px;
}

.input-group .input-sm {
  width:100px;
}

label {
  padding-top: 10px;
}

.border {
  border: 1px solid pink;
}

textarea.form-control {
  height:200px;
};
 


.toc {
  float:left;
  width:200px;
  display:inline;
  position:absolute;
}
@media (max-width: 992px) {
  .toc{
    display:none;
  }
}

.relative {
  position: relative;
}

.content-toc {
  padding-top:60px; 
}

.content-scroll {
  overflow:scroll;
  height: 120%;
  padding-top:60px;
  padding-bottom:0%;
}
 
.content-fixed-nav {
  margin-top: 20px; 
} 


.trucate-text .hide {
  @include transition(opacity .15s linear);
}

.trucate-text .show {
  @include transition(opacity .15s linear);
}


.badge-success {
  background-color: green;
}

.badge-danger {
  background-color: red;
}

.alert-sm {
  padding: 3px;
  margin-top:3px;
}









.content-fixed-nav.home {
  margin-top: 50px;
}



.home .price {
  bottom: 40%;
}

.home .thumbnail {
  margin-bottom: 0px;
}

.home .description {
  display:block;
  padding: 10px;
  background-color: #eee;  
  width:100%; 
  min-height: 60px;
  max-height: 60px;
  overflow: hidden;
}


@media (min-width: 768px) {
  .btn-responsive {
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
  }
}


.btn-responsive a{
  color: #000;
}

.btn-responsive.selected {
  background-color: #eee;  
  //color: #ccc;
}

.btn-left {
  float: left !important;
  margin-right: 10px;
}

.btn-right {
  float: right !important;
  margin-left: 10px;
}


.form-list { 
  list-style: none;
  padding-left: -10px;
  margin-left: -30px;
}

.collection-nav {
  font-family: $font-stack-secondary;
  background-color: #f0f1f3;//$bg-color-secondary;
  //border: 1px solid #ddd;
  padding-top:10px;
  padding-bottom:5px;
  border-bottom: 1px solid #e1e4e7; 

  h1 a {
    color:black;
  }

  h2 a {
    color:black;
  }

  .profile-circular-mask {
    margin-top: -10px;
  }

}




.seller-nav {
  background-color: $bg-color-secondary;
  //border: 1px solid #ddd;
  padding-top:10px;
  padding-bottom:5px;
}

.seller-nav h1 {
  margin-top: 10px;
}

.seller-nav h2 {
  margin-top: -3px;
}

.seller-nav h3 {
  margin-top: 10px;
}

.seller-nav h1 a {
  color:black;
}

.seller-nav h2 a {
  color:black;
}

.seller-nav .follow{
  position: absolute;
  right: 40px;
  margin-left: 10px;
  text-align: left;
}

.seller-nav-footer{
  border-bottom: 1px solid $border-color-secondary;
  margin-bottom: 20px;
}



#leaveComment textarea {
  height: 80px;
}

.top-border {
  border-top: 1px solid #e3e3e3;
}
.bottom-border {
  border-bottom: 1px solid #e3e3e3;
}

.left-border {
  border-left: 1px solid #e3e3e3;
}

.image-scroll {
  overflow:auto;
  height:300px;
  padding:10px;
  // border-bottom: 1px solid #e3e3e3
}

.image-scroll img {
  width: 50%;
  float: left !important;
}

.image-scroll.fixed{ 
  //@include transition(all .2s ease-in-out);
  position: fixed;
  display:inline;
  top:125px; 
  width:300px;
}  

.editorial{
  img {
    width: 100%;
  }
  
  .thumbnail {
    border-radius: 0px;
    padding:0px;
  }
} 

#editor {
  overflow: auto;
}

#editor img{
  width: 100%;
}

.editorWrapper {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  font-weight: normal;
}

.ql-toolbar {
  background-color: rgba(248, 248, 248, .90);
  box-shadow: 0px 1px 1px #eee;
}






.haul-toggle{
  font-family: $font-stack-secondary;
  background-color: $bg-color-secondary;
  border-top: 1px solid $border-color-secondary;
  padding-top: 5px;
  font-weight: normal;
}

.haul-toggle.fixed{
  background-color: $bg-color-toolbar;
  border-bottom: 1px solid $border-color-toolbar;  
  box-shadow: 0px 1px 0px #ddd;
}


.haul-toggle div{
  color: #3A4457;
  text-decoration: none;
  margin-right: 20px;
  font-size: 1.0em;
  display:inline-block;
}

.haul-toggle small{
  text-decoration: none;
  color: black;
  font-weight: normal;
}

.haul-toggle div.here {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.haul-toggle a {
  color: inherit;
}

.haul-toggle a:hover {
  text-decoration: underline; 
  cursor: pointer; 
}

.haul-panel {
  h3 {
    margin-top: 0px;
  }
  .title{
    background-color: #ccc;
  }
  .scroll{
    max-height: 300px;
    overflow: scroll;
  }
}