/* line 11, haul.scss */
body {
  position: relative;
  padding-top: 31px;
}

/* line 16, haul.scss */
.text-regular {
  font-weight: normal;
}

/* line 20, haul.scss */
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 27, haul.scss */
.glyphicon.red {
  color: red;
}

/* line 31, haul.scss */
.media a:hover {
  text-decoration: none;
}

/* line 35, haul.scss */
.media-divider {
  padding-top: 8px;
  border-top: 1px solid #e9e9e9;
}

/* line 40, haul.scss */
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 48, haul.scss */
.haul-wrapper {
  margin-top: 75px;
}

/* line 52, haul.scss */
.display-inline {
  display: inline;
}

/* line 56, haul.scss */
.haul-container {
  margin-top: 50px;
  margin-right: 100px;
}

/* line 61, haul.scss */
.haul-font {
  font-family: Arvo, serif;
  font-weight: bold;
}

/* line 66, haul.scss */
.haul-font-weak {
  font-weight: normal;
}

/* line 70, haul.scss */
.show {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 74, haul.scss */
.logo-outer {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 2000;
  position: absolute;
  margin-left: 55px;
  padding-left: 10px;
  padding-top: 20px;
  width: 100px;
  height: 60px;
  background-color: #3a4457;
  box-shadow: 0px 2px 2px #000;
  font-size: 30px;
  font-family: Arvo, serif;
  font-weight: bold;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

@media (min-width: 768px) {
  /* line 96, haul.scss */
  .logo-outer {
    position: absolute;
    margin-left: 20px;
    padding-top: 30px;
    width: 100px;
    height: 70px;
  }
}
/* line 108, haul.scss */
.logo-outer a {
  color: #fff;
}

/* line 112, haul.scss */
.navbar-toggle {
  float: left;
  margin-left: 5px;
}

/* line 117, haul.scss */
.thumbnail.center {
  display: inline;
}

/* line 121, haul.scss */
.thumbnail.small {
  width: 100px;
  height: 100px;
}

/* line 126, haul.scss */
.thumbnail.profile {
  border-radius: 4px;
}

/* line 130, haul.scss */
.navbar-profile {
  /*width: 100%;*/
  left: 0;
  margin-right: 5px;
  margin-top: 8px;
  margin-bottom: 5px;
  padding: 0px;
}

/* line 139, haul.scss */
.navbar-profile img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  float: left;
}

/* line 146, haul.scss */
.navbar-profile a {
  color: inherit;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* line 152, haul.scss */
.navbar-profile a:hover {
  text-decoration: none;
}

/* line 156, haul.scss */
.navbar-profile .profile-name {
  padding-left: 4px;
}

/* line 161, haul.scss */
.navbar-center {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  width: 50%;
  padding-top: 9px;
  /*margin: auto; */
  margin-left: 150px;
  text-align: center;
}

@media (max-width: 768px) {
  /* line 175, haul.scss */
  .navbar-center {
    width: 100%;
    margin-left: 0px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 60px;
  }
}
@media (max-width: 768px) {
  /* line 188, haul.scss */
  .dropdown-menu {
    right: 0;
    left: auto;
  }
}
/* line 194, haul.scss */
.haul-navbar {
  border-bottom: 1px solid #A8B4BD;
}

/* line 198, haul.scss */
.haul-navbar .navbar-right {
  float: right;
  position: absolute;
  right: 10px;
}

/* line 204, haul.scss */
.haul-navbar .navbar-right.in {
  overflow-y: visible;
}

/* line 208, haul.scss */
.haul-navbar .signup {
  border: 1px solid #0192B5;
  color: #0192B5;
}

/* line 214, haul.scss */
.input-group-btn .btn {
  height: 34px;
}

/* line 218, haul.scss */
.btn-group .btn {
  height: 34px;
}

/* line 222, haul.scss */
.navbar {
  margin-bottom: 40px;
}

/* line 226, haul.scss */
.navbar-anon {
  margin-bottom: 80px;
}

/* line 231, haul.scss */
.profile-circular-mask {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #ddd;
}

/* line 245, haul.scss */
.profile-circular-mask.collection {
  border-radius: 20%;
}

/* line 249, haul.scss */
.profile-circular-mask img {
  max-width: 100%;
}

/* line 254, haul.scss */
.profile-circular-mask span {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 30px;
  left: 35px;
}

/* line 262, haul.scss */
.profile-circular-mask.sm {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

/* line 268, haul.scss */
.heading .profile-circular-mask {
  margin-top: -10px;
}

/* line 274, haul.scss */
.toolbar {
  width: 100%;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  /*background-color: ##F9F9F9;*/
  border-top: 1px solid #ccc;
  border-bottom: 1px dashed #ddd;
  background: rgba(248, 248, 248, 0.9);
  min-height: 5px;
}

/* line 295, haul.scss */
.toolbar:empty {
  display: none;
}

/* line 299, haul.scss */
.toolbar-hide {
  position: inherit;
  top: -100px;
}

/* line 304, haul.scss */
.toolbar.fixed {
  -moz-transition: position 0.2s ease-in-out;
  -o-transition: position 0.2s ease-in-out;
  -webkit-transition: position 0.2s ease-in-out;
  transition: position 0.2s ease-in-out;
  position: fixed;
  display: inline;
  top: 55px;
  padding-top: 20px;
  padding-bottom: 5px;
  z-index: 1029;
}

/* line 314, haul.scss */
.toolbar.fixed-bottom {
  top: inherit;
  bottom: 0px;
  position: fixed;
  display: inline;
  padding-top: 20px;
  padding-bottom: 5px;
  z-index: 1029;
}

@media (max-width: 768px) {
  /* line 327, haul.scss */
  .toolbar.fixed {
    top: 48px;
  }
}
/* line 332, haul.scss */
.toolbar h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* line 337, haul.scss */
.navbar-profile .profile-circular-mask {
  width: 25px;
  height: 25px;
}

/* line 342, haul.scss */
.haul-buy-card {
  min-height: 20px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 10px;
  margin-bottom: 20px;
  /*background-color: #f5f5f5;*/
  border: 1px solid #A8B4BD;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* line 357, haul.scss */
.haul-buy-card .title {
  font-family: inherit;
  font-weight: 500;
  color: inherit;
  font-size: 24px;
  padding-bottom: 10px;
}

/* line 366, haul.scss */
.haul-buy-card .profile-circular-mask {
  width: 50px;
  height: 50px;
}

/* line 373, haul.scss */
.haul-buy-card .media:first-child {
  margin-top: 15px;
}

/* line 377, haul.scss */
.haul-buy-card .haul-price {
  font-family: Arvo, serif;
  font-weight: bold;
  font-size: 200%;
  padding-top: 5px;
}

/* line 385, haul.scss */
.haul-buy-card .button-bar {
  margin-bottom: 15px;
  vertical-align: middle;
}

/* line 389, haul.scss */
.haul-buy-card .haul-counts {
  display: inline-block;
  vertical-align: middle;
}

/* line 396, haul.scss */
.media-body {
  padding-left: 10px;
}

/* line 401, haul.scss */
.haul-profile-header {
  color: #000;
}

/* line 405, haul.scss */
.haul-media-left {
  float: left;
  max-width: 40%;
}

/* line 410, haul.scss */
.haul-media-left-end {
  float: left;
  padding: 20px 10px 10px 40px;
  text-align: center;
}

@media (max-width: 450px) {
  /* line 416, haul.scss */
  .haul-media-left {
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 300px;
    max-width: 300px;
  }
}
/* line 424, haul.scss */
.haul-grid {
  margin: 0;
  margin-top: 30px;
}

/* line 429, haul.scss */
.haul-grid-li {
  float: left;
  padding: 10px;
  position: relative;
  width: 50%;
}

@media (min-width: 768px) {
  /* line 437, haul.scss */
  .haul-grid-li {
    width: 33%;
  }
}
@media (min-width: 992px) {
  /* line 444, haul.scss */
  .haul-grid-li {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  /* line 449, haul.scss */
  .haul-grid-li {
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 25%;
  }
}
/* line 459, haul.scss */
.haul-grid-li img {
  width: 100%;
  max-width: 320px;
  max-height: 320px;
}

/* line 466, haul.scss */
.haul-grid-li .sell {
  width: 100%;
  margin: 0px;
  padding: 0px;
  padding-bottom: 100%;
  position: relative;
  max-height: 320px;
}

/* line 476, haul.scss */
.haul-grid-li .sell-button {
  border: 1px dashed grey;
  border-radius: 4px;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 320px;
  max-height: 320px;
  min-width: 100px;
  font-color: #000;
  font-size: 1.5em;
}

/* line 489, haul.scss */
.haul-grid-li .sell-text {
  position: absolute;
  top: 30%;
  width: 100%;
}

/* line 499, haul.scss */
.sell-text .glyphicon {
  padding-bottom: 10px;
}

/* line 503, haul.scss */
.box-rigid {
  float: left;
  padding-right: 10px;
  position: relative;
}

/* line 509, haul.scss */
.box-vert-align {
  margin-top: 25%;
}

/* line 514, haul.scss */
.box {
  /*border: 1px dashed grey;*/
  float: left;
  width: 50%;
  margin: 0px;
  padding-left: 10px;
  max-height: 320px;
}

/* line 523, haul.scss */
.box-soft {
  background-color: #f9f9f9;
  padding: 2px;
  border-radius: 4px;
}

/* line 529, haul.scss */
.box-inside {
  max-height: 320px;
}

@media (min-width: 768px) {
  /* line 534, haul.scss */
  .box {
    width: 66%;
    padding-top: 20px;
  }
}
@media (min-width: 992px) {
  /* line 541, haul.scss */
  .box {
    width: 75%;
    padding-top: 20px;
  }
}
@media (min-width: 1200px) {
  /* line 547, haul.scss */
  .box {
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 75%;
    padding-top: 20%;
  }
}
/* line 557, haul.scss */
.haul-image-picker-well {
  margin-top: 10px;
  padding-top: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* line 568, haul.scss */
.haul-grid-li .info {
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  font-family: Arvo, serif;
  font-weight: bold;
  color: #000;
  opacity: 1;
}

/* line 582, haul.scss */
.haul-grid-li .info:hover {
  opacity: 1;
}

/* line 586, haul.scss */
.haul-grid-li .price {
  /*  border: 1px solid red;*/
  position: absolute;
  width: auto;
  padding: 5px 5px 5px 15px;
  bottom: 20%;
  background-color: #eee;
  /*border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;*/
  box-shadow: 0px 2px 1px #ccc;
}

/* line 598, haul.scss */
.haul-grid .price {
  float: right;
  padding-left: 20px;
}

/* line 603, haul.scss */
.haul-grid .control {
  float: right;
  padding-left: 20px;
}

/* line 608, haul.scss */
.haul-grid .sold {
  position: absolute;
  right: 0px;
  top: 50px;
  background-color: orange;
  font-family: Arvo, serif;
  font-weight: bold;
  font-size: 140%;
  color: #000;
  padding: 10px;
  padding-left: 20px;
  padding-right: 5px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 627, haul.scss */
.margin-top {
  margin-top: 20px;
}

/* line 631, haul.scss */
.padding-top {
  padding-top: 20px;
}

/* line 635, haul.scss */
.btn-xs.margin-top {
  margin-top: 5px;
}

/* line 639, haul.scss */
.btn-fit-select {
  padding-bottom: 12px;
}

/* line 643, haul.scss */
.padding-bottom {
  padding-bottom: 20px;
}

/* line 647, haul.scss */
.vcenter {
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
}

/* line 656, haul.scss */
.btn-no-radius {
  border-radius: 0;
}

/* line 660, haul.scss */
.btn-facebook {
  color: #fff;
  background-color: #3B5998;
  border: none;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

/* line 669, haul.scss */
.btn-facebook:hover {
  background-color: #879ac0;
  border: none;
}

/* line 679, haul.scss */
.haul-grid-thumbs {
  list-style: none;
  float: left;
  position: relative;
  display: inline-block;
  width: 20%;
}

/* line 687, haul.scss */
.alert-wrapper {
  position: absolute;
  display: block;
  top: 50px;
  width: 100%;
  left: 0px;
}

/* line 696, haul.scss */
.alert-wrapper .alert {
  border-radius: 0px;
  background-color: rgba(242, 222, 222, 0.9);
  padding: 5px 0px 5px 5px;
  /*text-align:center;*/
}

/* line 703, haul.scss */
.progress-wrapper {
  position: absolute;
  display: block;
  bottom: -20px;
  width: 100%;
  margin-left: 0px;
}

/* line 711, haul.scss */
.progress-wrapper .progress {
  border-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 718, haul.scss */
.haul-grid-thumbs:hover .delete {
  opacity: 1;
}

/* line 722, haul.scss */
.haul-grid-thumbs .delete {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0;
}

/* line 732, haul.scss */
#haul-dropzone {
  /*border: 1px solid blue;*/
  min-height: 300px;
}

/* line 737, haul.scss */
.dropzone-preview {
  /* border: 1px solid pink;*/
}

/* line 741, haul.scss */
.ember-view .selected img {
  border-left: 4px solid #428bca;
  border-right: 4px solid #428bca;
  border-top: 4px solid #428bca;
  border-bottom: 4px solid #428bca;
}

/* line 748, haul.scss */
.ember-view .selected .delete {
  opacity: 0;
}

/* line 756, haul.scss */
.modal .danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

/* line 763, haul.scss */
.carousel-control.left {
  background-image: none;
}

/* line 766, haul.scss */
.carousel-control.right {
  background-image: none;
}

/* line 770, haul.scss */
.slide {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

/* line 775, haul.scss */
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
}

/* line 780, haul.scss */
.haul-thumb {
  cursor: hand;
  margin-bottom: 0px;
  width: 100%;
}

/* line 786, haul.scss */
.sortable {
  list-style: none;
}

/* line 790, haul.scss */
.ui-sortable {
  padding: 0px;
  position: relative;
}

/* line 795, haul.scss */
.sortable li {
  float: left;
  width: 20%;
  cursor: hand;
}

/* line 801, haul.scss */
.sort-item-wrapper {
  position: relative;
}

/* line 804, haul.scss */
.sortable li .glyphicon {
  display: none;
}

/* line 807, haul.scss */
.sortable li:hover .glyphicon {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20%;
  height: 20%;
  margin-left: -20px;
  margin-top: -20px;
  font-size: 3em;
}

/* line 821, haul.scss */
.sortable li:hover img {
  opacity: .5;
}

/* line 826, haul.scss */
.input-sm {
  width: 100px;
}

/* line 830, haul.scss */
.input-xs {
  width: 75px;
}

/* line 834, haul.scss */
.input-group .input-sm {
  width: 100px;
}

/* line 838, haul.scss */
label {
  padding-top: 10px;
}

/* line 842, haul.scss */
.border {
  border: 1px solid pink;
}

/* line 846, haul.scss */
textarea.form-control {
  height: 200px;
}

/* line 863, haul.scss */
.toc {
  float: left;
  width: 200px;
  display: inline;
  position: absolute;
}

@media (max-width: 992px) {
  /* line 870, haul.scss */
  .toc {
    display: none;
  }
}
/* line 875, haul.scss */
.relative {
  position: relative;
}

/* line 879, haul.scss */
.content-toc {
  padding-top: 60px;
}

/* line 883, haul.scss */
.content-scroll {
  overflow: scroll;
  height: 120%;
  padding-top: 60px;
  padding-bottom: 0%;
}

/* line 890, haul.scss */
.content-fixed-nav {
  margin-top: 55px;
}

/* line 895, haul.scss */
.trucate-text .hide {
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

/* line 899, haul.scss */
.trucate-text .show {
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

/* line 904, haul.scss */
.badge-success {
  background-color: green;
}

/* line 908, haul.scss */
.badge-danger {
  background-color: red;
}

/* line 912, haul.scss */
.alert-sm {
  padding: 3px;
  margin-top: 3px;
}

/* line 925, haul.scss */
.content-fixed-nav.home {
  margin-top: 50px;
}

/* line 931, haul.scss */
.home .price {
  bottom: 40%;
}

/* line 935, haul.scss */
.home .thumbnail {
  margin-bottom: 0px;
}

/* line 939, haul.scss */
.home .description {
  display: block;
  padding: 10px;
  background-color: #eee;
  width: 100%;
  min-height: 60px;
  max-height: 60px;
  overflow: hidden;
}

@media (min-width: 768px) {
  /* line 951, haul.scss */
  .btn-responsive {
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
  }
}
/* line 959, haul.scss */
.btn-responsive a {
  color: #000;
}

/* line 963, haul.scss */
.btn-responsive.selected {
  background-color: #eee;
}

/* line 968, haul.scss */
.btn-left {
  float: left !important;
  margin-right: 10px;
}

/* line 973, haul.scss */
.btn-right {
  float: right !important;
  margin-left: 10px;
}

/* line 979, haul.scss */
.form-list {
  list-style: none;
  padding-left: -10px;
  margin-left: -30px;
}

/* line 985, haul.scss */
.seller-nav {
  background-color: #eee;
  border: 1px solid #eed;
  padding-bottom: 5px;
}

/* line 991, haul.scss */
.seller-nav h1 {
  margin-top: 10px;
}

/* line 995, haul.scss */
.seller-nav h2 {
  margin-top: -3px;
}

/* line 999, haul.scss */
.seller-nav h3 {
  margin-top: 10px;
}

/* line 1003, haul.scss */
.seller-nav h1 a {
  color: black;
}

/* line 1007, haul.scss */
.seller-nav h2 a {
  color: black;
}

/* line 1011, haul.scss */
.seller-nav .follow {
  position: absolute;
  right: 40px;
  margin-left: 10px;
  text-align: left;
}

/* line 1020, haul.scss */
#leaveComment textarea {
  height: 80px;
}

/* line 1024, haul.scss */
.top-border {
  border-top: 1px solid #e3e3e3;
}

/* line 1027, haul.scss */
.bottom-border {
  border-bottom: 1px solid #e3e3e3;
}

/* line 1031, haul.scss */
.image-scroll {
  overflow: auto;
  height: 300px;
  padding: 10px;
}

/* line 1038, haul.scss */
.image-scroll img {
  width: 50%;
  float: left !important;
}

/* line 1043, haul.scss */
.image-scroll.fixed {
  position: fixed;
  display: inline;
  top: 125px;
  width: 300px;
}

/* line 1051, haul.scss */
.editorial img {
  width: 100%;
}

/* line 1055, haul.scss */
#editor {
  overflow: auto;
}

/* line 1059, haul.scss */
#editor img {
  width: 100%;
}

/* line 1063, haul.scss */
.editorWrapper {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

/* line 1068, haul.scss */
.ql-toolbar {
  background-color: rgba(248, 248, 248, 0.9);
  box-shadow: 0px 1px 1px #eee;
}

/* line 1077, haul.scss */
.animated-outlet {
  position: relative;
}

/* line 1081, haul.scss */
.haul-container {
  background-color: #fff;
}
