
<div {{bind-attr class="isShowCreateCollection:show:hide"}}>
	<div class="row"> 
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="media"> 

				<div class="pull-right">
				{{ladda-btn
					name='Create'
					class="display-inline"
					btnClasses='btn btn-default ladda-button'
					btnClick='submit'
					spin=isProcessing
				}}
				</div>
				<div class="media-body">
					{{input name canShowValidationError=showErrors placeholder="New collection name" }}  
				</div> 
				
			</div>
	 	</div>
	 </div>
</div>