<button {{action 'scrollTo'}} type="button" class="btn btn-default btn-responsive" 
	{{bs-bind-tooltip content="Comment on This!"}}>{{ commentCount }} <span class="glyphicon glyphicon-comment"></span>
</button>