{{#if show}}
<button {{action 'btnClick' }} class="btn btn-primary">{{ btnName }}</button>
<br/>
<span class="small">{{isFollowedByText}}</span>
<br/>
<span class="small">{{isFollowingText}}</span>
{{/if}}