<div class="sort-item-wrapper">
	<img data-id="{{unbound view.content.data.id}}" class="thumbnail haul-thumb item" {{bind-attr src=view.content.data.thumb}}  draggable="true">
	<span class="glyphicon glyphicon-move"></span>
</div>