<button type="button" class="btn btn-default btn-sm" 
	{{ action 'btnClick'}} {{bs-bind-tooltip content="Like This!"}}>
	{{ total }}
	<span {{bind-attr class=":glyphicon :glyphicon-heart userLikes:red"}}></span>
</button>	