{{#if product.getLikes }}
	<h4 class="top-border padding-top">Liked By</h4>
{{/if}}


{{#with currentUser as currentUser}}
	{{#each product.getLikes.users}}
		{{profile-badge user=this currentUser=currentUser}}
	{{/each}}				
{{/with}}