<div class="box-rigid text-center box-soft">
	
  	<div class="profile-circular-mask text-center">
  	{{#if user.icon}}
	    {{#link-to "collection" user class="pull-left"}}<img {{bind-attr src=user.icon }}>{{/link-to}}
    {{ else }} 
    	{{#if isPofileOwner }}
    		<span>{{#link-to "settings"}}edit{{/link-to}}</span>
    	{{/if}}
    {{/if}}
    </div>


	{{ follow-btn 
		item=user
		currentUser = targetObject.currentUser
		targetObject = targetObject
        ref_type = "user"
	}} 
	
</div>