<div class="box-rigid text-center">
	
  	<div class="profile-circular-mask text-center">
      {{#link-to "seller" user class="pull-left"}}  
        <img {{bind-attr src=user.icon }}>
      {{/link-to}}
    </div>
    <div>
      {{#link-to "seller" user}}  
        {{user.name}}
      {{/link-to}}
    </div>

  {{#if showFollows}}
  	{{ follow-btn 
  		item=user
  		currentUser = targetObject.currentUser
  		targetObject = targetObject
      ref_type = "user"
  	}} 
  {{/if}}
	
</div>