{{!-- SELLER PROFILE  --}}

<div class="container-fluid content-fixed-nav">  
	<div class="row seller-nav">
		<div class="col-md-12 col-sm-12 col-xs-12  text-center ">


			<div class="follow">
				{{ follow-btn 
					item=user 
					ref_type="user"
					currentUser=currentUser   
					hideCounts=true
				}} 
			</div> 			
			   	
			{{ make-icon icon=user.icon isSmall=false}}
			 	
	     	<h1>{{user.name}}</h1>

		
		</div>
	</div>

	{{ user-tabs 
		user=user 
		isProfile=true
	}}

	<div class="row seller-nav-footer"><span></span></div>

		
</div>