{{user-header model=model}}

<div class="container haul-content">  

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">

			{{#unless model.user.getFollows.follows }}
				<div class="padding-top text-center font-weak">
				{{#unless isProfileOwner}}
					{{user.name}} doesn't follow any one yet.
				{{else}}
					You don't follow any one yet.
				{{/unless}}
				</div>
			{{/unless}}

		 	{{#each model.user.getFollows.follows}}

	    		{{profile-badge profile=this}}
	
		 	{{/each}}
		

		</div> 
	</div>
</div>