{{user-header model=model}}

<div class="container haul-content">  
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">

			{{#unless model.getFollowers.followers }}
				<div class="padding-top text-center font-weak">
				{{#unless isProfileOwner}}
					{{user.name}}  has no followers :(
				{{else}}
					You have no followers :(
				{{/unless}} 
				</div>
			{{/unless}}

			{{!-- SELLER PRODUCTS --}}
		    {{#each model.getFollowers.followers}} 
		    	{{profile-badge profile=collection}}
			{{/each}} 

		</div> 
	</div>
</div>