
{{user-header user=user}}

{{!-- PAGE CONTENT --}}
<div class="container">   
  

	{{!-- UHOH, NO PRODUCTS AT ALL --}}
	{{#unless isProfileOwner}}
	{{#unless hasProducts }}
	{{#unless hasCollections }}
		<p class="padding-top text-center font-weak">{{user.name}} has nothing to sell.</p>
	{{/unless}}
	{{/unless}}
	{{/unless}}


	{{!-- CALL TO ACTION --}}
	{{#if isProfileOwner}}
	{{#unless hasCollections }}
		{{#unless hasProducts }} 
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12  text-center">
			<h3>Welcome to Haul. Let's get started!</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12  text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						
						{{#link-to 'product-new'}}
						<h3>
							<span class="glyphicon glyphicon-camera"></span><br/>
							Sell Something
						</h3>
						{{/link-to}} 
					</div>
				</div>
			</div>	
		</div>
		{{/unless}}
	{{/unless}}
	{{/if}}
		



	

<div class="container">

	{{!-- ALL PRODUCTS FOR THIS USER --}}
	{{!-- SELLER PRODUCTS --}}
	{{#if hasProducts}}
	    {{#each hasProducts}}
	

	<div class="row">   
		<div class="col-md-3 col-sm-2 col-xs-1"></div>
		<div class="col-md-6 col-sm-8 col-xs-10"> 
	    	{{#link-to 'seller.product' this.id }}
	    	<div class=""> 
				<img class="thumbnail" {{bind-attr src=image.small}}>

				{{#if sold}}
					<div class="sold">Sold</div>
				{{/if}}
				
				<div class="info">		
			 	  	<div class="price"> ${{price}}</div>   
				</div>			
		 	</div>
		 	{{/link-to}}

		</div>
		<div class="col-md-3 col-sm-2 col-xs-1"> </div>
	</div>	

		{{/each}} 
	{{/if}}
 
</div> 



