{{what-page currentPage=currentPage page=thisPage }}

<div class="container haul-content">  
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			
			{{#unless model.user.getLikes.products }}
				<div class="padding-top text-center font-weak">
				{{#unless isProfileOwner}}
					{{user.name}} hasn't liked anything yet.
				{{else}}
					You haven't liked anything yet.
				{{/unless}}</div>

				<p class="text-center">
					<span class="glyphicon glyphicon-heart-empty sad-heart"></span>
				</p>
			{{/unless}}


			{{!-- SELLER PRODUCTS --}}
		    {{#each model.user.getLikes.products}}
		    	{{#link-to 'seller.product' user.collection.slug id slug }}
		    	<div class="haul-grid-li"> 
					<img class="thumbnail" {{bind-attr src=image.small}}>
			 	</div>
			 	{{/link-to}}	
			{{/each}}  
		</div> 
	</div>
</div>