<!-- Header -->
<header>
    <div class="container">
        <div class="row">
        	<div class="col-md-4 "></div>
			<div class="col-md-4 form">

				{{#if emailRegistrationRequested}}
					<h2 class="form-signin-heading">Please check your email inbox.  We sent you a confirmation email.</h2>

				{{else}}	


					<div class="form-group">
						<h2 class="form-signin-heading">Signup With</h2>
					</div>

					<div class="form-group"> 
				      	<button class="btn btn-primary btn-block btn-facebook">Facebook</button>
				    </div> 



					<div class="form-group padding-top">
						<h4 class="">or with email</h4>
					</div>


					{{#if error409}}
				    	<div class="alert">Uhoh, that email is already in use.</div>
				  	{{/if}} 
					{{#if error}}
				    	<div class="alert">Oh no! Something went wrong.</div>
				  	{{/if}} 


            		{{#form-for model wrapper="bs3-wrapper"}}

					  {{#if submitFailed}}
					    <div class="alert">Oh no, something went wrong.</div>
					  {{/if}} 

					  	<div class="form-group"> 
				      		{{input email placeholder="email address"}}
				      	</div> 

						<div class="form-group">
					  		{{submit class="btn btn-primary btn-block"}}
					  	</div>
					{{/form-for}}
				{{/if}}

			</div>
			<div class="col-md-4"></div>
        </div>
    </div>
</header>
 