{{!-- HEADER --}}
<div class="seller-nav haul-font">
	<div class="content-fixed-nav text-center">
     	<h2>
     		<strong>
     			{{#link-to "seller.products" model.user}}My For Sale{{/link-to}}
     		</strong> 
     	</h2>

     	{{#unless model.user.name}}
	     <small>{{#link-to "seller" model.user}}by {{currentUser.user.name}}{{/link-to}}</small>
	     {{else}}
	     <small>{{#link-to "seller" model.user}}by {{model.user.name}}{{/link-to}}</small>
     	{{/unless}}
	</div>	
</div>	

<div class="animated-outlet">
	{{ outlet 'product' }}
</div>

