




<div class="row">
 	<div class="col-md-8">
    	<h1>Products</h1>
    </div>
    <div class="col-md-4 text-right ">
	    {{#link-to 'products.new'}}
	    <button class="btn btn-default">Create New</button>
	    {{/link-to}}
	</div>
</div>



<div class="row">
    
    {{#each}}
	
	  <div class="col-xs-6 col-md-3">
	    {{#link-to 'products.product' this class="thumbnail"}}
	      <img data-src="holder.js/100%x180" alt="...">
	    {{/link-to}}
	    <p> {{#link-to 'products.product' this}}{{title}}{{/link-to}}</p>
	  </div>
		  
      
    {{/each}}
</div>