

<div class="container">
	<div class="haul-container"> 

		<div class="row">
			<div class="col-md-8 col-sm-6 col-xs-6">
				<h2>Ready To Sell?</br>
				<small>Select up to 5 images.</small>
				</h2>
			</div>
			<div class="col-md-4  col-sm-6 col-xs-6 verical-align text-right padding-top">
				<button class="btn btn-primary disabled">
					Next Step<span class="glyphicon glyphicon-chevron-right"></span>
				</button> 
			</div>
		</div>

		{{image-picker images=images}}
	</div>
</div>