

<div class="container">
	

		<div class="row">
			<div class="col-md-8 col-sm-6 col-xs-6">
				<h2>
				<small>Select up to 5 images.</small>
				</h2>
			</div>
			<div class="col-md-4  col-sm-6 col-xs-6 verical-align text-right padding-top">

			

				<button {{action "nextStep" this}}  {{bind-attr class=":btn :btn-primary imagesSelected:enabled:disabled"}}>Next Step<span class="glyphicon glyphicon-chevron-right"></span></button> 
			</div>
		</div>

		{{image-picker 
			images=model
			user_id=controllers.auth.currentUser.id
			user_token=controllers.auth.token
			refresh='refresh'
			imageClick='imageClick'
		}}



	
</div>