<h1>About</h1>

<p>Haul is a new way to buy and sell. A social commerce platform that allows people to find and sell great things through posting and reposting.</p>

<p>Haul is for people who are passionate about lifestyle.  Fashion, hobbies, fast cars, italian bicycles belong on Haul.</p>


{{follow-haul}}


<h2>Team</h2>

<p>Tim and Ethan have worked together at 5 companies -- recently Apple &amp; Beats Music.  They have 30 years combined experience building awesome technology.  Haul is their newest endeavor.</p>

<br/> 

<h4>Ethan Lance <small>(CEO, Co-Founder, Engineer)</small></h4>

<p>Formerly co-founded <a href="http://en.wikipedia.org/wiki/Whiskey_Media">Whiskey Media</a> a media company &amp; social wiki community.  Ethan has also been on the launch teams of <a href="http://BeatsMusic.com">BeatsMusic.com</a>, <a href="http://mp3.com">MP3.com</a>, <a href="http://tv.com">TV.com</a>, <a href="http://giantbomb.com">GiantBomb.com</a> and <a href="http://comicvine.com">Comicvine.com</a></p>

<br/> 

<h4>Tim Caplis <small>(CTO, Co-Founder, Engineer)</small></h4>

<p>Formerly the Principal Architect of Beats Music which recently was aquired by Apple. Tim has been the Director of Engineering at <a href="http://www.thismoment.com">Thismoment</a>, <a href="http://www.alteclansing.com/">Altec Lansing</a> and <a href="https://www.crunchbase.com/organization/avega-systems">Avenga Systems</a></p>