<h1>About</h1>

<p>Haul is a social commerce platform.</p>

<h2>Technolgy</h2>

<p>Our stack includes Node, Ember, Cassandra, Elasticsearch, AWS</p>


<h2>Team</h2>

<h4>Ethan Lance <small>(CEO, Co-Founder, Engineer)</small></h4>

<p>Diddy Diddy Diddy Diddy Diddy DiddyDiddy Diddy  Diddy Diddy Diddy Diddy Diddy Diddy Diddy Diddy</p>

<h4>Tim Caplis <small>(CTO, Co-Founder, Engineer)</small></h4>

<p> Diddy Diddy Diddy Diddy Diddy DiddyDiddy Diddy</p>