<div class="row">
 	<div class="col-md-8">
    	<h1>Create New Product</h1>
    </div>
    <div class="col-md-4">

	</div>
</div>



<div class="row">
	<div class="col-md-6">

		<div class="form-group">
			
			<label>Title:</label>
			<form class="form-horizontal" role="form">
			{{input id="newProduct" type="text" value=newProduct placeholder="Add new product title" class="form-control"}}
			<button class="btn btn-default" {{action 'createProduct' }} >Save</button>
			</form>

		</div>	
	</div>
	<div class="col-md-6">
		
	</div>
</div>