{{#nav-nav}}
<div class="list-group">
  {{#link-to 'about.us' class="list-group-item"}}About{{/link-to}}
  {{#link-to 'about.faq' class="list-group-item"}}FAQ{{/link-to}}
  {{#link-to 'about.tips' class="list-group-item"}}Tips &amp; Tricks{{/link-to}}
  {{#link-to 'about.tos' class="list-group-item"}}TOS{{/link-to}}
  {{#link-to 'about.privacy' class="list-group-item"}}Privacy{{/link-to}}		
</div>
{{/nav-nav}}