<h1>FAQ</h1>

<h3>What's A Post?</h3>

<p>Haul is all about allowing anyone to create and share a post.  The main rule for posts is that they have to be about an item that is for sale.  The item can either be for sale here on Haul or it can be a link to an item on another site.</p>

<h3>What's a Repost?</h3>

<p>A repost is similar to Twitter's retweet.  Anyone can repost a post -- and optionally write their own story.  The original product card will display next to each reposted post.</p>

<h3>What's a Product Card?</h3>

<p>Every post has a product card and if people repost, the same product card can appear in many posts.</p>

<p>When an item is posted for sale, a product card is created for that item and attached to the post.  The product card can <strong>only</strong> be edited by the original poster.</p>

<p>But here's what makes Haul so powerful, anyone can then repost the original post -- sharing it with their own followers -- write their own editorial about the item, and next to their new post is the original product card.  </p>

<h3>Can I Earn A Commision for Reposting?</h3>

<p>Not yet.  We're working on it though.  Imagine a feature where users with a large following, can help other sellers reach a larger audience by reposting.  We're considering a way for people to negotiate a commission between eachother.</p>

<h3>Who can sell?</h3>

<p>Currenlty we only support selling in the United States.  But we plan to expand as soon as possible.</p>

<h3>Who can buy?</h3>

<p>Anyone can buy, though for the time being we only encourage shipping within the United States.</p>


<h3>What does it cost to sell?</h3>
<h3>What does it cost to buy?</h3>
<h3>Can I create a post from my Craigslist, Ebay, etc ads?</h3>
<h3>Can I create a post if I dont own the item?</h3>


