<h1>FAQ</h1>

<h2>What's A Post?</h2>

	<p>A post is a blog post about something that is for sale. </p>
	
	<blockquote>
		<p>A post can be forsale on another website, in which case readers can follow a link to where that item can be purchased.</p>  
			
		<p class="text-center"><strong>OR</strong></p>

		<p>post can be something that you are selling right here on Haul using our checkout system.</p>
	</blockquote>


	<p class="text-center"><img class="thumbnail display-inline img-responsive" src="/assets/images/demo/post.jpg"> </p>


<h3>What's a Repost?</h3>

	<p>A repost is simply a post that has been posted again by someone.  Anyone can repost anyone's post.  It's a great way to get your posts out there.</p>



<h2>What's a Product Card?</h2>

	<p>
		Every post (repost) has a product card next to it.  When you create a new post you will be guided to enter information about the thing that is for sale, all that information goes into the product card.
	</p>

	<p class="text-center"><img class="thumbnail display-inline img-responsive" src="/assets/images/demo/product-card.jpg"> </p>




<h2>Can I Earn A Commision for Reposting?</h2>

	<p>Not yet.</p>

	<p>We're working on it though.  Imagine a feature where users with a large following, can help other sellers reach a larger audience by reposting.  We're considering a way for people to negotiate a commission between eachother.</p>



<h2>Can I post about anything?</h2>

	<p>As long as it's for sale and does not break our {{#link-to 'about.tos'}}Terms of Service{{/link-to}}</p>


<h2>Can I use Haul to promote my own Squarespace, Shoppify, Bigcommerce store?</h2>

	<p>Yep, please do! Import your items with our tool:</p>

	<p class="text-center"><img class="thumbnail display-inline img-responsive" src="assets/images/demo/import.png"/></p>

<h2>Can I post about cool stuff I found for sale on other websites?</h2>

	<p>Yep, get posting!</p>


<h2>Can I actually sell things directly on Haul?</h2>

	<p>Yep! But we only support US currency at the moment.</p>


<h2>Who can sell?</h2>

	<p>Currenlty we only support selling in the United States.  But we plan to expand as soon as possible.</p>



<h2>Who can buy?</h2>

	<p>Anyone can buy, though for the time being we only encourage shipping within the United States.</p>

{{!-- 
<h3>What does it cost to sell?</h3>
<h3>What does it cost to buy?</h3>
<h3>Can I create a post from my Craigslist, Ebay, etc ads?</h3>
<h3>Can I create a post if I dont own the item?</h3>


 --}}