<h1>Tips and Tricks</h1>

<h3>Photos</h3>


	<h4>Lighting</h4>
	<p>Your items will look best when photographed under natural light.  Don't use florescent lighting or take the photo in a dark room.</p>


	<h4>Backgrounds</h4>
	<p>Use a nice background or backdrop like a white (not black) desk or a wooden table. Don't take photos of your item lying on the floor, a couch, or with any distracting messy backgrounds.</p>


	<h4>Perspective</h4>
	<p>Photograph from your item's level.  Specially if you are tall!</p>


	<h4>Not Artsy Fartsy</h4>
	<p>Don't do artsy photos.  Those are great for Instagram, but buyers need to clearly see your item in the photography.</p>




<h3>Getting Noticed</h3>

<h3></h3>