<h1>Tips and Tricks</h1>

<h2>Importing Posts</h2>

	<p>In the top right drop down menu, select "Import Post".  You can import, and then blog about, products that are for sale on other websites.  We'll continue to make this tool better.</p>

	<p class="text-center"><img class="thumbnail display-inline" width="150px" src="assets/images/demo/import.png"/></p>

	
<h2>Your Own Photos</h2>


	<h3>Lighting</h3>
	<p>Your items will look best when photographed under natural light.  Don't use florescent lighting or take the photo in a dark room.</p>


	<h3>Backgrounds</h3>
	<p>Use a nice background or backdrop like a white (not black) desk or a wooden table. Don't take photos of your item lying on the floor, a couch, or with any distracting messy backgrounds.</p>


	<h3>Perspective</h3>
	<p>Photograph from your item's level.  Specially if you are tall!</p>


	<h3>Not Artsy Fartsy</h3>
	<p>Don't do artsy photos.  Those are great for Instagram, but buyers need to clearly see your item in the photography.</p>


<h2>Promoting Your Posts</h2>

	<p>If you think other users might like to repost something you posted, go to the comment section of your post and mention the users in a comment (for example, "Hey @exmachina check out this post and repost if you like it.")</p>

	<p class="text-center"><img class="thumbnail display-inline img-responsive"  src="assets/images/demo/comment-mention.png"/></p>