<h1>Haul Terms of Service</h1>

<p>By accessing or using the Haul website, the Haul service, or any applications (including mobile applications) made available by Haul (together, the "Service"), however accessed, you agree to be bound by these terms of use ("Terms of Use"). The Service is owned or controlled by Haul ("Haul Manor, C Corp"). These Terms of Use affect your legal rights and obligations. If you do not agree to be bound by all of these Terms of Use, do not access or use the Service.</p>


<h2>You must be old enough</h2>

<p>You must be 13 years of age or older to use Haul.  Haul will close any account that does not abide by this rule.</p>




<h2>Prohibitted Content</h2>

<p>Firstly, Haul is for blogging about things that are for sale.  Posts that do not link directly to a product for sale will be removed at Haul's discretion.</p>

<p>Secondly, Haul reserves the right to remove any posts containing illegal or innappropriate material.  We're not prudes, but let's keep this a positive experience for everyone, and make sure your posts are safe for work.</p>




<h2>We May Change Our Service</h2>

<p>We're a startup, things change fast.  At any time we may change, upgrade, remove or restrict access to parts of our service. 
</p>  



<h2>Bloggers / Curators </h2>

<p>You agree that the text of your posts is your own or is wrapped in quotation marks and appropriately cited.  You agree not to plagiarize. </p>




<h2>Buying and Selling</h2>

<p>Haul provides a blogging platform for people to sell goods to eachother.  Our service uses Braintree, a PayPal company, to allow buyers and sellers to process credit cards.  Beyond that we expect the buyer and seller to work directly with each other when it comes to returns and resolutions.</p>

<h3>Sellers</h3>

<p>We require sellers to insure all items they send to buyers through which ever delivery service they use.</p>

<h3>Buyers</h3>

<p>We ask that buyers communicate directly with the seller the moment they have an issue with their order.</p>


<h1>
	Lawyer Jargon
	<small>Straight up borrowed from our favorite blog platform.</small>
</h1>

<p>1. YOU USE THE HAUL SERVICES AT YOUR OWN RISK. THE SERVICES ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS.</p>

<p>2. HAUL MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND WITH RESPECT TO HAUL SERVICES. FOR EXAMPLE, WE DO NOT WARRANT THAT (I) THE SERVICE WILL MEET YOUR SPECIFIC REQUIREMENTS, (II) THE SERVICE WILL BE UNINTERRUPTED, TIMELY, ABSOLUTELY SECURE, OR ERROR-FREE, (III) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION, OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH THE SERVICE WILL MEET YOUR EXPECTATIONS, OR (IV) ANY ERRORS IN THE HAUL SERVICES WILL BE CORRECTED.</p>

<p>3. YOU UNDERSTAND AND EXPRESSLY AGREE THAT HAUL SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF HAUL HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM: (I) THE USE OR THE INABILITY TO USE THE SERVICE; (II) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION OR SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH OR FROM THE SERVICE; (III) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; (IV) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SERVICE; (V) OR ANY OTHER MATTER RELATING TO THE HAUL SERVICES.</p>

<p>4. THE FAILURE OF HAUL TO EXERCISE OR ENFORCE ANY RIGHT OR PROVISION OF THESE TERMS SHALL NOT CONSTITUTE A WAIVER OF THAT RIGHT OR PROVISION. THE TERMS AND OUR PRIVACY POLICY CONSTITUTE THE ENTIRE AGREEMENT BETWEEN YOU AND HAUL AND GOVERN YOUR USE OF THE HAUL SERVICES, SUPERSEDING ANY PRIOR AGREEMENTS BETWEEN YOU AND HAUL (INCLUDING, BUT NOT LIMITED TO, ANY PRIOR VERSIONS OF THE TERMS). YOU AGREE THAT THESE TERMS AND YOUR USE OF THE HAUL SERVICES ARE GOVERNED UNDER CALIFORNIA LAW. BEFORE RESORTING TO COURTS, WE STRONGLY ENCOURAGE YOU TO CONTACT US DIRECTLY TO TRY TO WORK IT OUT.</p>





