

<h1>You Found Haul</h1>


	<p>
		At Haul, we're all about <i><big>finding</big></i> things.
	</p>

	<p>
		Haul is for finding things to buy. Things that matter, that enrich your life or are just plain fun.
	</p>



<h2>Are You A Finder, Are You A Seller?</h2>

	<p>
		Haul is for blogging <i>and</i> selling.
	</p>

	<ul>
		<li>Enthusiasts, Bloggers, Instagrammers... use Haul to post things they've found for sale on 
		other websites.</li>

		<li>And if you have something to sell, you can post it for sale right here on Haul.</li>

	</ul>

	

	



<h2>Curated Posts and Community</h2>

	<p>
		Each day the team at Haul will hand pick our favorite posts from the community and spotlight them 
		on the {{#link-to 'discover'}}DISCOVER{{/link-to}} page.  
	</p>

	<p>
	 	Go ahead and drop a comment to '@haul' in the comments of your post if you think we should promote it.
	</p>




<h2>Promote Your Own Store</h2>

	<p>
		If you sell on Etsy, Shopify, Squarespace, etc, you can use Haul to promote your products.
	</p>




<h2>Contact Us</h2>

	<p>If you have questions or comments please send us an email.</p>

	<p>support@haul.io</p>
	<br/>
	<br/>
	<br/>
	<br/>



<blockquote>Have nothing in your house that you do not know to be useful, or believe to be beautiful. ~ William Morris</blockquote>






























































{{!-- 
<h1>About</h1>

<p>
	Haul is a platform for selling and blogging about things for sale.
</p>



<h3>Blogging</h3>

<p>
	At Haul you can write and share blog posts about things for sale from other websites.  
	Our 'import a link' feature makes it super easy to start a post.
</p>


<h3>Selling</h3>

<p>Anyone can become a seller on Haul.  Just start with the "ADD A NEW POST" link a the top of the page.</p>

<p>Your followers will see your post in their feed.  They may even repost it so their followers will see it.</p>


<h3>Some posts are for sale here and some aren't?</h3>

<p>
	Yup, it's pretty wild we know.  But it's what makes Haul awesome!  Some users will make posts
	that link to another site where the item is for sale.  Other users will make posts where the item is for sale 
	right here on Haul.  You might choose to do both!
</p>

<p>
	The point of Haul is to make it easy for buyers and sellers to do what they do.
</p>

<h3>Social</h3>

<p>Follow people who's feeds you love, who inspire you, who share your hobbies, interests and loves.</p>


<h3>Curated</h3>

<p>Your Haul Feed is a stream of curated content from everyone you follow.</p>




{{follow-haul}}


<h2>Team</h2>

<p>Haul is the newest endeavor of Tim Caplis (former Beats Music Principle Architect) and Ethan Lance (former co-founder of Whiskey Media).</p>

<br/> 

<div class="row">

	<div class="col-md-6 col-sm-6 col-xs-6">
		<h4>Tim Caplis <small>(CTO, Co-Founder, Engineer)</small></h4>

		<p>Formerly the Principal Architect of Beats Music which recently was aquired by Apple. Tim has been the Director of Engineering at <a href="http://www.thismoment.com">Thismoment</a>, <a href="http://www.alteclansing.com/">Altec Lansing</a> and <a href="https://www.crunchbase.com/organization/avega-systems">Avega Systems</a></p>
	</div>

	<div class="col-md-6 col-sm-6 col-xs-6">
		<h4>Ethan Lance <small>(CEO, Co-Founder, Engineer)</small></h4>

		<p>Formerly co-founded <a href="http://en.wikipedia.org/wiki/Whiskey_Media">Whiskey Media</a> a media company &amp; social wiki community.  Ethan has also been on the launch teams of <a href="http://BeatsMusic.com">BeatsMusic.com</a>, <a href="http://mp3.com">MP3.com</a>, <a href="http://tv.com">TV.com</a>, <a href="http://giantbomb.com">GiantBomb.com</a> and <a href="http://comicvine.com">Comicvine.com</a></p>

		<p>"Haul is the service I've wanted to build for the last 15 years."</p>
	</div>

	
</div> --}}




<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>









<br/>