<h1>About</h1>

<p>Haul is a creative story telling platform for selling unique, inspirational and meaningful things. We empower individuals, business and brands to buy and sell.</p>

<h3>Story Telling</h3>

<p>If what you are selling matters, there's a story to be told about it.  Haul gives you or someone who reposts your item the tools to tell that story.</p>

<p>Don't worry if you're not a writer, if you post great items for sale, some one will repost it for you with their own write up.</p>

<h3>Social</h3>

<p>Follow people who's feeds you love, who inspire you, who share your enthusiasms.</p>


<h3>Curated</h3>

<p>Your Haul Feed is a stream of curated content from everyone you follow.  Haul encourages anyone to reblog and post they love.</p>




{{follow-haul}}


<h2>Team</h2>

<p>Haul is the newest endeavor of Tim Caplis (former Beats Music Principle Architect) and Ethan Lance (former co-founder of Whiskey Media).</p>

<br/> 

<div class="row">

	<div class="col-md-6 col-sm-6 col-xs-6">
		<h4>Tim Caplis <small>(CTO, Co-Founder, Engineer)</small></h4>

		<p>Formerly the Principal Architect of Beats Music which recently was aquired by Apple. Tim has been the Director of Engineering at <a href="http://www.thismoment.com">Thismoment</a>, <a href="http://www.alteclansing.com/">Altec Lansing</a> and <a href="https://www.crunchbase.com/organization/avega-systems">Avenga Systems</a></p>
	</div>

	<div class="col-md-6 col-sm-6 col-xs-6">
		<h4>Ethan Lance <small>(CEO, Co-Founder, Engineer)</small></h4>

		<p>Formerly co-founded <a href="http://en.wikipedia.org/wiki/Whiskey_Media">Whiskey Media</a> a media company &amp; social wiki community.  Ethan has also been on the launch teams of <a href="http://BeatsMusic.com">BeatsMusic.com</a>, <a href="http://mp3.com">MP3.com</a>, <a href="http://tv.com">TV.com</a>, <a href="http://giantbomb.com">GiantBomb.com</a> and <a href="http://comicvine.com">Comicvine.com</a></p>

		<p>"Haul is the service I've wanted to build for the last 15 years."</p>
	</div>

	
</div>




<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>









<br/>