<div class="navbar navbar-default navbar-static-top" role="navigation">
	
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
				
		<div class="logo-outer">
			{{#link-to "base"}}Haul{{/link-to}}
		</div>
	</div>

 	<div class="navbar-center navbar-collapse collapse">
		<form class="navbar-form" role="search">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</form>
	</div>

	<div class="navbar-right navbar-collapse collapse">
		
		{{#if  controllers.auth.currentUser }}
		<div class="btn-group navbar-profile">
			<button type="button" class="btn btn-default">
			{{#link-to 'products' controllers.auth.currentUser.slug}}
				<img {{bind-attr src=controllers.auth.currentUser.picture}}> 
				<span class="profile-name">{{ controllers.auth.currentUser.name }}</span>
		  	{{/link-to}}
			</button>
		  <div class="btn-group">
		    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		      <span class="glyphicon glyphicon-cog"></span>
		    </button>
		    <ul class="dropdown-menu" role="menu">
				<li>{{#link-to 'account.settings'}}Settings{{/link-to}}</li> 
				<li>{{#link-to 'account.help'}}Help{{/link-to}}</li> 
				<li class="divider"></li> 
				<li>{{#link-to 'logout'}}Logout{{/link-to}}</li>
		    </ul>
		  </div>
		</div> 

		{{else}}


		<div class="navbar-profile">
			{{#link-to 'signup'}}<button type="button" class="btn btn-default signup">SIGNUP</button>{{/link-to}}
			{{#link-to 'login'}}<button type="button" class="btn btn-default">LOGIN</button>{{/link-to}}
		</div>

		{{/if}}

	</div> 
</div>