<div class="edit-row">
	<div class="edit-col">

		<h2>Edit your post

			<small>Tell a us story about this product.</small>

		</h2>

		{{input subject label="false" class="post-subject" }} 

		{{quill-editor 
			setEditorImgSrc=setEditorImgSrc
			setEditorText=setEditorText 
			content=body
			quillChange='quillChange' 
			requestContents=requestEditorContents
			selectedImages=selectedImages
			triggerResize=triggerEditorResize
		}} 

	</div>
</div>	


	
