

	{{input subject canShowValidationError=showErrors placeholder="A Catchy Title..."}} 
	


	{{quill-editor content=editorialForQuill selectedImages=selectedImages  quillChange='quillChange' Haul=Haul}}


	<small class='pull-left'>Drag images into your post.</small>
	<small class='pull-right'>Don't forget to add #hashtags</small>
	{{#if showErrors}}<span class="has-error help-block">{{error-field body}}</span>{{/if}}			