<div class="edit-row">
	<div class="edit-col">

		<h2>A Catchy Post Title</h2>

		{{input subject label="false" class="post-subject" placeholder="Title of your post"}} 

		

		<h2>Your Post's Main Image</h2>

		{{image-uploader 

			singleImage=image 

			imageHasUploaded='mainImageChanged'

			singleImageButtonText='change'

		}}
		


		{{quill-editor 
			
			setEditorImgSrc=setEditorImgSrc
			
			setEditorText=setEditorText 
			
			content=body
			
			quillChange='quillChange' 
			
			requestContents=requestEditorContents
			
			selectedImages=selectedImages
			
		}} 

	</div>
</div>	


	
