



	  {{#if error404}}
	  	<div class="alert">Sorry, you need to sign up and create an account first.<br/>Go to {{#link-to 'signup'}}Sign Up{{/link-to}}</div>
	  {{/if}}

	<div class="form-group">

		{{ladda-btn 
			name='Sign in with Facebook'
			btnClasses='btn btn-block btn-facebook ladda-button'
			btnClick='facebookLogin'
			spin=isProcessingFacebook
		}}

    </div> 


	<div class="form-group padding-top">
		<h3>or with your email & password</h3>
	</div>

	{{#form-for model}}

	  {{#if error}}
	    <div class="alert">Invalid username or password.</div>
	  {{/if}} 
	  
	  {{#if error409}}
	    <div class="alert">Your email needs to be validated before you can Sign in.</div>
	  {{/if}} 


	  	<div class="form-group" >
      		{{input email placeholder="email address" label="false"}}
      	</div>

 		<div class="form-group">	
      		{{input password placeholder="password" label="false"}}
		</div> 

		<div class="form-group">
			{{ladda-btn 
				name='Sign In'
				btnClasses='btn btn-primary btn-block ladda-button'
				btnClick='emailLogin'
				spin=isProcessingLogin
			}}
	  	</div>

	  	<div class="text-right">
	  		<span class="muted"><a href="/forgot-password">Forgot Password?</a></span>
	  	</div>

	{{/form-for}} 
			