<nav>
	<div class="nav">
		<div class="logo">HAUL</div>
		<button {{action 'cancel'}} {{bind-attr class="hideCancelBtn:hide:show :nav-cancel-post"}}> <i class="fa fa-times"></i> CANCEL</button>
	</div>
</nav>