<div {{bind-attr class="serverErrorMessageShow:show:hide :alert :alert-danger"}} role="alert"><button {{action 'closeServerError' }} type="button" class="close" ><span aria-hidden="true">&times;</span></button> {{{serverErrorMessage}}}
</div>