<div class="container">
	<div class="haul-content">
		<div class="hamburger-left-side">



			{{!-- FIXED LEFT --}}
			{{!-- FIXED LEFT --}}
			{{!-- FIXED LEFT --}}
			{{!-- FIXED LEFT --}}
			<div class="haul-fixed-left">
				<div class="haul-fixed-content">
					{{outlet 'nav'}}
				</div>
			</div>


	
			{{!-- HAMBURGER ICON, WHEN LEFT NAV IS COLAPSED --}}
			{{!-- HAMBURGER ICON, WHEN LEFT NAV IS COLAPSED --}}
			{{!-- HAMBURGER ICON, WHEN LEFT NAV IS COLAPSED --}}
			{{!-- HAMBURGER ICON, WHEN LEFT NAV IS COLAPSED --}}
			{{!-- HAMBURGER ICON, WHEN LEFT NAV IS COLAPSED --}}	
			{{hamburger-menu}}
			<input type="checkbox" id="hamburger-trigger" class="hamburger" />
			<label for="hamburger-trigger" class="with-page-header  fa fa-bars"></label>

		
			{{!-- FLUID RIGHT --}}
			{{!-- FLUID RIGHT --}}
			{{!-- FLUID RIGHT --}}
			{{!-- FLUID RIGHT --}}
			<div class="haul-fluid-right"> 
				<div class="haul-fluid-content">
					<div class="margin-left">
						{{outlet}}
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
