<div class="container-fluid">
<div class="haul-content">	
	<div class="row">
		<div class="col-md-12 col-xs-12 col-sm-12">

			<div class="about">
			<h1>Finders, Keepers, Sellers.</h1>


				<p>
					At Haul, we're all about helping people find, buy, and even sell cool things with a whole community of like-minded people, bloggers, and sellers. Haul is the answer to every enthusiasts problem: Where can you get a relevant, fresh feed of unique and quality things to buy from authentic sources? The answer is Haul.
				</p>

				<h2>Haul is not a closed marketplace.</h2>
				<p>Goods posted on Haul can be from fan enthusiats or from sellers themselves. Items can be sold right here on Haul, or posts can link out to wherever they may be for sale. It's all about presenting the best stuff to you, the stuff that you care about, the good stuff.</p>

				

			<h2>Finding the good stuff.</h2>

			<p>
					Haul is for finding things to buy. Things that matter to you, the things that enrich your life, or are just plain fun. On Haul, you'll find curated posts for unique quality goods from bloggers, sellers, and other enthusits like yourself.
				</p>
				<p>Each day the team at Haul will hand pick our favorite posts from the community and spotlight them on the {{#link-to 'discover'}}DISCOVER{{/link-to}} page. 
				</p>


			<h2>Blog about things for sale.</h2>

				<p>Enthusiasts, Bloggers, Instagrammers all use Haul to post things they've found for sale on other websites.</p>

				<p>
					If you sell on Etsy, Shopify, Squarespace, etc, you can use Haul to promote your products, and expand your reach to a passionate and engaged community of buyers.
				</p>

				<p>Go ahead and drop a comment to '@haul' in the comments of your post if you think we should promote it.</p>


			<h2>Sell something on Haul.</h2>

				<p>If you want, you can sell your own things right here on Haul. No need to set up a website, open a store, or drive a truck around. Haul's commerce platform is rock solid. We'll process all the payments for you.</p>




					









			<h2>Contact.</h2>

				<p>If you have questions or comments please send us an email.</p>

				<p>support@haul.io</p>
				<br/>
				<br/>
				<br/>
				<br/>



			<blockquote>Have nothing in your house that you do not know to be useful, or believe to be beautiful. ~ William Morris</blockquote>

			</div>




























































			{{!-- 
			<h1>About</h1>

			<p>
				Haul is a platform for selling and blogging about things for sale.
			</p>



			<h3>Blogging</h3>

			<p>
				At Haul you can write and share blog posts about things for sale from other websites.  
				Our 'import a link' feature makes it super easy to start a post.
			</p>


			<h3>Selling</h3>

			<p>Anyone can become a seller on Haul.  Just start with the "ADD A NEW POST" link a the top of the page.</p>

			<p>Your followers will see your post in their feed.  They may even repost it so their followers will see it.</p>


			<h3>Some posts are for sale here and some aren't?</h3>

			<p>
				Yup, it's pretty wild we know.  But it's what makes Haul awesome!  Some users will make posts
				that link to another site where the item is for sale.  Other users will make posts where the item is for sale 
				right here on Haul.  You might choose to do both!
			</p>

			<p>
				The point of Haul is to make it easy for buyers and sellers to do what they do.
			</p>

			<h3>Social</h3>

			<p>Follow people who's feeds you love, who inspire you, who share your hobbies, interests and loves.</p>


			<h3>Curated</h3>

			<p>Your Haul Feed is a stream of curated content from everyone you follow.</p>




			{{follow-haul}}


			<h2>Team</h2>

			<p>Haul is the newest endeavor of Tim Caplis (former Beats Music Principle Architect) and Ethan Lance (former co-founder of Whiskey Media).</p>

			<br/> 

			<div class="row">

				<div class="col-md-6 col-sm-6 col-xs-6">
					<h4>Tim Caplis <small>(CTO, Co-Founder, Engineer)</small></h4>

					<p>Formerly the Principal Architect of Beats Music which recently was aquired by Apple. Tim has been the Director of Engineering at <a href="http://www.thismoment.com">Thismoment</a>, <a href="http://www.alteclansing.com/">Altec Lansing</a> and <a href="https://www.crunchbase.com/organization/avega-systems">Avega Systems</a></p>
				</div>

				<div class="col-md-6 col-sm-6 col-xs-6">
					<h4>Ethan Lance <small>(CEO, Co-Founder, Engineer)</small></h4>

					<p>Formerly co-founded <a href="http://en.wikipedia.org/wiki/Whiskey_Media">Whiskey Media</a> a media company &amp; social wiki community.  Ethan has also been on the launch teams of <a href="http://BeatsMusic.com">BeatsMusic.com</a>, <a href="http://mp3.com">MP3.com</a>, <a href="http://tv.com">TV.com</a>, <a href="http://giantbomb.com">GiantBomb.com</a> and <a href="http://comicvine.com">Comicvine.com</a></p>

					<p>"Haul is the service I've wanted to build for the last 15 years."</p>
				</div>

				
			</div> --}}




			<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>









			<br/>
		</div>
	</div>
</div>
</div>