<a href="https://www.facebook.com/haulmanor"><img class="footer-social-icon" src="/assets/images/social/facebook_square.png" /></a>
<a href="https://twitter.com/haul_io"><img class="footer-social-icon" src="/assets/images/social/twitter_square.png" /></a>
<a href="https://instagram.com/haul.io/"><img class="footer-social-icon" src="/assets/images/social/instagram_square.png" /></a>