<a href="https://www.facebook.com/haulmanor"><i class="fa fa-facebook-square social-icon"></i></a>
<a href="https://twitter.com/haul_io"><i class="fa fa-twitter-square social-icon"></i></a>
<a href="https://instagram.com/haul.io/"><i class="fa fa-instagram social-icon"></i></a>
