{{header-site
	goToRoute='goToRoute'
	openModal='openModal'}}

	<div class="container no-margins">
		<div class="haul-content">
			<div class="haul-col-menu"> 
				<div class="list-group">
				  {{#link-to 'haul.about' class="list-group-item"}}About{{/link-to}}
				  {{#link-to 'haul.faq' class="list-group-item"}}FAQ{{/link-to}}
				  {{#link-to 'haul.tips' class="list-group-item"}}Tips &amp; Tricks{{/link-to}}
				  {{#link-to 'haul.tos' class="list-group-item"}}TOS{{/link-to}}
				  {{#link-to 'haul.privacy' class="list-group-item"}}Privacy{{/link-to}}		
				 </div>
			</div>

			<input type="checkbox" id="nav-trigger" class="nav-trigger" />
			<label for="nav-trigger"></label>

			<div class="haul-col-content">

				<div class="haul-content">
					{{outlet}}
				</div>

			</div>
		</div>
	</div>