{{!-- STORE TEMPLATE --}}


<div class="container content-fixed-nav home padding-bottom">
    <div class="row">
        <div class="col-md-12">

            <h1 class="haul-font">
                Our Featured Stores of the Week
                <br/><small>Communities & Stuff We Love</small>
            </h1> 


            <div class="container">

                <div class="haul-grid-li home"> 
                    <img class="thumbnail" src="http://s3.amazonaws.com/static.haul.io/images/local/dfcc3e70-6aef-11e4-ba33-fbf4d2db086d/small">
                    <div class="info">      
                        <div class="price">Super7 Club 
                            <span class="small text-regular">(35 new items)</span>
                        </div> 
                    </div>
                    <div class="description">
                    
                        We're a community of vintage-style
                        Japanese clothing...
                    
                   </div>
                </div>


                <div class="haul-grid-li home"> 
                    <img class="thumbnail" src="http://s3.amazonaws.com/static.haul.io/images/local/6a0a9ae0-6af1-11e4-ba33-fbf4d2db086d/small">
                    <div class="info">      
                        <div class="price">Twisted Sifter 
                            <span class="small text-regular">(7 new items)</span>
                        </div>   
                    </div>
                    <div class="description"> 
                            Twisted Sifter is the place for finding art, prints... 
                   </div>
                </div>

                <div class="haul-grid-li home"> 
                    <img class="thumbnail" src="http://s3.amazonaws.com/static.haul.io/images/local/f219bb40-6af2-11e4-ba33-fbf4d2db086d/small">
                    <div class="info">      
                        <div class="price">JDM Rats 
                            <span class="small text-regular">(19 new items)</span>
                        </div>   
                    </div>
                    <div class="description"> 
                            The largest JDM community of parts and cars for sale... 
                   </div>
                </div>


                <div class="haul-grid-li home"> 
                    <img class="thumbnail" src="http://s3.amazonaws.com/static.haul.io/images/local/2d55a6f0-6af4-11e4-ba33-fbf4d2db086d/small">
                    <div class="info">      
                        <div class="price">We 8> Modcloth
                            <span class="small text-regular">(14 new items)</span>
                        </div>   
                    </div>
                    <div class="description"> 
                            We help you re-sell your outfits, so you can buy more... 
                   </div>
                </div>

                <div class="clearfix"></div>
            
            </div>

        </div>
    </div>


    <div class="row padding-top padding-bottom">
        <div class="col-md-12 haul-font">
            <h2>New &amp; Hot For Sale</h2>


            <div class="haul-grid-li home"> 
                <img class="thumbnail" src="http://s3.amazonaws.com/static.haul.io/images/local/64b83d20-6b02-11e4-ba33-fbf4d2db086d/small">
                <div class="info">      
                    <div class="price">$225
                    </div>   
                </div> 
            </div>         

            <div class="haul-grid-li home"> 
                <img class="thumbnail" src="http://s3.amazonaws.com/static.haul.io/images/local/3cd70310-6b05-11e4-ba33-fbf4d2db086d/small">
                <div class="info">      
                    <div class="price">$80
                    </div>   
                </div> 
            </div>    

            <div class="haul-grid-li home"> 
                <img class="thumbnail" src="http://s3.amazonaws.com/static.haul.io/images/local/34669710-6b03-11e4-ba33-fbf4d2db086d/small">
                <div class="info">      
                    <div class="price">$300
                    </div>   
                </div> 
            </div> 

            <div class="haul-grid-li home"> 
                <img class="thumbnail" src="http://s3.amazonaws.com/static.haul.io/images/local/709c4180-6b03-11e4-ba33-fbf4d2db086d/small">
                <div class="info">      
                    <div class="price">$1300
                    </div>   
                </div> 
            </div> 


            <div class="haul-grid-li home"> 
                <img class="thumbnail" src="http://s3.amazonaws.com/static.haul.io/images/local/a79ff730-6b03-11e4-ba33-fbf4d2db086d/small">
                <div class="info">      
                    <div class="price">$725
                    </div>   
                </div> 
            </div> 

            <div class="haul-grid-li home"> 
                <img class="thumbnail" src="http://s3.amazonaws.com/static.haul.io/images/local/e7681730-6b03-11e4-ba33-fbf4d2db086d/small">
                <div class="info">      
                    <div class="price">$1550
                    </div>   
                </div> 
            </div> 


            <div class="haul-grid-li home"> 
                <img class="thumbnail" src="http://s3.amazonaws.com/static.haul.io/images/local/1bdce4a0-6b04-11e4-ba33-fbf4d2db086d/small">
                <div class="info">      
                    <div class="price">$20
                    </div>   
                </div> 
            </div>             

            <div class="haul-grid-li home"> 
                <img class="thumbnail" src="http://s3.amazonaws.com/static.haul.io/images/local/01b14200-6b05-11e4-ba33-fbf4d2db086d/small">
                <div class="info">      
                    <div class="price">$30
                    </div>   
                </div> 
            </div>    
        </div>
    </div>

    <div class="row padding-top well haul-font">
        <h2 class="haul-font">Community Collectionplaces</h2>

        <div class="col-md-4">
            <h3>Who Can Sell?</h3>
            <p>You can.  Anyone can. More...</p>

            <h3>Who Can Buy?</h3>
            <p>You can! More...</p>
        </div>
        <div class="col-md-4">
            <h3>What's a Haul Store?</h3>
            <p>
                Add any item from Haul to your store.  
                The item does not have to be yours.  
            </p>

            <p>It's like Pinterest meets eBay, 
                but you earn a commission if the item sells from your store. More...</p>

            </p>
        </div>
        <div class="col-md-4">
            <h3>Stores Are Perfect For</h3>
            <ul>
                <li>Community Managers</li>
                <li>Bloggers</li>
                <li>Tastemakers</li>
                <li>Curators</li> 
                <li>Clubs</li>
            </ul>
        </div>
    </div>


    <div class="row padding-top">
        <div class="col-md-12 well">
        <h2 class="haul-font">Trending Categories</h2>

        <div class="row">
            <div class="col-md-6">
                <div class="list-group"> 
                  <a href="#" class="list-group-item">Fashion</a>
                  <a href="#" class="list-group-item">Art</a>
                  <a href="#" class="list-group-item">Fashion</a>
                  <a href="#" class="list-group-item">Crafts</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="list-group"> 
                  <a href="#" class="list-group-item">Motors</a>
                  <a href="#" class="list-group-item">Tech Gear, Cameras</a>
                  <a href="#" class="list-group-item">Collectibles</a>
                  <a href="#" class="list-group-item">More...</a>
                </div>
            </div>
        </div>
    </div>
</div>