{{preserve-scroll currentScrollPos=currentScrollPos}}

<div class="container-fluid">

	<div class="haul-wrapper2">

		<div class="haul-content2">

			<div class="col-left2"> 



				{{!-- ONBOARDING --}}
				{{!-- ONBOARDING --}}
				{{!-- ONBOARDING --}}
				{{!-- ONBOARDING --}}
				{{#if showOnboarding}}
					{{onboarding-userstofollow}}
				{{/if}}
				

				{{!-- FEED --}}
				{{!-- FEED --}}
				{{!-- FEED --}}
				{{!-- FEED --}}
				{{!-- FEED --}}
				{{!-- FEED --}} 
				{{#each post in sortedContent}}
					{{partial 'feed_post'}}	
				{{/each}} 
				{{#infinite-scroll content=pagedContent hasMore=paginateHasMore }}
					<i class="fa fa-circle-o-notch fa-spin"></i>
				{{/infinite-scroll}}


	 
			</div>

			<div class="col-right2 grey">
				<div class="message-center">

					<h2>NOTIFICATIONS</h2>
					
					{{mention-pod goToRoute="goToRoute"}}

				</div>
			</div>
		</div> 
	</div>
</div>