{{#modal-modal animateClose=animateClose closeModal='closeModal'}}
<div class="modal-dialog lg text-left">
	<div class="modal-content">
		
		{{partial "_modal_nav"}}

		<div class="text-center edit-wrapper">
			<div class="edit-row">
				<div class="edit-col">

					
					<h1 class="modal-title" id="myModalLabel">
						Sign in to Haul<!--<a class="or" {{action 'openModal' 'signupmodal'}}>or create an account</a>-->
					</h1>
			
					{{partial "_login"}}

				</div>
			</div>
		</div>
	</div>
</div>
{{/modal-modal}}