{{#modal-modal animateClose=animateClose closeModal='closeModal'}}
<div class="modal-dialog lg text-left">
	<div class="modal-content">
		
		{{partial "_modal_nav"}}

		<div class="text-center edit-wrapper">
			<div class="edit-row">
				<div class="edit-col">

					
					<h1 class="modal-title" id="myModalLabel">
						Welcome back. Please sign in.
					</h1>
					<h3>( Don't have an account yet? <a class="or" {{action 'openModal' 'signupmodal'}}>Sign up today!</a> )</h3>
			
					{{partial "_login"}}

				</div>
			</div>
		</div>
	</div>
</div>
{{/modal-modal}}