
    <div class="container">
        <div class="row">
        	<div class="col-md-4 col-sm-2 col-xs-2"></div>
			<div class="col-md-4 col-sm-8 col-xs-8 form-box">

			{{#if showSuccess}}
				<h2 class="form-signin-heading">
					Password changed! 
				</h2>

				<p>{{#link-to 'login'}}<button class="btn btn-default btn-block ">Go Login!</button>{{/link-to}}</p>

			{{else}}
            	

				<div class="form-group">
					<h2 class="form-signin-heading">
						Change Your Password<br/> 
					</h2>
				</div> 
				
				{{#if error}}
					<div class="alert">Oops, that did not work out.</div>
				{{/if}}

				{{#form-for model}}
		 
			 		<div class="form-group">	
			 			{{input password placeholder="New Password" label="false"}} 
					</div>  

					<div class="form-group">
						{{ladda-btn 
							name='Change Password'
							btnClasses='btn btn-primary btn-block ladda-button'
							btnClick='submit'
							spin=isProcessing
						}}
				  	</div>

				{{/form-for}} 

				
			{{/if}}

			</div>
			<div class="col-md-4 col-sm-2 col-xs-2"></div>
        </div>
    </div>
