
<div class="container no-margins">
	<div class="haul-content">
		<div class="haul-col-menu"> 
			{{outlet 'nav'}}
		</div>

		<input type="checkbox" id="nav-trigger" class="nav-trigger" />
		<label for="nav-trigger"></label>

		<div class="haul-col-content">

			<div class="haul-content">
				{{outlet}}
			</div>

		</div>
	</div>
</div>
