<div class="container content-fixed-nav home padding-bottom">


	<div class="row"> 

		<div class="col-md-12">

			<div class="panel panel-default margin-top">
			  <!-- Default panel contents -->
			  <div class="panel-heading">Settings</div>
			  <div class="panel-body"> 
			   {{!--  {{ icon-maker item=user Haul=Haul}}  --}}
			  </div> 
			</div> 
		</div>
	</div>
</div>