{{header-site
	goToRoute='goToRoute'
	openModal='openModal'
}}
<div class="container no-margins">
	<div class="haul-content">
		<div class="haul-col-menu"> 
			<div class="list-group">
			  	{{#link-to 'settings.profile' class="list-group-item"}}Change Icon{{/link-to}}
			  	{{#link-to 'settings.seller' class="list-group-item"}}Seller Account {{/link-to}}
			  	{{#link-to 'settings.buyer' class="list-group-item"}}Buyer Account {{/link-to}}
			  	{{#link-to 'settings.username' class="list-group-item"}}Change Username {{/link-to}}
			  	{{#link-to 'settings.password' class="list-group-item"}}Change Password {{/link-to}}

			 </div>
		</div>

		<input type="checkbox" id="nav-trigger" class="nav-trigger" />
		<label for="nav-trigger"></label>

		<div class="haul-col-content">

			<div class="haul-content">
				{{outlet}}
			</div>

		</div>
	</div>
</div>
