{{header-site}}

<div class="container-fluid haul-jargon">
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-3 nav-column">
			<div class="list-group">
			  {{#link-to 'settings.profile' class="list-group-item"}}Edit Profile{{/link-to}}
			  {{#link-to 'settings.password' class="list-group-item"}}Change Password{{/link-to}}
			</div>
		</div>
		<div class="col-md-9 col-sm-9 col-xs-9">
			{{outlet}}
		</div>
	</div>
</div>