{{#modal-modal animateClose=animateClose closeModal='closeModal'}}
<div class="modal-dialog lg text-left">
	<div class="modal-content">
		<div class="text-center edit-wrapper">
			<div class="edit-row">
				<div class="edit-col">

					<button {{action 'close'}} type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

					<h1 class="modal-title" id="myModalLabel">
						Sign up for a new Haul account <!-- <a class="or" {{action 'openModal' 'loginmodal'}}>or Login</a>-->
					</h1>
			
					{{partial "_signup"}}

				</div>
			</div>
		</div>
	</div>
</div>
{{/modal-modal}}