{{#modal-modal animateClose=animateClose closeModal='closeModal'}}
<div class="modal-dialog lg text-left">
	<div class="modal-content">

		{{partial "_modal_nav"}}
	
		<div class="text-center edit-wrapper">
			<div class="edit-row">
				<div class="edit-col">

					{{#unless error409}}
    				{{#unless emailRegistrationRequested}}

					<h1 class="modal-title" id="myModalLabel">
						Sign up and start buying, selling, and blogging today.
					</h1>
					<h3>( Already have an account? <a class="or" {{action 'openModal' 'login'}}>Sign in</a> )</h3>
					{{/unless}}
					{{/unless}}
			
					{{partial "_signup"}}

				</div>
			</div>
		</div>
	</div>
</div>
{{/modal-modal}}