{{#modal-modal animateClose=animateClose closeModal='closeModal'}}
<div class="modal-dialog lg text-left">
	<div class="modal-content">

		{{partial "_modal_nav"}}
	
		<div class="text-center edit-wrapper">
			<div class="edit-row">
				<div class="edit-col">

					
					<h1 class="modal-title" id="myModalLabel">
						Sign up for a new Haul account <!-- <a class="or" {{action 'openModal' 'loginmodal'}}>or Login</a>-->
					</h1>
			
					{{partial "_signup"}}

				</div>
			</div>
		</div>
	</div>
</div>
{{/modal-modal}}